<div class="row">
    <div class="col">
        <div class="row">
            <div class="col box" style="padding-top: 20px; padding-bottom: 20px;">
                <h4>Your Account</h4>
                <hr>
                <div class="row">
                    <div class="col">
                        Account Name: <i class="username">Loading...</i>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col" id="bs_alertBox"
                         style="border: #ff0000 1px solid; background-color: rgba(255,0,0,0.1); display: none;padding-top: 5px">
                        Test
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col box">
                    <h4>Discord</h4>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h5>Link Status</h5>
                            <p id="linkedAccount">loading...</p>
                        </div>
                        <div class="col">
                            <h5>Link your account</h5>
                            <div id="linkBTN">Loading...</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5>How to link:</h5>
                            <ol>
                                <li>Press on <i>Start link!</i> or <i>Restart link!</i> above</li>
                                <li id="command" style="display: none;">Execute <i>/link</i> <i class="username"></i> <i class="TOKEN">TOKEN</i></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col box">
        <h4>Notifications <button class="btn btn-info material-symbols-outlined inline-icon" onclick="reloadNotifications(this)">refresh</button></h4>
        <hr>
        <div id="notificationsBox">
            <i>Loading...</i>
        </div>
    </div>
</div>


<script>

    function initAccount() {
        updateNotifications();
        updateUI();

    }

    function updateUI(){
        $(".username").html(currentUser.getName());
        if (currentUser.getId().length===0){
            setHTML("linkedAccount","You are currently not linked with any discord account!")
            if (currentUser.getLinkToken()!==undefined&&currentUser.getLinkToken().length!==0){
                setHTML("linkBTN","Your Link token: "+currentUser.getLinkToken())
                $(".TOKEN").html(currentUser.getLinkToken());
                $("#command").show();
            }else{
                setHTML("linkBTN",'<button class="btn btn-success" onclick=\'startLink()\'>Start link!</button>')
            }
        }else{
            var member = discordManager.getMember(currentUser.getId());
            if (member===undefined){
                member = "Member not found!"
            }else{
                member = member.displayName
            }
            setHTML("linkedAccount","You are linked with <i>@"+member+"</i>")


            if (currentUser.getLinkToken()!==undefined&&currentUser.getLinkToken().length!==0){
                setHTML("linkBTN","Your Link token: "+currentUser.getLinkToken())
                $(".TOKEN").html(currentUser.getLinkToken());
                $("#command").show();
            }else{
                setHTML("linkBTN",'<button class="btn btn-warning" onclick=\'startLink()\'>Restart link!</button> <button class="btn btn-danger" data-step="0" onclick=\'removeLink(this)\'>Remove Link</button>')
            }
        }
    }

    function removeLink(btn){
        btn = $(btn);
        if (btn.attr("data-step")==="0"){
            btn.attr("data-step","1")
            btn.html("Sure?");
            return;
        }
        $("#command").hide();
        currentUser.removeLink(cb=>{
            updateUI();
        });
    }

    function startLink(){
        currentUser.startLink((result)=>{
            if (result.type==="OK"){
                setHTML("linkBTN","Your Link token: "+result.token)
                $(".TOKEN").html(result.token);
                $("#command").show();
            }else{
                setHTML("linkBTN","<button class=\"btn btn-danger\" onclick='startLink()'>Start link Failed!</button>")
            }
        })
    }



    initAccount();
</script>