<div class="row">
    <div class="col-xl-9 box" style="padding-top: 20px; padding-bottom: 20px;padding-right: 0">
        <h4>Cloudy Console</h4>
        <hr>
        <div class="row" style="display: inline-block; width: 100%">
            <div class="col log" id="log" onmouseenter="autoScroll=false" onmouseleave="autoScroll=true"
                 style="margin-left: 5px">
                Loading...
            </div>
            <input type="text" id="cmdLine" onkeydown="commandConsole.handleTab(event)"
                   onkeyup="commandConsole.updateAutocomplete(this,event)" placeholder=">" autocomplete="off"
                   aria-autocomplete="none" style="margin-bottom: 1em; margin-top: 1em;margin-left: 5px"
                   title="Enter command">
            <button class="btn btn-info mb-1" id="sendCMD" style="margin-left: 5px" onclick="sendCommand()">Send
            </button>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col" id="alertBox"
                 style="border: #ff0000 1px solid; background-color: rgba(255,0,0,0.1); display: none;padding-top: 5px">
                Test
            </div>
        </div>

    </div>
    <div class="col-sm box" id="cmdBox" style="padding-top: 20px; padding-bottom: 20px; padding-right: 0;">
        <h4>Console commands</h4>
        <hr>
        <div id="commands">
            <div class="row command">
                <div class="col">
                    <h5>Loading...</h5>
                    <p>Description</p>
                    <p>Usage: <i style="cursor: pointer">test (blah)</i></p>
                    <p>Required permissions:</p>
                    <ul>
                        <li>Loading...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var lastCommands = [];
    var index = -1;
    var commandsContextMenu;
    var consoleContextMenu;

    var boxHeight = 250;
    var yOffset = 10;

    var commandConsole = {
        autocompleteTimeout: undefined,
        autocompleteBox: undefined,
        handleAutocomplete(arg) {
            const cmdLine = $("#cmdLine");
            const string = cmdLine.val();
            const args = string.split(" ");
            args[args.length - 1] = arg;
            var newString = "";
            var i = 0;
            args.forEach(a => {
                if (i === 0) {
                    newString += a;
                    i++;
                } else {
                    newString += " " + a;
                }
            })
            cmdLine.val(newString);
            if (this.autocompleteBox !== undefined && this.autocompleteBox !== null) {
                $(this.autocompleteBox).hide();
            }
            this.selectedIndex = -1;
            this.autocompleteBox = undefined;
            cmdLine.focus();
        },
        updateAutocomplete(elm,event) {
            if (event.keyCode === 9||event.keyCode === 13||event.keyCode === 27) return;
            const element = elm;
            elm = $(elm);
            if (elm.val().length === 0) {
                if (this.autocompleteBox !== undefined && this.autocompleteBox !== null) {
                    this.autocompleteBox.style = "display: none";
                }
                return;
            }
            if (this.autocompleteTimeout !== undefined) {
                clearTimeout(this.autocompleteTimeout);
            }
            this.autocompleteTimeout = setTimeout(() => {
                $.post("/console", {
                    autocomplete: elm.val()
                }, (json) => {
                    if (json.autocomplete.length === 0) {
                        if (this.autocompleteBox !== undefined && this.autocompleteBox !== null) {
                            this.autocompleteBox.style = "display: none";
                        }
                        return;
                    }
                    var html = "";
                    json.autocomplete.forEach((arg) => {
                        if (typeof arg === "string"){
                            html += "<div class='row hover' data-autocomplete-row='"+arg+"' style='cursor: pointer; padding: 5px;' onclick='commandConsole.handleAutocomplete(\"" + arg + "\")'>";
                            html += "<div class='col'>";
                            html += arg;
                            html += "</div>";
                            html += "</div>";
                        }else{
                            html += "<div class='row hover' data-autocomplete-row='"+arg.value+"' style='cursor: pointer; padding: 5px;' onclick='commandConsole.handleAutocomplete(\"" + arg.value + "\")'>";
                            html += "<div class='col'>";
                            html += arg.name + " <small>- "+arg.value+"</small>";
                            html += "</div>";
                            html += "</div>";
                        }

                    })
                    this.autocompleteBox = document.getElementById("autocompleteBox")
                    if (this.autocompleteBox === undefined || this.autocompleteBox === null) {
                        this.autocompleteBox = document.createElement("div");
                        this.autocompleteBox.id = "autocompleteBox";
                        const rect = element.getBoundingClientRect();
                        this.autocompleteBox.style = "position: absolute; " +
                            "z-index: 10; " +
                            "width: " + rect.width + "px; " +
                            "min-height: 50px; " +
                            "max-height: " + boxHeight + "px; " +
                            "background-color: #4f4f4f; " +
                            "top: " + (rect.y - boxHeight + yOffset) + "px; " +
                            "left: " + rect.x + "px;" +
                            "border-radius: 2px;" +
                            "border: 1px solid rgb(115, 115, 115);" +
                            "overflow-x: hidden;" +
                            "overflow-y: auto;";
                        this.autocompleteBox.innerHTML = html;
                        document.getElementsByTagName("body")[0].appendChild(this.autocompleteBox);
                    } else {
                        const rect = element.getBoundingClientRect();
                        this.autocompleteBox.style = "position: absolute; " +
                            "z-index: 10; " +
                            "width: " + rect.width + "px; " +
                            "min-height: 50px; " +
                            "max-height: " + boxHeight + "px; " +
                            "background-color: #4f4f4f; " +
                            "top: " + (rect.y - boxHeight + yOffset) + "px; " +
                            "left: " + rect.x + "px;" +
                            "border-radius: 2px;" +
                            "border: 1px solid rgb(115, 115, 115);" +
                            "overflow-x: hidden;" +
                            "overflow-y: auto;";
                        this.autocompleteBox.innerHTML = html;
                    }
                    this.selectedIndex = -1;
                    this.reposition();
                    registerNavigatorListener("consoleAutocomplete", () => {
                        if (this.autocompleteBox!==undefined&&this.autocompleteBox!==null)this.autocompleteBox.remove();
                        removeNavigatorListener("consoleAutocomplete");
                    })
                })
            }, 250)
        },
        reposition() {
            const cmdLine = document.getElementById("cmdLine");
            const rect = cmdLine.getBoundingClientRect();
            const rect2 = this.autocompleteBox.getBoundingClientRect();
            this.autocompleteBox.style = "position: absolute; " +
                "z-index: 10; " +
                "padding: 5px;" +
                "width: " + rect.width + "px; " +
                "min-height: 50px; " +
                "max-height: " + boxHeight + "px; " +
                "background-color: #4f4f4f; " +
                "top: " + (rect.y - rect2.height + yOffset) + "px; " +
                "left: " + rect.x + "px;" +
                "border-radius: 2px;" +
                "border: 1px solid rgb(115, 115, 115);" +
                "overflow-x: hidden;" +
                "overflow-y: auto;";
        },
        selectedIndex: -1,
        handleTab(event) {
            if (event.keyCode === 9) {
                //on tab
                if (this.autocompleteBox === undefined || this.autocompleteBox === null) return;
                event.preventDefault();
                const rows = document.querySelectorAll("[data-autocomplete-row]")
                if (rows.length===0){
                    this.selectedIndex=-1;
                    return;
                }else if (rows.length===1){
                    this.selectedIndex = 0;
                    if ($(rows[0]).hasClass("row-selected")){
                        //select
                        this.handleAutocomplete(rows[0].getAttribute("data-autocomplete-row"));
                        return;
                    }else{
                        $(rows[0]).addClass("row-selected");
                    }
                    return;
                }
                commandConsole.selectedIndex+=1;
                if (this.selectedIndex>rows.length-1){
                    $(rows[rows.length-1]).removeClass("row-selected")
                    this.selectedIndex = 0;
                }else{
                    $(rows[this.selectedIndex-1]).removeClass("row-selected")
                }
                rows[this.selectedIndex].scrollIntoView();

                $(rows[this.selectedIndex]).addClass("row-selected");

            } else if (event.keyCode === 13) {
                if (this.selectedIndex===-1){
                    sendCommand();
                }else{
                    const rows = document.getElementsByClassName("row-selected");
                    if (rows.length===0)return;
                    this.handleAutocomplete(rows[0].getAttribute("data-autocomplete-row"));
                }
            } else if (event.keyCode === 27) {
                if (this.selectedIndex!==-1){
                    event.preventDefault();
                    this.selectedIndex=-1;
                    //unselect
                    document.querySelectorAll("[data-autocomplete-row]").forEach(row=>{
                        $(row).removeClass("row-selected");
                    })
                }else{
                    if (this.autocompleteBox!==undefined&&this.autocompleteBox!==null){
                        this.autocompleteBox.remove();
                        this.autocompleteBox = undefined;
                    }
                }
            }
        }
    }

    function init() {
        registerNavigatorListener("log", logSiteChangeEvent);
        updater = setInterval(updateLog, 10000);
        updateLog();
        loadCommands();
        const cmdLine = $("#cmdLine");
        const sendBTN = $("#sendCMD");
        if (currentUser.hasPermission("console.send")) {
            consoleContextMenu = new ContextMenu("console", [document.getElementById("log")])
            consoleContextMenu.setBuilder((target) => {
                var result = "";
                result += "<h4>Console:</h4>";
                result += "<ul>";
                result += "<li><a onclick='sendCommand(\"clear\")'>Clear</a></li>";
                result += "<li><a onclick='updateLog(true);'>Update</a></li>";
                result += "<li><a onclick='scrollUp();'>Scroll Up</a></li>";
                result += "<li><a onclick='scrollDown();'>Scroll down</a></li>";
                result += "<ul>";
                return result;
            });
            if (issetCookie("CONSOLE_lastCommands")) {
                var lc = getCookie("CONSOLE_lastCommands");
                if (lc !== "") {
                    lastCommands = JSON.parse(lc);
                }
            }

            shortcut.remove("up");
            shortcut.add("up", function () {
                if (cmdLine.is(":focus")) {
                    if (lastCommands.length !== 0) {
                        if (lastCommands[index + 1] !== undefined) {
                            index++;
                            cmdLine.val(lastCommands[index]);
                        }
                    }
                }
            });
            shortcut.remove("down");
            shortcut.add("down", function () {
                if (cmdLine.is(":focus")) {
                    if (lastCommands.length !== 0) {
                        if (lastCommands[index - 1] !== undefined) {
                            index--;
                            cmdLine.val(lastCommands[index]);
                        } else {
                            cmdLine.val("");
                            index = -1;
                        }
                    }
                }
            });
        } else {
            sendBTN.attr("disabled", true);
            sendBTN.attr("title", "You don't have the permission to send a command!");
            cmdLine.attr("disabled", true);
            cmdLine.attr("placeholder", "You don't have the permission to send a command! Required permission: console.send");
            cmdLine.attr("title", "You don't have the permission to send a command!");
        }
    }

    var commands = {};

    function loadCommands() {
        var html = "";
        if (!currentUser.hasPermission("console.commands")) {
            html += "<div class=\"row command\"><div class=\"col\">";
            html += "<h5>Info</h5>";
            html += "<p>You don't have the permission to see all commands!</p>";
            html += "<p>Required permission:</p>";
            html += "<ul><li>console.commands</li></ul>";
            html += "</div></div>";
            $("#commands").html(html);
            return;
        }
        addLoading("LOAD_COMMANDS")
        $.post("/console", {command: "getCommands"}, (result) => {
            commands = result.commands;
            Object.keys(commands).forEach(id => {
                var cmd = commands[id];
                html += '<div class="row command" data-cmd="' + id + '" id="' + id + '" style=\'cursor: pointer; word-break: break-word\' onclick=\'writeCMD("' + id + '")\'><div class="col">';
                html += "<h5>" + id + "</h5>";
                if (cmd.info !== undefined)
                    html += "<p>" + cmd.info + "</p>";

                var args = "";
                if (cmd.args !== undefined && cmd.args.length > 0) {
                    cmd.args.forEach(argList => {
                        args += " (";
                        var i = 0
                        argList.forEach(arg => {
                            if (i === 0) {
                                //first
                                args += arg;
                            } else {
                                args += "/" + arg;
                            }
                            i++;
                        });
                        args += ")";
                    })
                }
                html += "<p>Usage: <i style=\"cursor: pointer\" id='" + id + "_usage'>" + id + args + "</i></p>";

                if (cmd.permissions !== undefined && cmd.permissions.length > 0) {
                    html += "<p>Required permissions:</p>";
                    html += "<ul>";
                    cmd.permissions.forEach(perm => {
                        html += "<li>" + perm + "</li>";
                    })
                    html += "</ul>";
                }
                if (cmd.aliases !== undefined && cmd.aliases.length > 0) {
                    html += "<p>Aliases:</p>";
                    html += "<ul>";
                    cmd.aliases.forEach(alias => {
                        html += "<li>" + alias + "</li>";
                    })
                    html += "</ul>";
                }
                html += "</div></div>"
            });
            $("#commands").html(html);
            if (currentUser.hasPermission("console.send")) {
                commandsContextMenu = new ContextMenu("CMD", document.querySelectorAll("[data-cmd]"));
                commandsContextMenu.setBuilder((target) => {
                    const command = commands[target.getAttribute("data-cmd")];
                    var result = "";
                    result += "<h4>" + command.id + ":</h4>";
                    result += "<ul>";
                    result += "<li><a onclick='sendCommand(\"" + command.id + "\");'>Run</a></li>";
                    result += "<li><a onclick='sendCommand(\"rl " + command.id + "\")'>Reload</a></li>";
                    result += "<ul>";
                    return result;
                })
            }
            removeLoading("LOAD_COMMANDS")
        });
    }

    function writeCMD(id) {
        $("#cmdLine").val($("#" + id + "_usage").html());
    }

    function sendCommand(command) {
        if (!currentUser.hasPermission("console.send")) {
            return;
        }
        var cmdLine = $("#cmdLine");
        var cmd = command || cmdLine.val();
        if (!command) cmdLine.val("");
        if (commandConsole.autocompleteBox !== undefined && commandConsole.autocompleteBox !== null) {
            $(commandConsole.autocompleteBox).hide();
        }
        if (!cmd || cmd.length === 0) return;
        $.post("/console", {command: cmd}, (result) => {
            updateLog(true);
            if (lastCommands.includes(cmd)) {
                const i = lastCommands.indexOf(cmd);
                lastCommands.splice(i, 1);
            }
            lastCommands.unshift(cmd);
            setCookie("CONSOLE_lastCommands", JSON.stringify(lastCommands), 1);
            index = -1;

        });
    }

    var currentLog = "";
    var updater = 0;
    var autoScroll = true;

    function updateLog(scroll) {
        if (!currentUser.hasPermission("console.log")) {
            $("#log").html("<br><h5>Info</h5><p>You don't have the permission to see the log!<br>Required permission: console.log</p>");
            return;
        }
        $.get("/console", (result) => {
            if (currentLog === result) {
                return;
            }
            $("#log").html(result);
            if (autoScroll || scroll) {
                scrollDown();
            }

        });
    }

    function scrollDown() {
        const elem = document.getElementById('log');
        elem.scrollTop = elem.scrollHeight;
    }

    function scrollUp() {
        const elem = document.getElementById('log');
        elem.scrollTop = 0;
    }

    function logSiteChangeEvent(old, newSite) {
        if (newSite !== "log") {
            // removeDataEvent("home")
            removeNavigatorListener("log")
            clearTimeout(updater);
        }
    }

    init();
</script>