<div class="row">
    <div class="col-xl-9 box" style="padding-top: 20px; padding-bottom: 20px;padding-right: 0">
        <h4 onclick="loadSite('crashes')" style="cursor: pointer">Cloudy Crashes</h4>
        <hr>
        <div class="row" style="display: inline-block; width: 100%">
            <div class="col log" id="crashLog" style="margin-left: 5px; max-height: 40em; min-height: 40em;">
                Please select a log from the side!
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col" id="alertBox"
                 style="border: #ff0000 1px solid; background-color: rgba(255,0,0,0.1); display: none;padding-top: 5px">
                Test
            </div>
        </div>

    </div>
    <div class="col-sm box" id="cmdBox" style="padding-top: 20px; padding-bottom: 20px; padding-right: 0">
        <h4>Select Crash-Log:</h4>
        <hr>
        <div id="commands">
            <div class="row command" style="cursor: pointer" onclick="crashes.loadLog(this)" data-log="LOGFILE">
                <div class="col">
                    <h5>Loading...</h5>
                    <p>Loading...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var crashes = {
        contextMenu: undefined,
        init(){
            this.loadLogs();
        },
        loadLogs(){
            var html = "";
            if (!currentUser.hasPermission("console.log")){
                setHTML("crashLog","You don't have the permission to see the logs!")
                html += '<div class="row command">'
                html += '<div class="col">'
                html += '<h5>No Permission</h5>'
                html += "<p>You don't have the permission to see the logs!</p>"
                html += '</div></div>'
                setHTML("commands",html);
                return;
            }
            $.get("/crashLog",(json)=>{
                if (json.size===0){
                    html += '<div class="row command">'
                    html += '<div class="col">'
                    html += '<h5>No Logs found!</h5>'
                    html += '<p>There are no crash-logs saved!</p>'
                    html += '</div></div>'
                    setHTML("commands",html);
                    return;
                }
                json.data.forEach(file=>{
                    if (typeof file === "string"){
                        html += '<div class="row command" style="cursor: pointer" onclick="crashes.loadLog(this)" data-log="'+file+'">'
                        html += '<div class="col">'
                        html += '<h5>Load Crash-Log</h5>'
                        html += '<p>'+file+'</p>'
                        html += '</div></div>'
                    }else{
                        html += '<div class="row command" data-raw-log="'+file.raw+'" style="cursor: pointer" onclick="crashes.loadLog(this)" data-log="'+file.html+'">'
                        html += '<div class="col">'
                        html += '<h5>Load Crash-Log</h5>'
                        html += '<p>'+file.html+'</p>'
                        html += '</div></div>'
                    }

                })
                setHTML("commands",html);
                this.contextMenu = new ContextMenu("logsContext",document.querySelectorAll("[data-log]"));
                this.contextMenu.setBuilder((target)=>{
                    var result = "";
                    result += "<ul>";
                    result += "<li><a onclick='crashes.loadLog2(\""+target.getAttribute("data-log")+"\")'>Load</a></li>";
                    const rawFile = target.getAttribute("data-raw-log");
                    if (rawFile!==null)result += "<li><a onclick='crashes.loadLog2(\""+rawFile+"\")'>Load Raw Log</a></li>";
                    result += "<li><a onclick='crashes.delete(\""+target.getAttribute("data-log")+"\")'>Delete</a></li>";
                    result += "<ul>";
                    return result;
                })
            });
        },
        delete(log){
            if (log===undefined||log===null||log.length===0)return;
            $.post("/crashLog",{
                action: "delete",
                log: log
            },(json)=>{
                this.loadLogs();
            })
        },
        loadLog2(log){
            if (log===undefined||log===null||log.length===0)return;
            $.post("/crashLog",{
                action: "get",
                log: log
            },(data)=>{
                if (typeof data === "string"){
                    setHTML("crashLog",data)
                }else{
                    setHTML("crashLog",data.data)
                }
            })
        },
        loadRaw(log){
            if (log===undefined||log===null||log.length===0)return;
            $.post("/crashLog",{
                action: "get",
                log: log
            },(data)=>{
                if (typeof data === "string"){
                    setHTML("crashLog",data)
                }else{
                    setHTML("crashLog",data.data)
                }
            })
        },
        loadLog(elm){
            const log = elm.getAttribute("data-log");
            if (log===undefined||log===null||log.length===0)return;
            $.post("/crashLog",{
                action: "get",
                log: log
            },(data)=>{
                if (typeof data === "string"){
                    setHTML("crashLog",data)
                }else{
                    setHTML("crashLog",data.data)
                }
            })
        }
    }
    crashes.init();
</script>