<div class="row">
    <div class="col box" style="padding-top: 20px; padding-bottom: 20px;">
        <h4>Bot Status</h4>
        <hr>
        <div class="row">
            <div class="col">
                State: <i id="state">loading...</i>
            </div>
            <div class="col">
                Loaded Modules: <i id="loadedModules">loading...</i>
            </div>
        </div>
        <div class="row">
            <div class="col" id="onlineGuilds">
                Online on <i>loading...</i> Guilds!
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary" onclick="reloadData(this)">Reload Data</button>
            </div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col" id="bs_alertBox"
                 style="border: #ff0000 1px solid; background-color: rgba(255,0,0,0.1); display: none;padding-top: 5px">
                Test
            </div>
        </div>
    </div>
    <div class="col box">
        <h4>Notifications <button class="btn btn-info material-symbols-outlined inline-icon" onclick="reloadNotifications(this)">refresh</button></h4>
        <hr>
        <div id="notificationsBox">
            <i>Loading...</i>
        </div>
    </div>
</div>
<script>
    function initHome() {
        registerDataEvent("home", homeDataUpdateEvent)
        registerNavigatorListener("home", homeSiteChangeEvent)
        updateHomeUI();
        updateNotifications();
    }

    function reloadData(btn){
        btn = $(btn);
        btn.attr("disabled",true);
        btn.attr("class","btn btn-secondary")
        btn.html("Reloading...");
        loadData(()=>{
            setTimeout(()=>{
                btn.attr("class","btn btn-success")
                btn.attr("disabled",false);
                btn.html("Reloaded!");
            },500)
        })
    }



    function updateHomeUI() {
        const alert = $("#bs_alertBox");
        $("#state").html(botData.onlineState);
        $("#loadedModules").html(botData.modules.loaded.length + "/" + Object.keys(botData.modules.registered).length);
        const count = Object.keys(discordManager.getGuilds()).length;
        if (count === 0) {
            $("#onlineGuilds").html("Online on <i>ZERO</i> Guilds!");
        } else if (count === 1) {
            $("#onlineGuilds").html("Online on <i>just one</i> Guild!");
        } else {
            $("#onlineGuilds").html("Online on <i>" + count + "</i> Guilds!");
        }
        if (botData.onlineState === "OFFLINE" && botData.modules.unloaded["discordCore"] !== undefined) {
            var reason = "";
            reason += "<ul>"
            botData.modules.unloaded["discordCore"].reasons.forEach(r => {
                reason += "<li>" + r.reason + "</li>";
            })
            reason += "</ul>"
            alert.html("The discord bot could not be started!<br><br>" +
                (botData.modules.unloaded["discordCore"].reasons.length > 1 ? "Reasons" : "Reason") + ":<br>" + reason +
                "<small style='cursor: pointer' onclick='loadSite(\"log\")'>*For more infomation, see log</small>");
            alert.show();
        } else if (botData.onlineState === "OFFLINE") {
            alert.html("The discord Bot is Offline! Please Start the bot, in the <i style='cursor: pointer' onclick='loadSite(\"settings\")'>Settings</i> tab or via command in the <i style='cursor: pointer' onclick='loadSite(\"console\")'>Console</i> tab!");
            alert.show();
        } else {
            alert.hide();
        }
    }

    function homeSiteChangeEvent(old, newSite) {
        if (newSite !== "home") {
            removeDataEvent("home")
            removeNavigatorListener("home")
        }
    }

    function homeDataUpdateEvent(dataType, newData) {
        updateHomeUI();
    }

    initHome();
</script>