<div class="row">
    <div class="col box nav small text-center" style="display: none" id="modulesNav">
        <div class="navLink small">
            <ul id="navLeft">
                <li data-nav="home">Home</li>
                <li data-nav="settings">Settings</li>
                <li data-nav="modules">Modules</li>
            </ul>
        </div>
        <div class="navLink small right">
            <ul id="navRight">
                <li data-nav="console">Console</li>
                <li data-nav="permissions">Permissions</li>
                <li data-nav="account">Account</li>
                <li onclick="window.location.href = '/logout'">Logout</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col" style="padding-top: 20px; padding-bottom: 20px;" id="moduleContentLoading">
        <div style="display: flex;justify-content: center;">
            <div class="dot-flashing"></div>
        </div>
    </div>
    <div class="col box" style="padding-top: 20px; padding-bottom: 20px; display: none" id="moduleContent">
    </div>
</div>
<script>
    function initModules() {
        loadData(() => {
            // moduleNavs = []; // no modules test
            if (moduleNavs.length === 0) {
                setHTML("moduleContent", "No modules with web-content registered!")
            } else {
                var navLeft = "";
                var navRight = "";
                moduleNavs.forEach(info => {
                    if (info.right) {
                        navRight += "<li data-module-path='" + info.path + "'>" + info.nav + "</li>";
                    } else {
                        navLeft += "<li data-module-path='" + info.path + "'>" + info.nav + "</li>";
                    }
                })
                setHTML("navLeft", navLeft)
                setHTML("navRight", navRight)
                $("#modulesNav").show();
                $("#moduleContent").show();
                $("#moduleContentLoading").hide();
                setHTML("moduleContent", "Please select a module to show it's web content")
                var elms = document.querySelectorAll("[data-module-path]")
                elms.forEach(elm => {
                    elm.addEventListener("click", (event) => {
                        loadModuleSite(event.target.getAttribute("data-module-path"));
                    })
                })
            }
        }, dataTypes.MODULES_NAV);
    }

    function loadModuleSite(path) {
        addLoading("MODULE_CONTENT_LOAD")
        const loadingDiv = $("#moduleContentLoading");
        const contentDiv = $("#moduleContent");
        loadingDiv.show();
        contentDiv.hide();
        contentDiv.load(path, () => {
            setTimeout(() => {
                loadingDiv.hide();
                contentDiv.show();
                removeLoading("MODULE_CONTENT_LOAD")
            }, 250);
        })
    }


    initModules();
</script>