<div class="row">
    <div class="col box" style="padding-top: 20px; padding-bottom: 20px;">
        <h4>Error</h4>
        <hr>
        <div class="row">
            <div class="col">
                You don't have the permission to view this page!<br>
                <small id="page">Loading...</small><br>
                <small id="permission">Loading...</small>
            </div>
        </div>
    </div>
</div>
<script>
    $("#page").html("Requested page: "+window.location.href.split("#")[1])
    $("#permission").html("Permission needed: web."+window.location.href.split("#")[1])
</script>