<div class="row" style="margin-top: 15px; margin-bottom: 15px; max-width: 100%">
    <div class="col" id="bs_alertBox" onclick="$(this).hide();"
         style="border: #ff0000 1px solid; background-color: rgba(255,0,0,0.1); display: none;padding-top: 5px; cursor: pointer">
        Test
    </div>
</div>
<div class="row">
    <div class="col box entryList" style="padding-bottom: 0">
        <h4>Users</h4>
        <hr>
        <div id="userList">
            <div class="row">
                <div class="col">
                    <div class="entry">
                        <a data-bs-toggle="collapse" class="opener" href="#collapseExample">Loading...</a>
                        <div class="collapse" id="collapseExample">
                            Loading...


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col box entryList" style="padding-bottom: 0">
        <h4>Groups</h4>
        <hr>
        <div id="groupList">
            <div class="row">
                <div class="col">
                    <div class="entry">
                        <a data-bs-toggle="collapse" class="opener" href="#collapseExample3">Loading...</a>
                        <div class="collapse" id="collapseExample3">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var userContextMenu;
    var groupContextMenu;
    var alertBox;

    function initPermissions() {
        alertBox = $("#bs_alertBox");
        loadGroups(() => {
            loadUsers(() => {
                setTimeout(() => {
                    unsaved = false;
                }, 250)
            });

        });


    }

    function loadUsers(cb) {
        $.get("/users", (result) => {
            if (result.type === "OK") {
                //build list
                var users = {};

                const loadListResult = userEntry.loadList(result.users)
                users = loadListResult.resultUsers;
                permissionManager.setUsers(users);


                Object.keys(users).forEach(user => {
                    userEntry.updateGroupsList(user);
                    userEntry.updatePermissionsList(user);
                })
                if (cb) cb();
            }
        })

    }

    var selectedInput;
    var userEntry = {
        openAutomatic: {},
        lookupUser: function (elmID) {
            const inputElm = document.getElementById(elmID);
            if (inputElm === null) {
                console.error(elmID + ": input not found!")
                return;
            }
            const id = inputElm.value;
            const small = document.getElementById(elmID + "_small")
            if (id === undefined || id.length === 0) {
                small.innerHTML = "No member found!";
                return;
            }
            if (!discordManager.hasData()) {
                small.innerHTML = "Bot Offline! Can't lookup data!";
                return;
            }

            const member = discordManager.getMember(id);
            if (member === undefined) {
                small.innerHTML = "Member not found!";
                return;
            }
            small.innerHTML = "Found member: " + member.displayName;
        },
        loadList: function (users) {
            var html = "";
            var objectUsers = false;
            if (users === undefined) {
                users = Object.keys(permissionManager.getUsers());
                objectUsers = true;
            }
            var resultUsers = {};

            //create user
            if (currentUser.hasPermission("permissions.user.create")) {
                html += '<div class="row" id="create_entry"><div class="col"><div class="entry">';
                html += '<a data-bs-toggle="collapse" class="opener" href="#create_collapse">» Create a user</a>';
                html += '<div class="collapse" id="create_collapse"><hr><div class="innerEntry">';
                html += '<div class="row">';
                html += '</div>';
                html += "<input type='text' autocomplete=\"off\" aria-autocomplete=\"none\" placeholder='Unique Username' style='width: 100%' id='createUsername'><br><br>";
                html += "<button class='btn btn-info' onclick='userEntry.createUser()'>Create</button>";
                html += '</div></div></div></div></div>';
            }
            users.forEach(u => {
                var user;
                if (objectUsers) {
                    user = permissionManager.getUser(u);
                } else {
                    user = new PermissionUser(u, permissionManager);
                }
                var canSave = currentUser.hasPermissions(["permissions.user.edit.login." + user.getName(), "permissions.user.edit.permissions." + user.getName(), "permissions.user.edit.group." + user.getName(), "permissions.user.edit.link." + user.getName()]);
                resultUsers[user.getName()] = user;
                html += '<div class="row" id="' + user.getName() + '_entry"><div class="col"><div class="entry" data-user="' + user.getName() + '">';
                html += '<a data-bs-toggle="collapse" class="opener" href="#' + user.getName() + '_collapse">' + (user.getName() === "console" || !canSave ? " <span class=\"inline-icon material-symbols-outlined\">lock</span> " : " <i class=\"inline-icon material-symbols-outlined\">person</i> ") + user.getName() + (user.getName() === currentUser.getName() ? ' (self)' : '') + '</a>';
                html += '<div class="collapse ' + (this.openAutomatic[user.getName()] !== undefined ? "show" : "") + '" id="' + user.getName() + '_collapse"><hr><div class="innerEntry">';
                if (user.getName() === "console") {
                    html += "This user is protected!";
                } else {
                    // html += JSON.stringify(u, null, 2);
                    html += "<h5>Groups:</h5>";
                    html += '<table class="table table-hover table-striped table-dark"><thead>' +
                        '<tr><th scope="col">#</th><th scope="col">Group</th>' +
                        '<th scope="col">Action</th></tr></thead><tbody id="' + user.getName() + '_grouplist">';
                    html += '</tbody></table>';


                    html += "<h5>Permissions:</h5>";
                    html += '<table class="table table-hover table-striped table-dark"><thead>' +
                        '<tr><th scope="col">#</th><th scope="col">Permission</th>' +
                        '<th scope="col">Action</th></tr></thead><tbody id="' + user.getName() + '_permlist">';
                    html += '</tbody></table>';


                    html += "<h5>Settings:</h5>";
                    html += "<label>Discord UserID</label><br>";
                    html += "<input type='text' autocomplete=\"off\" aria-autocomplete=\"none\" " + (!currentUser.hasPermission("permissions.user.edit.link." + user.getName()) ? "disabled title=\"You don't have the permission to edit this!\"" : "data-discord-users='" + user.getName() + "'") + " value='" + (user.getId() !== undefined ? user.getId() : "") + "' onchange='unsaved = true; userEntry.lookupUser(\"" + user.getName() + "_discordID\")' id='" + user.getName() + "_discordID' placeholder='Discord user ID'>";
                    html += "<br><small id='" + user.getName() + "_discordID_small'></small>";
                    html += "<br><br>";
                    html += "<label>Enable WebLogin</label><br>";
                    html += "<select " + (!currentUser.hasPermission("permissions.user.edit.login." + user.getName()) ? "disabled title=\"You don't have the permission to edit this!\"" : "") + " class='input' id='" + user.getName() + "_enableLogin' onchange='unsaved = true;'>";
                    html += "<option value='true' " + (user.web.canLogin ? "selected" : "") + ">true</option>";
                    html += "<option value='false' " + (!user.web.canLogin ? "selected" : "") + ">false</option>";
                    html += "</select>";
                    html += "<br><br>";
                    html += "<label>Web Password</label><br>";
                    html += "<input type='password' autocomplete=\"off\" aria-autocomplete=\"none\" " + (!currentUser.hasPermission("permissions.user.edit.login." + user.getName()) ? "disabled title=\"You don't have the permission to edit this!\"" : "") + " onchange='unsaved = true;' id='" + user.getName() + "_password' placeholder='Password'><br>";
                    html += "<small>*leave empty to not change your password</small>";
                    html += "<br><br>";
                    if (canSave) {
                        html += "<button class='btn btn-info' onclick='userEntry.saveUser(\"" + user.getName() + "\",this)' id='" + user.getName() + "_saveBTN'>" + (userEntry.openAutomatic[user.getName()] !== undefined && userEntry.openAutomatic[user.getName()].saving ? "Saving..." : "Save") + "</button>&nbsp;";
                        if (currentUser.hasPermission("permissions.user.delete." + user.getName()))
                            html += "<button class='btn btn-danger' data-step='0' onclick='userEntry.deleteUser(\"" + user.getName() + "\",this)'>Delete</button>";
                        if (currentUser.getName() === user.getName()) {
                            html += "<br><small>*Note: By saving your self, both lists will be reloaded!</small>";
                        }
                    } else {
                        if (currentUser.hasPermission("permissions.user.delete." + user.getName()))
                            html += "<button class='btn btn-danger' data-step='0' onclick='userEntry.deleteUser(\"" + user.getName() + "\",this)'>Delete</button>";
                    }

                }

                html += '</div></div></div></div></div>';
            })
            this.openAutomatic = {};
            setHTML("userList", html);

            users.forEach(u => {
                var user;
                if (objectUsers) {
                    user = permissionManager.getUser(u);
                } else {
                    user = new PermissionUser(u, permissionManager);
                }
                if (user.getName() !== "console") {
                    userEntry.lookupUser(user.getName() + "_discordID")
                }
            });

            userContextMenu = new ContextMenu("userContext", document.querySelectorAll("[data-discord-users]"));
            userContextMenu.setBuilder((target, menu) => {
                selectedInput = target;
                const user = resultUsers[target.getAttribute("data-discord-users")];
                if (user === undefined) return "Target User not found!";
                if (!discordManager.hasData()) {
                    html = "<div>Bot Offline! Can't lookup data!</div>";
                    return html;
                }
                const guilds = discordManager.getGuilds();
                var html = "<div data-context style='overflow: auto; max-height: 50vh; padding: 5px'>";
                Object.keys(guilds).forEach(gID => {
                    const guild = guilds[gID];
                    html += "<h5 data-context style='margin: 0;'>" + guild.getName() + " (" + guild.getId() + ")</h5>";
                    html += "<ul data-context>";
                    guild.getMembers().forEach(m => {
                        html += "<li data-context><a onclick='userEntry.inputDiscordID(\"" + m.id + "\")' data-discord-user='ID'>" + m.displayName + " - " + m.id + "</a></li>";
                    })
                    html += "</ul data-context>";
                    guild.getMembers()
                })
                html += "<div>";

                return html;
            });
            userContextMenu.setOnClose(() => {
                selectedInput = undefined;
            });

            return {html, resultUsers}
        },
        inputDiscordID: function (id) {
            $(selectedInput).val(id);
            userEntry.lookupUser(selectedInput.id);
        },
        createUser: function () {
            if (!currentUser.hasPermission("permissions.user.create")) return;
            const input = $("#createUsername");
            var userName = friendlyName(input.val());
            if (userName === undefined) return;
            userName = userName.toLowerCase();
            input.val(userName);
            if (permissionManager.getUser(userName) !== undefined) {
                alertBox.html("User already exist!");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            const newUser = new PermissionUser({
                discord: {
                    userID: ""
                },
                groups: [],
                permissions: [],
                name: userName,
                web: {
                    canLogin: false,
                    password: "",
                    token: "",
                    timeout: 0
                }
            }, permissionManager);
            newUser.create((result) => {
                if (result.type === "OK") {
                    permissionManager.addUser(newUser);
                    this.openAutomatic[userName] = {
                        name: userName,
                        saving: false
                    }
                    Object.keys(this.loadList().resultUsers).forEach(user => {
                        userEntry.updateGroupsList(user);
                        userEntry.updatePermissionsList(user);
                    })
                    alertBox.hide();
                } else {
                    alertBox.html("Failed to create user (" + result.data + ")");
                    alertBox.hide();
                    alertBox.fadeIn(1000);
                }
            })

        },
        addGroup: function (userName) {
            userName = friendlyName(userName);
            if (!currentUser.hasPermission("permissions.user.edit.group." + userName)) return;

            const user = permissionManager.getUser(userName);
            if (user === undefined) {
                alertBox.html("User not found!");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            const select = $("#" + userName + "_addGroup");
            if (select.val().length === 0) {
                alertBox.html("No value selected!")
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            const group = permissionManager.getGroup(select.val());
            if (group === undefined) {
                alertBox.html("Group not found!")
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            if (user.addGroup(group.getName())) {
                userEntry.updateGroupsList(userName);
                unsaved = true;
            } else {
                alertBox.html("Failed to add group, please try again!")
                alertBox.hide();
                alertBox.fadeIn(1000);
            }
        },
        updateGroupsList: function (userName) {
            const user = permissionManager.getUser(userName);
            if (user === undefined) {
                alertBox.html("User not found!");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            var html = "";
            if (user.getGroups().length > 0) {
                var i = 1;
                user.getGroups().forEach(g => {
                    html += "<tr>";
                    html += "<th scope=\"row\">" + i + "</th>";
                    html += "<td style='width: 100%'>" + g + "</td>";
                    if (currentUser.hasPermission("permissions.user.edit.group." + user.getName())) {
                        html += "<td><button type=\"button\" class=\"btn btn-outline-danger\" onclick='userEntry.removeGroup(\"" + userName + "\",\"" + g + "\")'>Remove</button></td>";
                    } else {
                        html += "<td>-</td>";
                    }

                    html += "</tr>";
                    i++;
                })
            } else {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td style='width: 100%'>This user isn't linked with any group!</td>";
                html += "<td>-</td>";
                html += "</tr>";
            }
            if (currentUser.hasPermission("permissions.user.edit.group." + user.getName())) {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td>";
                html += "<select style='width: 100%;' id='" + userName + "_addGroup'>";
                const groupList = Object.keys(permissionManager.getGroups());
                if (groupList.length === 0) {
                    html += "<option value='INVALID' selected>No groups found!</option>";
                } else {
                    var gi = 0;
                    groupList.forEach(group => {
                        if (!user.getGroups().includes(group)) {
                            html += "<option value='" + group + "'>" + group + "</option>";
                            gi++;
                        }
                    })
                    if (gi === 0) {
                        html += "<option value='INVALID'>No more groups found!</option>";
                    }
                }
                html += "</select>";
                html += "</td>";
                html += "<td><button class='btn btn-info' " + (gi === 0 ? "disabled" : "") + " onclick='userEntry.addGroup(\"" + userName + "\")' style='width: 100%'>Add</button></td>";
                html += "</tr>";
            }
            setHTML(userName + "_grouplist", html);
        },
        removeGroup: function (userName, group) {
            userName = friendlyName(userName);
            if (!currentUser.hasPermission("permissions.user.edit.group." + userName)) return;
            const user = permissionManager.getUser(userName);
            if (user === undefined) {
                alertBox.html("User not found!");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            if (!user.getGroups().includes(group)) {
                console.error("Group not found!")
                return;
            }
            unsaved = true;
            user.removeGroup(group);
            this.updateGroupsList(userName);
        },
        addPermission: function (userName) {
            userName = friendlyName(userName);
            if (!currentUser.hasPermission("permissions.user.edit.permissions." + userName)) return;
            const user = permissionManager.getUser(userName);
            if (user === undefined) {
                alertBox.html("User not found! (" + userName + ")");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            const permission = $("#" + userName + "_addPerm").val().replaceAll(/ /g, "");
            if (permission.length === 0) return;
            if (user.addPermission(permission)) {
                userEntry.updatePermissionsList(userName);
                unsaved = true;
            } else {
                alertBox.html("Failed to add permission!");
                alertBox.hide();
                alertBox.fadeIn(1000);
            }
        },
        removePermissions: function (userName, permission) {
            userName = friendlyName(userName);
            if (!currentUser.hasPermission("permissions.user.edit.permissions." + userName)) return;
            const user = permissionManager.getUser(userName);
            if (user === undefined) {
                alertBox.html("User not found! (" + userName + ")");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            if (!user.getPermissions().includes(permission)) {
                console.error("Permission not found! ", permission)
                return;
            }
            unsaved = true;
            user.removePermission(permission);
            this.updatePermissionsList(userName);
        },
        updatePermissionsList: function (userName) {
            const user = permissionManager.getUser(userName);
            if (user === undefined) {
                alertBox.html("User not found! (" + userName + ")");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            var html = "";
            if (user.getPermissions().length > 0) {
                var i = 1;
                user.getPermissions().forEach(perm => {
                    html += "<tr id='" + perm + "_" + user.getName() + "'>";
                    html += "<th scope=\"row\">" + i + "</th>";
                    html += "<td style='width: 100%'>" + perm + "</td>";
                    if (currentUser.hasPermission("permissions.user.edit.permissions." + user.getName())) {
                        html += "<td><button type=\"button\" class=\"btn btn-outline-danger\" " +
                            "onclick='userEntry.removePermissions(\"" + user.getName() + "\",\"" + perm + "\")'>Remove</button></td>";
                    } else {
                        html += "<td>-</td>";
                    }
                    html += "</tr>";
                    i++;
                })
            } else {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td style='width: 100%'>This user has no rights!</td>";
                html += "<td>-</td>";
                html += "</tr>";
            }
            if (currentUser.hasPermission("permissions.user.edit.permissions." + user.getName())) {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td><input type='text' autocomplete=\"off\" aria-autocomplete=\"none\" style='width: 100%; background-color: transparent' id='" + userName + "_addPerm' placeholder='Permission'></td>";
                html += "<td><button class='btn btn-info' style='width: 100%' onclick='userEntry.addPermission(\"" + userName + "\")'>Add</button></td>";
                html += "</tr>";
            }
            setHTML(userName + "_permlist", html);

        },
        saveUser: function (userName, btn) {
            userName = friendlyName(userName);
            if (!currentUser.hasPermissions(["permissions.user.edit.login." + userName, "permissions.user.edit.permissions." + userName,
                "permissions.user.edit.group." + userName, "permissions.user.edit.link." + userName])) return;

            const user = permissionManager.getUser(userName);
            if (user === undefined) {
                alertBox.html("User not found! (" + userName + ")");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            btn = $(btn);
            const userID = $("#" + userName + "_discordID").val()
            const enableLogin = $("#" + userName + "_enableLogin").val() === "true";
            const password = $("#" + userName + "_password").val()
            btn.attr("disabled", true)
            btn.html("Saving...");
            user.setDiscordID(userID);
            user.setPassword(password);
            user.setWebEnabled(enableLogin);
            user.save((result) => {
                if (result.type === "ERR") {
                    alertBox.html(result.data);
                    alertBox.hide();
                    alertBox.fadeIn(1000);
                    setTimeout(() => {
                        btn.attr("disabled", false);
                        btn.html("Saving failed!");
                    }, 250)
                } else {
                    if (userName === currentUser.getName()) {
                        //update current user
                        currentUser = permissionManager.getUser(currentUser.getName());
                        this.openAutomatic[userName] = {
                            name: userName,
                            saving: true
                        }
                        //update both lists
                        Object.keys(userEntry.loadList().resultUsers).forEach(user => {
                            userEntry.updateGroupsList(user);
                            userEntry.updatePermissionsList(user);
                        })

                        Object.keys(groupEntry.loadList().resultGroups).forEach(group => {
                            groupEntry.updateImportList(group);
                            groupEntry.updatePermissionsList(group);
                        })
                        setTimeout(() => {
                            btn = $("#" + userName + "_saveBTN");
                            btn.attr("disabled", false);
                            btn.html("Saved!");
                        }, 250)
                    } else {
                        setTimeout(() => {
                            btn.attr("disabled", false);
                            btn.html("Saved!");
                        }, 250)
                    }
                    alertBox.hide();

                }

            });
        },
        deleteUser: function (userName, btn) {
            userName = friendlyName(userName);
            if (!currentUser.hasPermission("permissions.user.delete." + userName)) return;
            const user = permissionManager.getUser(userName);
            if (user === undefined) {
                alertBox.html("User not found! (" + userName + ")");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            btn = $(btn);
            if (btn.attr("data-step") === "1") {
                if (userName === currentUser.getName()) {
                    const result = confirm("You are about to delete yourself! Are your sure? You will be automatically logged out");
                    if (!result) return;
                }
                btn.attr("disabled", true);
                user.delete((result) => {
                    if (result.type === "OK") {
                        document.getElementById(userName + "_entry").remove();
                        if (userName === currentUser.getName()) {
                            window.location.href = "/logout";
                        }
                    } else {
                        btn.attr("disabled", false);
                        alertBox.html(result.data);
                        alertBox.hide();
                        alertBox.fadeIn(1000);
                    }
                });
            } else {
                btn.attr("data-step", 1);
                btn.html("Sure?");
            }

        }
    }

    function friendlyName(name) {
        return name.replaceAll(/ /g, "_").toLowerCase();
    }

    var groupEntry = {
        openAutomatic: {},
        createGroup: function () {
            if (!currentUser.hasPermission("permissions.group.create")) return;
            const input = $("#createGroupName");
            var groupName = input.val();
            if (groupName === undefined) return;
            groupName = friendlyName(groupName);
            input.val(groupName);
            if (permissionManager.getGroup(groupName) !== undefined) {
                alertBox.html("Group already exist!");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }

            const newGroup = new PermissionGroup({
                importFrom: [],
                permissions: [],
                name: groupName,
                discord: {}
            }, permissionManager);
            newGroup.create((result) => {
                if (result.type === "OK") {
                    this.openAutomatic[groupName] = {
                        name: groupName,
                        saving: false
                    }
                    permissionManager.addGroup(newGroup);
                    Object.keys(this.loadList().resultGroups).forEach(group => {
                        groupEntry.updateImportList(group);
                        groupEntry.updatePermissionsList(group);
                    })
                    Object.keys(userEntry.loadList().resultUsers).forEach(user => {
                        userEntry.updateGroupsList(user);
                        userEntry.updatePermissionsList(user);
                    })
                    alertBox.hide();
                } else {
                    alertBox.html("Failed to create group (" + result.data + ")");
                    alertBox.hide();
                    alertBox.fadeIn(1000);
                }
            })
        },
        loadList: function (groups) {
            var html = "";
            var resultGroups = {};

            var objectGroups = false;
            if (groups === undefined) {
                groups = Object.keys(permissionManager.getGroups());
                objectGroups = true;
            }
            //create group
            if (currentUser.hasPermission("permissions.group.create")) {
                html += '<div class="row" id="createGroup_entry"><div class="col"><div class="entry">';
                html += '<a data-bs-toggle="collapse" class="opener" href="#createGroup_collapse">» Create a group</a>';
                html += '<div class="collapse" id="createGroup_collapse"><hr><div class="innerEntry">';
                html += '<div class="row">';
                html += '</div>';
                html += "<input type='text' autocomplete=\"off\" aria-autocomplete=\"none\" placeholder='Unique Group name' style='width: 100%' id='createGroupName'><br><br>";
                html += "<button class='btn btn-info' onclick='groupEntry.createGroup()'>Create</button>";
                html += '</div></div></div></div></div>';
            }

            groups.forEach(g => {
                var group;
                if (objectGroups) {
                    group = permissionManager.getGroup(g);
                } else {
                    group = new PermissionGroup(g, permissionManager);
                }
                var canSave = currentUser.hasPermissions(["permissions.group.edit.permissions." + group.getName(), "permissions.group.edit.link." + group.getName()]);
                resultGroups[group.getName()] = group;
                html += '<div class="row" id="' + group.getName() + '_group_entry"><div class="col"><div class="entry" data-group="' + group.getName() + '">';
                html += '<a data-bs-toggle="collapse" class="opener" href="#' + group.getName() + '_collapse_group">' + (canSave ? ' <span class=\"inline-icon material-symbols-outlined\">filter_none</span> ' : ' <span class=\"inline-icon material-symbols-outlined\">lock</span> ') + group.getName() + '</a>';
                html += '<div class="collapse ' + (this.openAutomatic[group.getName()] !== undefined ? "show" : "") + '" id="' + group.getName() + '_collapse_group"><hr><div class="innerEntry">';


                // html += JSON.stringify(g, null, 2);

                html += "<h5>Import From:</h5>";
                html += '<table class="table table-hover table-striped table-dark"><thead>' +
                    '<tr><th scope="col">#</th><th scope="col">Group</th>' +
                    '<th scope="col">Action</th></tr></thead><tbody id="' + group.getName() + '_importList">';
                html += '</tbody></table>';


                html += "<h5>Permissions:</h5>";
                html += '<table class="table table-hover table-striped table-dark"><thead>' +
                    '<tr><th scope="col">#</th><th scope="col">Permission</th>' +
                    '<th scope="col">Action</th></tr></thead><tbody id="' + group.getName() + '_group_permlist">';
                html += '</tbody></table>';

                // linked roles
                const guildRoles = group.getDiscordData();
                if (discordManager.hasData()) {
                    Object.keys(discordManager.guilds).forEach(guildId => {
                        if (guildRoles[guildId] === undefined) {
                            guildRoles[guildId] = []
                        }
                    })
                }
                html += "<h5>Linked roles:</h5>";
                html += "<select class='input' id='" + group.getName() + "_role_guild_select' onchange='groupEntry.updateRolesList(this,\"" + group.getName() + "\")'>";
                html += "<option value='INVALID' selected>Select a Guild</option>";
                if (discordManager.hasData()) {
                    Object.keys(guildRoles).forEach(guildID => {
                        const guild = discordManager.getGuild(guildID);
                        if (guild === undefined) {
                            html += "<option value='" + guildID + "'>" + guildID + "</option>";
                        } else {
                            html += "<option value='" + guildID + "'>" + guild.getName() + " - " + guildID + "</option>";
                        }
                    })
                } else {
                    html += "<option value='INVALID' disabled>Start the bot to show guild names</option>";
                    Object.keys(guildRoles).forEach(guildID => {
                        html += "<option value='" + guildID + "'>" + guildID + "</option>";
                    })
                }
                html += "</select>";
                html += "<br>"
                html += "<br>"
                html += '<table class="table table-hover table-striped table-dark"><thead>' +
                    '<tr><th scope="col">#</th><th scope="col">Role ID</th><th scope="col">Role Name</th>' +
                    '<th scope="col">Action</th></tr></thead><tbody id="' + group.getName() + '_linked_roles">';

                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td style='width: 100%'>Please select a Guild!</td>";
                html += "<td>-</td>";
                html += "<td>-</td>";
                html += "</tr>";

                html += '</tbody></table>';

                html += "";


                html += "<br>";
                html += "<br>";


                if (canSave)
                    html += "<button class='btn btn-info' onclick='groupEntry.saveGroup(\"" + group.getName() + "\",this)' id='" + group.getName() + "_group_saveBTN'>" + (groupEntry.openAutomatic[group.getName()] !== undefined && groupEntry.openAutomatic[group.getName()].saving ? "Saving..." : "Save") + "</button>&nbsp;";
                if (currentUser.hasPermission("permissions.group.delete." + group.getName())) html += "<button class='btn btn-danger' data-step='0' onclick='groupEntry.deleteGroup(\"" + group.getName() + "\",this)'>Delete</button>";
                if (currentUser.isInGroup(group.getName())) {
                    html += "<br><small>*Note: You are a member of this group and by saving, both lists will be reloaded!</small>";
                }
                html += '</div></div></div></div></div>';
            })
            setHTML("groupList", html);
            // groupContextMenu = new ContextMenu("userContext", document.querySelectorAll("[data-group]"));
            // groupContextMenu.setBuilder((target,menu) => {
            //     const group = resultGroups[target.getAttribute("data-group")];
            //     if (group === undefined) return "Group not found!";
            //     return group.getName();
            // })

            this.openAutomatic = {};
            return {html, resultGroups}
        },
        updateRolesList(select, gName) {
            select = $(select);
            var html = "";
            var buildRoles = true;
            const guildId = select.val();
            if (guildId === "" || guildId === "INVALID") {
                buildRoles = false;
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td style='width: 100%'>Please select a Guild!</td>";
                html += "<td>-</td>";
                html += "<td>-</td>";
                html += "</tr>";
                setHTML(gName + "_linked_roles", html)
                return;
            }

            const group = permissionManager.getGroup(gName);
            if (group === undefined) {
                buildRoles = false;
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td style='width: 100%'>Invalid Group!</td>";
                html += "<td>-</td>";
                html += "<td>-</td>";
                html += "</tr>";
                setHTML(gName + "_linked_roles", html)
                return;
            }

            const dData = group.getDiscordData()[guildId];
            if (dData === undefined) {
                buildRoles = false;
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td style='width: 100%'>No roles linked!</td>";
                html += "<td>-</td>";
                html += "<td>-</td>";
                html += "</tr>";
            }
            var i = 1;
            var dataKeys;

            if (dData!==undefined){
                dataKeys = Object.keys(dData);
                if (dataKeys.length === 0&&buildRoles) {
                    buildRoles = false;
                    html += "<tr>";
                    html += "<th scope=\"row\">#</th>";
                    html += "<td style='width: 100%'>No roles linked.</td>";
                    html += "<td>-</td>";
                    html += "<td>-</td>";
                    html += "</tr>";
                }
            }

            if (buildRoles){
                dataKeys.forEach(entry => {
                    const id = dData[entry]
                    html += "<tr>";
                    html += "<th scope=\"row\">" + i + "</th>";
                    html += "<td style='width: 100%'>" + id + "</td>";
                    if (discordManager.hasData()) {
                        const role = discordManager.getGuild(guildId).getRole(id);
                        if (role === undefined) {
                            html += "<td>-</td>";
                        } else {
                            html += "<td>" + role.name + "</td>";
                        }
                    } else {
                        html += "<td>-</td>";
                    }

                    if (currentUser.hasPermission("permissions.group.edit.roles." + group.getName())) {
                        html += "<td><button type=\"button\" class=\"btn btn-outline-danger\" onclick='groupEntry.removeRoleLink(\"" + gName + "\",\"" + id + "\")'>Remove</button></td>";
                    } else {
                        html += "<td>-</td>";
                    }
                    html += "</tr>";
                    i++;
                })
            }

            if (currentUser.hasPermission("permissions.group.edit.roles." + group.getName())) {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td colspan='2'>";
                if (discordManager.hasData()){
                    html += "<select id='" + gName + "_addRole_link_roleID'>";
                    html += "<option value='INVALID' selected>Select role</option>"
                    Object.keys(discordManager.getGuild(guildId).getRoles()).forEach(i=>{
                        const role = discordManager.getGuild(guildId).getRoles()[i];
                        html += "<option value='"+role.id+"'>"+role.name+" - "+role.id+"</option>";
                    })
                    html += "</select>";
                }else{
                    //text input
                    html += "<input type='text' autocomplete=\"off\" aria-autocomplete=\"none\" style='width: 100%; background-color: transparent' id='" + gName + "_addRole_link_roleID' placeholder='Role ID'>";
                }
                html += "</td>";
                html += "<td><button class='btn btn-info' style='width: 100%' onclick='groupEntry.addRoleLink(\"" + gName + "\")'>Add</button></td>";
                html += "</tr>";
            }
            setHTML(gName + "_linked_roles", html)
        },
        addRoleLink(gName) {
            const select = $("#" + gName + "_role_guild_select");
            const guildID = select.val();
            if (guildID===undefined||guildID===""||guildID==="INVALID"){
                console.error("Invalid guild! ("+guildID+")");
                return;
            }
            const roleToAdd = $("#"+gName+"_addRole_link_roleID").val();
            if (roleToAdd===undefined||roleToAdd===""||roleToAdd==="INVALID"){
                console.error("Invalid role! ("+roleToAdd+")");
                return;
            }
            if (gName===undefined){
                console.error("Invalid group! ("+gName+")");
                return;
            }
            const group = permissionManager.getGroup(gName);
            if (group===undefined){
                console.error("Invalid group! ("+gName+")");
                return;
            }
            group.addRole(guildID,roleToAdd);
            this.updateRolesList("#"+gName+"_role_guild_select",gName);
        },
        removeRoleLink(gName, roleID) {
            if (gName===undefined){
                console.error("Invalid group! ("+gName+")");
                return;
            }
            const select = $("#" + gName + "_role_guild_select");
            const guildID = select.val();
            if (guildID===undefined||guildID===""||guildID==="INVALID"){
                console.error("Invalid guild! ("+guildID+")");
                return;
            }
            const group = permissionManager.getGroup(gName);
            if (group===undefined){
                console.error("Invalid group! ("+gName+")");
                return;
            }
            group.removeRole(guildID,roleID);
            this.updateRolesList("#"+gName+"_role_guild_select",gName);
        },
        removeImport: function (groupName, imp) {
            groupName = friendlyName(groupName);
            if (!currentUser.hasPermission("permissions.group.edit.link." + groupName)) return;
            const group = permissionManager.getGroup(groupName);
            if (group === undefined) {
                alertBox.html("Group not found!");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            if (!group.getImports().includes(imp)) {
                console.error("Import not found!")
                return;
            }
            const result = group.removeImport(imp);
            if (result) {
                unsaved = true;
                groupEntry.updateImportList(groupName);
            } else {
                alertBox.html("Failed to remove Import, please try again!")
                alertBox.hide();
                alertBox.fadeIn(1000);
            }

        },
        addImport: function (groupName) {
            groupName = friendlyName(groupName);
            if (!currentUser.hasPermission("permissions.group.edit.link." + groupName)) return;
            const group = permissionManager.getGroup(groupName);
            if (group === undefined) {
                alertBox.html("Group not found!");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            const select = $("#" + groupName + "_addImport");
            if (select.val().length === 0) {
                alertBox.html("No value selected!")
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            const importGroup = permissionManager.getGroup(select.val());
            if (importGroup === undefined) {
                alertBox.html("Group not found!")
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            if (group.addImport(importGroup.getName())) {
                groupEntry.updateImportList(groupName);
                unsaved = true;
            } else {
                alertBox.html("Failed to import group, please try again!")
                alertBox.hide();
                alertBox.fadeIn(1000);
            }
        },
        updateImportList: function (groupName) {
            const group = permissionManager.getGroup(groupName);
            if (group === undefined) {
                alertBox.html("Group not found!");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            var html = "";
            if (group.getImports().length > 0) {
                var i = 1;
                group.getImports().forEach(imp => {
                    html += "<tr>";
                    html += "<th scope=\"row\">" + i + "</th>";
                    html += "<td style='width: 100%'>" + imp + "</td>";
                    if (currentUser.hasPermission("permissions.group.edit.link." + group.getName())) {
                        html += "<td><button type=\"button\" class=\"btn btn-outline-danger\" onclick='groupEntry.removeImport(\"" + groupName + "\",\"" + imp + "\")'>Remove</button></td>";
                    } else {
                        html += "<td>-</td>";
                    }
                    html += "</tr>";
                    i++;
                })
            } else {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td style='width: 100%'>This group isn't linked with any other group!</td>";
                html += "<td>-</td>";
                html += "</tr>";
            }
            if (currentUser.hasPermission("permissions.group.edit.link." + group.getName())) {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td>";
                html += "<select style='width: 100%;' id='" + groupName + "_addImport'>";
                const groupList = Object.keys(permissionManager.getGroups());
                if (groupList.length === 0) {
                    html += "<option value='INVALID' selected>No groups found!</option>";
                } else {
                    var gi = 0;
                    groupList.forEach(g => {
                        if (!group.getImports().includes(g)) {
                            if (group.getName() === g) {
                                html += "<option disabled value='INVALID'>" + g + " (self)</option>";
                            } else {
                                html += "<option value='" + g + "'>" + g + "</option>";
                                gi++;
                            }
                        }
                    })
                    if (gi === 0) {
                        html += "<option value='INVALID'>No available groups found!</option>";
                    }
                }
                html += "</select>";
                html += "</td>";
                html += "<td><button class='btn btn-info' " + (gi === 0 ? "disabled" : "") + " onclick='groupEntry.addImport(\"" + groupName + "\")' style='width: 100%'>Add</button></td>";
                html += "</tr>";
            }

            setHTML(groupName + "_importList", html);
        },
        updatePermissionsList: function (groupName) {
            const group = permissionManager.getGroup(groupName);
            if (group === undefined) {
                alertBox.html("Group not found! (" + groupName + ")");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            var html = "";
            if (group.getPermissions().length > 0) {
                var i = 1;
                group.getPermissions().forEach(perm => {
                    html += "<tr id='" + perm + "_" + group.getName() + "'>";
                    html += "<th scope=\"row\">" + i + "</th>";
                    html += "<td style='width: 100%'>" + perm + "</td>";
                    if (currentUser.hasPermission("permissions.group.edit.permissions." + group.getName())) {
                        html += "<td><button type=\"button\" class=\"btn btn-outline-danger\" " +
                            "onclick='groupEntry.removePermissions(\"" + group.getName() + "\",\"" + perm + "\")'>Remove</button></td>";
                    } else {
                        html += "<td>-</td>";
                    }
                    html += "</tr>";
                    i++;
                })
            } else {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td style='width: 100%'>This group has no rights!</td>";
                html += "<td>-</td>";
                html += "</tr>";
            }
            if (currentUser.hasPermission("permissions.group.edit.permissions." + group.getName())) {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                html += "<td><input type='text' autocomplete=\"off\" aria-autocomplete=\"none\" style='width: 100%; background-color: transparent' id='" + groupName + "_group_addPerm' placeholder='Permission'></td>";
                html += "<td><button class='btn btn-info' style='width: 100%' onclick='groupEntry.addPermission(\"" + groupName + "\")'>Add</button></td>";
                html += "</tr>";
            }

            setHTML(groupName + "_group_permlist", html);
        },
        removePermissions: function (groupName, permission) {
            groupName = friendlyName(groupName);
            if (!currentUser.hasPermission("permissions.group.edit.permissions." + groupName)) return;
            const group = permissionManager.getGroup(groupName);
            if (group === undefined) {
                alertBox.html("Group not found! (" + groupName + ")");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            if (!group.getPermissions().includes(permission)) {
                console.error("Permission not found! ", permission)
                return;
            }
            unsaved = true;
            group.removePermission(permission);
            this.updatePermissionsList(groupName);
        },
        addPermission: function (groupName) {
            groupName = friendlyName(groupName);
            if (!currentUser.hasPermission("permissions.group.edit.permissions." + groupName)) return;
            const group = permissionManager.getGroup(groupName);
            if (group === undefined) {
                alertBox.html("Group not found!");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            const permission = $("#" + groupName + "_group_addPerm").val();
            if (permission.length === 0) return;
            if (group.addPermission(permission)) {
                groupEntry.updatePermissionsList(groupName);
                unsaved = true;
            } else {
                alertBox.html("Failed to add permission!");
                alertBox.hide();
                alertBox.fadeIn(1000);
            }
        },
        saveGroup: function (groupName, btn) {
            groupName = friendlyName(groupName);
            if (!currentUser.hasPermissions(["permissions.group.edit.permissions." + groupName, "permissions.group.edit.link." + groupName])) return;
            const group = permissionManager.getGroup(groupName);
            if (group === undefined) {
                alertBox.html("Group not found! (" + groupName + ")");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            btn = $(btn);
            btn.attr("disabled", true)
            btn.html("Saving...");
            group.save((result) => {
                if (result.type === "ERR") {
                    alertBox.html(result.data);
                    alertBox.hide();
                    alertBox.fadeIn(1000);
                    setTimeout(() => {
                        btn.attr("disabled", false);
                        btn.html("Saving failed!");
                    }, 250)
                } else {
                    if (currentUser.getGroups().includes(groupName)) {
                        //update current user
                        currentUser = permissionManager.getUser(currentUser.getName());
                        this.openAutomatic[groupName] = {
                            name: groupName,
                            saving: true
                        }
                        //update both lists
                        Object.keys(userEntry.loadList().resultUsers).forEach(user => {
                            userEntry.updateGroupsList(user);
                            userEntry.updatePermissionsList(user);
                        })

                        Object.keys(groupEntry.loadList().resultGroups).forEach(group => {
                            groupEntry.updateImportList(group);
                            groupEntry.updatePermissionsList(group);
                        })
                        setTimeout(() => {
                            btn = $("#" + groupName + "_group_saveBTN");
                            btn.attr("disabled", false);
                            btn.html("Saved!");
                        }, 250)
                    } else {
                        setTimeout(() => {
                            btn.attr("disabled", false);
                            btn.html("Saved!");
                        }, 250)
                    }
                    alertBox.hide();

                }
            });
        },
        deleteGroup: function (groupName, btn) {
            groupName = friendlyName(groupName);
            if (!currentUser.hasPermission("permissions.group.delete." + groupName)) return;
            const group = permissionManager.getGroup(groupName);
            if (group === undefined) {
                alertBox.html("Group not found! (" + groupName + ")");
                alertBox.hide();
                alertBox.fadeIn(1000);
                return;
            }
            btn = $(btn);
            if (btn.attr("data-step") === "1") {
                if (currentUser.getGroups().includes(groupName)) {
                    const result = confirm("You are about to delete a group where you are a member of! Are your sure? You will lose all permissions of this group!");
                    if (!result) return;
                }
                btn.attr("disabled", true);
                group.delete((result) => {
                    if (result.type === "OK") {
                        document.getElementById(groupName + "_group_entry").remove();
                        Object.keys(permissionManager.getUsers()).forEach(user => {
                            userEntry.updateGroupsList(user);
                            userEntry.updatePermissionsList(user);
                        })
                    } else {
                        btn.attr("disabled", false);
                        alertBox.html(result.data);
                        alertBox.hide();
                        alertBox.fadeIn(1000);
                    }
                });
            } else {
                btn.attr("data-step", 1);
                btn.html("Sure?");
            }
        }
    }

    function loadGroups(cb) {
        $.get("/groups", (result) => {
            if (result.type === "OK") {
                //build list
                var groups = {};
                var html = "";
                groupEntry.loadList(result.groups);

                const loadListResult = groupEntry.loadList(result.groups);
                groups = loadListResult.resultGroups;


                permissionManager.setGroups(groups);
                Object.keys(groups).forEach(group => {
                    groupEntry.updateImportList(group);
                    groupEntry.updatePermissionsList(group);
                })

                if (cb) cb();
            }
        })
    }


    initPermissions();

</script>