<style>
    input {
        margin-bottom: 15px;
    }
</style>
<div class="row">
    <div class="col box" style="padding-top: 20px; padding-bottom: 20px;">
        <h4><span class="material-symbols-outlined inline-icon">settings</span> Settings</h4>
        <hr>
        <p id="settingsText">Loading...</p>
        <div class="row">
            <div class="col" id="rlBTN" style="display: none;">
                <button onclick="reloadSettings(this)" class="btn btn-warning"><span
                        class="material-symbols-outlined inline-icon">refresh</span> Reload Settings
                </button>
                <br>
                <small>*Note: Only modules that support reloads are reloaded!</small>
            </div>
            <div class="col" id="stopBTN" style="display: none;">
                <button onclick="stop(this)" class="btn btn-danger" data-step="0">
                    <span class="material-symbols-outlined inline-icon">close</span> Stop App
                </button>
                <br>
                <small>*Note: App restarts automatically after 5 seconds</small>
            </div>
        </div>
    </div>
    <div class="col box" style="display: none;" id="devControls">
        <h4>Dev Controls</h4>
        <hr>
        <button class="btn btn-success btn-xl mb-1" id="regCMDs" onclick="registerCommands()">Register Commands</button>
        <button class="btn btn-success btn-xl mb-1" id="regGCMDs" onclick="registerCommandsGlobal()">Register Commands
            Global
        </button>
        <button class="btn btn-success btn-xl mb-1" id="relCMDs" onclick="reloadAllCommands()">Reload ALL Commands
        </button>
    </div>
</div>
<div class="row">
    <div class="col box" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="row">
            <div class="col">
                <h4>Search Module</h4>
                <input type="text" style="width: 100%" placeholder="Search" onkeyup="settings.search(this)">
            </div>
        </div>
    </div>
</div>
<div id="settingsContent"></div>
<script>
    function initSettings() {
        if (botData.devMode) {
            $("#devControls").show();
        }
        const rlBTN = $("#rlBTN");
        if (currentUser.hasPermission("settings.reload")) {
            rlBTN.show();
        }
        if (currentUser.hasPermission("app.shutdown")) {
            $("#stopBTN").show();
        }
        settings.loadSettings(() => {
            settings.updateUI();
        });
    }

    function stop(btn) {
        if (!currentUser.hasPermission("app.shutdown")) return;
        const eBTN = $(btn);
        if (eBTN.attr("data-step") === "0") {
            eBTN.html("<span class=\"material-symbols-outlined inline-icon\">close</span> Are you Sure?");
            eBTN.attr("data-step", "1")
            return;
        }
        addLoading("SHUTDOWN_APP")
        eBTN.attr("disabled", true)
        eBTN.html("Shutting down...");
        eBTN.attr("class", "btn btn-secondary");
        eBTN.attr("data-step", "0")
        $.get("/stop", (result) => {
            if (result.type === "OK") {
                setTimeout(() => {
                    eBTN.html("App Stopped!");
                    eBTN.attr("class", "btn btn-success");
                    setTimeout(() => {
                        eBTN.attr("class", "btn btn-danger");
                        eBTN.attr("disabled", false)
                        eBTN.html('<span class="material-symbols-outlined inline-icon">close</span> Stop App');
                    }, 8000)
                }, 500)
            } else {
                setTimeout(() => {
                    eBTN.attr("disabled", false)
                    eBTN.html("Shutdown failed!");
                    eBTN.attr("class", "btn btn-danger");
                }, 500)
            }
            removeLoading("SHUTDOWN_APP")
        })
    }

    function reloadSettings(btn) {
        if (!currentUser.hasPermission("settings.reload")) return;
        addLoading("RELOAD_SETTINGS")
        const eBTN = $(btn);
        eBTN.attr("disabled", true)
        eBTN.html("Reloading...");
        eBTN.attr("class", "btn btn-secondary");
        $.post("/settings", {
            action: "UPDATE"
        }, (result) => {
            if (result.type === "OK") {
                settings.loadSettings(() => {
                    settings.updateUI();
                    setTimeout(() => {

                        eBTN.html("Settings Reloaded!");
                        eBTN.attr("class", "btn btn-success");
                        setTimeout(() => {
                            if (eBTN !== undefined) {
                                eBTN.html("<span class=\"material-symbols-outlined inline-icon\">refresh</span> Reload Settings");
                                eBTN.attr("class", "btn btn-warning");
                                eBTN.attr("disabled", false)
                            }
                        }, 5000)
                    }, 500)
                });
            } else {
                setTimeout(() => {
                    eBTN.attr("disabled", false)
                    eBTN.html("Reload failed!");
                    eBTN.attr("class", "btn btn-danger");
                }, 500)
            }
            removeLoading("RELOAD_SETTINGS")
        })
    }

    var settings = {
        search(input) {
            // Declare variables
            var filter, divs, tr, td, i, val1, val2;
            filter = input.value.toUpperCase();
            divs = document.querySelectorAll("[data-search-title][data-search-id]");

            // Loop through all table rows, and hide those who don't match the search query
            for (let j = 0; j < divs.length; j++) {
                val1 = divs[j].getAttribute("data-search-title")
                val2 = divs[j].getAttribute("data-search-id")
                if (val1.toUpperCase().indexOf(filter) > -1 || val2.toUpperCase().indexOf(filter) > -1) {
                    divs[j].style.display = "";
                } else {
                    divs[j].style.display = "none";
                }
            }
        },
        data: {},
        loadSettings: function (cb) {
            addLoading("LOAD_SETTINGS")
            $.get("/settings", result => {
                if (result.type === "OK") {
                    this.data = result.data;
                    if (cb) cb(result.data);
                    removeLoading("LOAD_SETTINGS")
                }
            })
        },
        updateUI() {
            addLoading("SETTINGS_BUILD")
            const moduleSettings = Object.keys(this.data);
            var html = "";
            if (moduleSettings.length === 0) {
                html = "No settings found!";
                setHTML("settingsText", html)
                return;
            } else if (moduleSettings.length === 1) {
                html = "Found settings for ONE Module!";
                setHTML("settingsText", html)
            } else {
                html = "Found settings for " + moduleSettings.length + " Modules!";
                setHTML("settingsText", html)
            }
            html = ""; //reset var
            var i = 0;
            html += "<div class=\"row\">";
            moduleSettings.forEach(name => {
                if (i === 2) {
                    html += "</div><div class=\"row\">";
                    i = 0;
                }
                const settingsMap = this.data[name];
                html += this.buildBox(settingsMap);
                i++;
            })
            html += "</div>";
            setHTML("settingsContent", html);
            this.loadToggleBTNs();
            this.loadMultiBTNs();
            //right click to show/hide protected inputs
            const contextMenu = new ContextMenu("passwordInputs", document.querySelectorAll("[type='password']"));
            contextMenu.setBuilder((target) => {
                if (target.getAttribute("type") === "password") {
                    target.setAttribute("type", "text")
                } else {
                    target.setAttribute("type", "password")
                }
                return undefined;
            })
            removeLoading("SETTINGS_BUILD")
        },
        buildBox(settingsMap) {
            var html = "<div class='col box' style='max-height: 800px; overflow-y: auto' data-search-title='" + settingsMap.title + "' data-search-id='" + settingsMap.id + "'>";
            if (!currentUser.hasPermission("settings." + settingsMap.id + ".show") && !currentUser.hasPermission("settings.show")) {
                html += "<h4>" + settingsMap.title + "</h4>";
                html += "<hr>";
                html += "<p>You don't have the permission to see the settings of this module!</p>";
                html += "<small>Required permission: <i>settings." + settingsMap.id + ".show</i> or <i>settings.show</i></small>";
                html += "</div>"
                return html;
            }
            html += "<h4>" + settingsMap.title + "</h4>";
            html += "<hr>";
            if (settingsMap.components.length === 0) {
                html += "This module has no Settings registered!";
                html += "</div>";
                return html;
            }

            html += this.buildComponents(settingsMap.components, settingsMap);

            html += "<div class='col'>";
            const canEdit = currentUser.hasPermission("settings." + settingsMap.id + ".edit") || currentUser.hasPermission("settings.edit");
            if (!settingsMap.hideSaveBTN) {
                if (canEdit) {
                    html += "<button class='btn btn-success' disabled id='" + settingsMap.name + "_saveBTN' style='margin-top: 15px' onclick='settings.save(\"" + settingsMap.name + "\")'>Save</button>";
                } else {
                    html += "<button class='btn btn-danger' disabled style='margin-top: 15px'>Save (No permission)</button>";
                    html += "<br><small>Required permission: <i>settings." + settingsMap.id + ".edit</i> or <i>settings.edit</i></small>";
                }
            }
            html += "</div>";
            html += "</div>";
            return html;
        },
        buildComponents(components, settingsMap) {
            var html = "";
            components.forEach(component => {
                switch (component.type) {
                    case "ROW":
                        html += this.buildRow(settingsMap, component)
                        break;
                    case "CONTAINER":
                        html += "<div class='row'><div class='col'>";
                        html += "<h5 style='margin-top: 25px'><a data-bs-toggle='collapse' class='collapseOpener' href='#" + component.id + "'> » " + component.title + "</a></h5><hr style='max-width: 50%'>";
                        html += '<div class="collapse ' + (component.opened ? "show" : "") + '" id="' + component.id + '">';
                        html += this.buildComponents(component.components, settingsMap)
                        html += '</div></div>';
                        html += '</div>';
                        break;
                    case "LIST":
                        html += "<div id='" + settingsMap.name + "_" + component.id + "_list'>" + this.buildList(component, settingsMap) + "</div>";
                        if (component.small !== undefined && component.small.length !== 0) html += "<small>" + component.small + "</small>";
                        break;
                    default:
                        html += "INVALID COMPONENT (" + component.type + ")";
                        break;
                }
            })
            return html;
        },
        removeListEntry(id, componentID, settingsID) {
            var row = document.getElementById(id);
            if (row === null) return;
            row.remove();
            this.updateList(settingsID, componentID)
        },
        updateList(settingsID, componentID, addRow) {
            var settingsMap = this.data[settingsID];
            var component = this.getColData(componentID, settingsMap.components);
            if (component === undefined) {
                console.warn("Component not found! (" + componentID + ")");
                return;
            }
            var html = "";
            var listValues = [];
            const listEntries = document.querySelectorAll("[data-settings-list='" + component.id + "']");
            const tableBody = document.querySelector("[data-settings-list-body='" + component.id + "']");
            let cols = component.colTitles.length + 1;
            if (!component.disableRemove) cols++;
            if (listEntries.length === 0 && addRow === undefined) {
                html += "<tr>";
                html += "<th scope='row'>#</th>";
                html += "<td>This list has no value!</td>";
                if (cols > 2) {
                    for (let ii = 2; ii < cols; ii++) {
                        html += "<td>-</td>";
                    }
                }
                html += "</tr>";
            } else {
                // html+=
                let i = 0;
                var id;
                listEntries.forEach(tr => {
                    i++;
                    id = settingsMap.name + "_" + component.id + "_" + i;
                    html += "<tr id='" + id + "' data-settings-list='" + tr.getAttribute("data-settings-list") + "' " +
                        "data-settings-list-extra='" + tr.getAttribute("data-settings-list-extra") + "'>";

                    html += "<th scope='row'>" + i + "</th>";
                    Array.from(tr.cells).forEach((cell) => {
                        if (cell.getAttribute("data-settings-col") !== null) {
                            html += "<td data-settings-col='" + cell.getAttribute("data-settings-col") + "'>" + cell.innerHTML + "</td>";
                        }
                    })
                    if (!component.disableRemove) {
                        html += "<td><button type=\"button\" class=\"btn btn-outline-danger\" onclick='settings.removeListEntry(\"" + id + "\",\"" + component.id + "\",\"" + settingsMap.name + "\")'>Remove</button></td>";
                    }
                    html += "</tr>";
                })
                if (addRow !== undefined) {
                    i++;
                    id = settingsMap.name + "_" + component.id + "_" + i;
                    html += "<tr id='" + id + "' " +
                        "data-settings-list='" + component.id + "' data-settings-list-extra=''>";
                    let colTitle = 0;
                    html += "<th scope='row'>" + i + "</th>";
                    addRow.forEach(row => {
                        html += "<td data-settings-col='" + colTitle + "'>" + row + "</td>";
                        colTitle++;
                    })
                    if (!component.disableRemove) {
                        html += "<td><button type=\"button\" class=\"btn btn-outline-danger\" onclick='settings.removeListEntry(\"" + id + "\",\"" + component.id + "\",\"" + settingsMap.name + "\")'>Remove</button></td>";
                    }
                    html += "</tr>";
                }
            }

            if (!component.disableInput) {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                var inputCol = 0;
                component.inputs.forEach(input => {
                    html += "<td>";
                    if (input.isStringInput) {
                        html += "<input type='text' data-settings-list-add='" + component.id + "' data-list-col='" + inputCol + "' placeholder='" + input.placeholder + "'>";
                    } else {
                        html += "<select data-settings-list-add='" + component.id + "' data-list-col='" + inputCol + "'>";
                        input.selectValues.forEach(sel => {
                            if (typeof sel === "string") {
                                html += "<option value='" + sel + "'>" + sel + "</option>";
                            } else {
                                html += "<option " + (sel.selected ? "selected" : "") + " value='" + sel.value + "'>" + sel.label + "</option>";
                            }
                        })
                        html += "</select>";
                    }
                    html += "</td>";
                    inputCol++;
                })
                html += "<td><button class='btn btn-info' onclick='settings.listAdd(\"" + settingsMap.name + "\",\"" + component.id + "\")'>Add</button></td>";
                if (cols > component.inputs.length) {
                    for (let ii = component.inputs.length + 2; ii < cols; ii++) {
                        html += "<td>-</td>";
                    }
                }
                html += "</tr>";
            }


            tableBody.innerHTML = html;
            this.enableSave(settingsMap.name)

        },
        listAdd(settingsMapID, componentID) {
            var settingsMap = this.data[settingsMapID];
            var component = this.getColData(componentID, settingsMap.components);
            if (component === undefined) {
                console.warn("Component not found! (" + componentID + ")");
                return;
            }
            if (component.disableInput) return;
            const elems = document.querySelectorAll("[data-settings-list-add='" + componentID + "']");
            if (elems === null) return;
            var row = [];
            elems.forEach(elm => {
                row[parseInt(elm.getAttribute("data-list-col"))] = elm.value;
            })
            this.updateList(settingsMapID, componentID, row)
        },
        buildList(component, settingsMap) {
            var html = "";
            if (component.title.length > 0) html += "<h5>" + component.title + "</h5>";
            html += '<table data-settings-type="LIST" data-settings-id="' + settingsMap.name + '" id="' + component.id + '_' + settingsMap.name + '" data-settings-input-id="' + component.id + '" id="' + component.id + '" class="table table-hover table-striped table-dark"><thead><tr><th scope="col">#</th>';
            let cols = component.colTitles.length + 1;
            component.colTitles.forEach(title => {
                html += '<th scope="col">' + title + '</th>';
            });
            if (!component.disableRemove) {
                html += '<th scope="col" style="width: 7em;">Action</th>';
                cols++;
            }
            html += '</tr></thead><tbody data-settings-list-body="' + component.id + '">';
            //body
            let i = 0;
            if (component.rows.length === 0) {
                html += "<tr>";
                html += "<th scope='row'>#</th>";
                html += "<td>This list has no value!</td>";
                if (cols > 2) {
                    for (let ii = 2; ii < cols; ii++) {
                        html += "<td>-</td>";
                    }
                }
                html += "</tr>";
            } else {
                component.rows.forEach(r => {
                    i++;
                    var id = settingsMap.name + "_" + component.id + "_" + i;
                    html += "<tr id='" + id + "' data-settings-list='" + component.id + "' data-settings-list-extra='" + r.extra + "'>";
                    html += "<th scope='row'>" + i + "</th>";
                    let colTitle = 0;
                    r.row.forEach(row => {
                        html += "<td data-settings-col='" + colTitle + "'>" + row + "</td>";
                        colTitle++;
                    })
                    if (!component.disableRemove) {
                        html += "<td><button type=\"button\" class=\"btn btn-outline-danger\" onclick='settings.removeListEntry(\"" + id + "\",\"" + component.id + "\",\"" + settingsMap.name + "\")'>Remove</button></td>";
                    }
                    html += "</tr>";
                })
            }
            //input
            if (!component.disableInput) {
                html += "<tr>";
                html += "<th scope=\"row\">#</th>";
                var inputCol = 0;
                component.inputs.forEach(input => {
                    html += "<td>";
                    if (input.isStringInput) {
                        html += "<input type='text' data-settings-list-add='" + component.id + "' data-list-col='" + inputCol + "' placeholder='" + input.placeholder + "'>";
                    } else {
                        html += "<select data-settings-list-add='" + component.id + "' data-list-col='" + inputCol + "'>";
                        input.selectValues.forEach(sel => {
                            if (typeof sel === "string") {
                                html += "<option value='" + sel + "'>" + sel + "</option>";
                            } else {
                                html += "<option " + (sel.selected ? "selected" : "") + " value='" + sel.value + "'>" + sel.label + "</option>";
                            }
                        })
                        html += "</select>";
                    }
                    html += "</td>";
                    inputCol++;
                })
                html += "<td><button class='btn btn-info' onclick='settings.listAdd(\"" + settingsMap.name + "\",\"" + component.id + "\")'>Add</button></td>";
                if (cols > component.inputs.length) {
                    for (let ii = component.inputs.length + 2; ii < cols; ii++) {
                        html += "<td>-</td>";
                    }
                }
                html += "</tr>";
            }
            html += '</tbody></table>';
            // html += "<button class='btn btn-info' onclick='settings.updateList(\"" + settingsMap.name + "\",\"" + component.id + "\")'>Update</button>"
            return html;
        },
        buildRow(settingsMap, row) {
            if (row === undefined) return "";
            var html = "";
            var isTitle = row.title !== undefined && row.title.length !== 0;
            if (isTitle) html += "<h5 style='margin-top: 25px'>" + row.title + "</h5><hr style='max-width: 50%'>";
            html += "<div class='row' " + (!isTitle ? "" : "style='margin-top: 15px'") + ">";
            row.columns.forEach(col => {
                html += "<div class='col'>";
                switch (col.type) {
                    case "STRING":
                        if (col.label.length !== 0) {
                            html += "<label for='" + settingsMap.id + "_" + col.id + "'>" + col.label + "</label><br>"
                        }
                        var type = "text";
                        if (col.hidden) type = "password";
                        html += "<input autocomplete=\"off\" aria-autocomplete=\"none\" data-settings-id='" + settingsMap.name + "' onchange='settings.enableSave(\"" + settingsMap.name + "\")' data-settings-type='" + col.type + "' data-required='" + col.required + "' data-settings-input-id='" + col.id + "' type='" + type + "' style='width: 100%' placeholder='" + col.placeholder + "' value=\"" + col.defaultValue + "\" id='" + settingsMap.id + "_" + col.id + "'>";
                        if (col.small !== undefined && col.small.length !== 0) html += "<br><small>" + col.small + "</small>";
                        break
                    case "BOOL":
                        if (col.label.length !== 0) {
                            html += "<label for='" + settingsMap.id + "_" + col.id + "'>" + col.label + "</label><br>"
                        }
                        var trueText = col.trueText;
                        if (col.trueText.length === 0) trueText = col.btnTxT;
                        var falseText = col.falseText;
                        if (col.falseText.length === 0) falseText = col.btnTxT;
                        html += "<button data-settings-id='" + settingsMap.name + "' " + (col.disabled ? "disabled" : "") + " data-settings-type='" + col.type + "' data-settings-input-id='" + col.id + "' id='" + settingsMap.id + "_" + col.id + "' data-toggle-true='" + trueText + "' data-toggle-false='" + falseText + "' data-toggle-btn='" + (col.defaultValue.toString()) + "'>" + col.btnTxT + "</button>";
                        if (col.small.length !== 0) html += "<br><small>" + col.small + "</small>";
                        break
                    case "NUMBER":
                        if (col.label.length !== 0) {
                            html += "<label for='" + settingsMap.id + "_" + col.id + "'>" + col.label + "</label><br>"
                        }
                        var min = "";
                        var max = "";
                        if (col.min !== undefined) min = "min='" + col.min + "'";
                        if (col.max !== undefined) max = "max='" + col.max + "'";
                        html += "<input autocomplete=\"off\" aria-autocomplete=\"none\" data-settings-id='" + settingsMap.name + "'" + min + max + " onchange='settings.enableSave(\"" + settingsMap.name + "\")' data-settings-type='" + col.type + "' data-required='" + col.required + "' data-settings-input-id='" + col.id + "' type='number' style='width: 100%' placeholder='" + col.placeholder + "' value='" + col.defaultValue + "' id='" + settingsMap.id + "_" + col.id + "'>";
                        if (col.small.length !== 0) html += "<br><small>" + col.small + "</small>";
                        break
                    case "SELECT":
                        if (col.label.length !== 0) {
                            html += "<label for='" + settingsMap.id + "_" + col.id + "'>" + col.label + "</label>"
                        }
                        html += "<select onchange='settings.enableSave(\"" + settingsMap.name + "\")' data-settings-id='" + settingsMap.name + "' data-settings-type='" + col.type + "' data-settings-input-id='" + col.id + "' id='" + settingsMap.id + "_" + col.id + "' style='width: 100%'>";

                        col.options.forEach(option => {
                            if (option.value === col.selectedValue) {
                                html += "<option value='" + option.value + "' selected>" + option.label + "</option>";
                            } else {
                                html += "<option value='" + option.value + "' " + (option.disabled ? "disabled" : "") + ">" + option.label + "</option>";
                            }
                        })
                        html += "</select>";
                        if (col.small.length !== 0) html += "<br><small>" + col.small + "</small>";
                        break;
                    case "TEXT":
                        if (col.label.length !== 0) html += "<h5>" + col.label + "</h5>";
                        html += "<p>" + col.text + "</p>";
                        if (col.small.length !== 0) html += "<br><small>" + col.small + "</small>";
                        break;
                    case "MULTI_BTN":
                        if (col.label.length !== 0) {
                            html += "<label for='" + settingsMap.id + "_" + col.id + "'>" + col.label + "</label><br>"
                        }
                        var keys = Object.keys(col.states);
                        var selected = col.selectedID;
                        if (selected.length === 0) selected = keys.at(0);
                        var selectedState = col.states[selected];
                        if (col.disabled) {
                            html += "<button data-settings-id='" + settingsMap.name + "' class='btn btn-" + this.translateColor(selectedState.color) + "' disabled data-settings-type='" + col.type + "' data-settings-input-id='" + col.id + "' id='" + settingsMap.id + "_" + col.id + "' data-multi-btn-value='" + selectedState.value + "'>" + selectedState.txt + "</button>";
                        } else {
                            this.multiBTNsData[col.id] = col.states;
                            html += "<button data-settings-id='" + settingsMap.name + "' class='btn btn-" + this.translateColor(selectedState.color) + "' data-settings-type='" + col.type + "' data-settings-input-id='" + col.id + "' id='" + settingsMap.id + "_" + col.id + "' data-multi-btn-value='" + selectedState.value + "'>" + selectedState.txt + "</button>";
                        }


                        if (col.small.length !== 0) html += "<br><small>" + col.small + "</small>";
                        break;
                    case "LINK":
                        if (col.label.length !== 0) {
                            html += "<label for='" + settingsMap.id + "_" + col.id + "'>" + col.label + "</label><br>"
                        }
                        var txt = col.txt;
                        if (txt.length === 0) txt = col.link;
                        var href = "";
                        if (col.link.startsWith("/")) {
                            href = "onclick='loadSite(\"" + col.link.replace(/\//g, '') + "\")'";
                        } else {
                            href = "href='" + col.link + "'" + (col._blank ? " target='_blank'" : "");
                        }
                        html += "<a class='" + col.className + "' style='" + col.style + "' id='" + settingsMap.id + "_" + col.id + "' " + href + " >" + txt + "</a>";
                        if (col.small.length !== 0) html += "<br><small>" + col.small + "</small>";
                        break
                    default:
                        html += "<i>INVALID INPUT TYPE (" + col.type + ")</i>";
                        break;
                }
                html += "</div>"
            })

            html += "</div>"
            return html;
        },
        enableSave(id) {
            $("#" + id + "_saveBTN").attr("disabled", false);
        },
        translateColor(color) {
            switch (color) {
                case "blue":
                    return "primary";
                case "lightBlue":
                    return "info";
                case "gray":
                    return "secondary";
                case "green":
                    return "success";
                case "red":
                    return "danger";
                case "yellow":
                    return "warning";
                case "white":
                    return "light";
                case "black":
                    return "dark";
                default:
                    return "primary";
            }
        },
        loadToggleBTNs() {
            const BTNs = document.querySelectorAll("[data-toggle-btn]");
            BTNs.forEach(elm => {
                const e = $(elm);
                const state = e.attr("data-toggle-btn")
                if (state === "true") {
                    e.attr("class", "btn btn-success")
                } else {
                    e.attr("class", "btn btn-danger")
                }
                elm.addEventListener("click", (event) => {
                    const target = $(event.target);
                    var s = target.attr("data-toggle-btn");
                    var inputID = target.attr("data-settings-id");
                    this.enableSave(inputID);
                    if (s === "true") {
                        target.attr("data-toggle-btn", "false");
                        e.attr("class", "btn btn-danger")
                        e.html(e.attr("data-toggle-false"));

                    } else {
                        target.attr("data-toggle-btn", "true");
                        e.attr("class", "btn btn-success")
                        e.html(e.attr("data-toggle-true"));
                    }
                })
            })
        },
        multiBTNsData: {},
        loadMultiBTNs() {

            const BTNs = document.querySelectorAll("[data-multi-btn-value]");
            BTNs.forEach(elm => {
                elm.addEventListener("click", (event) => {
                    const target = event.target;
                    var inputID = target.getAttribute("data-settings-id");
                    this.enableSave(inputID);
                    const id = target.getAttribute("data-settings-input-id");
                    const states = this.multiBTNsData[id];
                    const selected = target.getAttribute("data-multi-btn-value");
                    const keys = Object.keys(states);
                    var nextState;
                    if (keys.length === 1) {
                        nextState = states[keys.at(0)];
                    } else {
                        const currentIndex = keys.indexOf(selected);
                        if (currentIndex === keys.length - 1) {
                            nextState = states[keys.at(0)];
                        } else {
                            nextState = states[keys.at(currentIndex + 1)];
                        }
                    }
                    target.setAttribute("class", "btn btn-" + this.translateColor(nextState.color));
                    target.setAttribute("data-multi-btn-value", nextState.value);
                    target.innerHTML = nextState.txt;
                })
            })
        },
        getColData(id, components) {
            var result;
            components.every(component => {
                switch (component.type) {
                    case "LIST":
                        if (component.id === id) {
                            result = component;
                            return false;
                        }
                        break;
                    case "ROW":
                        component.columns.every(col => {
                            if (col.id === id) {
                                result = col;
                                return false
                            }
                            return true;
                        })
                        break;
                    case "CONTAINER":
                        result = this.getColData(id, component.components);
                        break;
                }
                return result === undefined;
            })
            return result;
        },
        save(settingsID) {
            const saveBTN = $("#" + settingsID + "_saveBTN");
            saveBTN.attr("disabled", true);
            saveBTN.attr("class", "btn btn-secondary");
            saveBTN.html("Saving...");
            const inputs = document.querySelectorAll("[data-settings-id='" + settingsID + "']");
            const resultMap = {};
            var canSave = true;
            const settingsMap = this.data[settingsID];
            inputs.forEach(elm => {
                const type = elm.getAttribute("data-settings-type");
                const id = elm.getAttribute("data-settings-input-id");

                var colDat;
                colDat = this.getColData(id, settingsMap.components);

                var value;
                var updateMap = true;
                const required = elm.getAttribute("data-required") === "true";
                switch (type) {
                    case "BOOL":
                        value = elm.getAttribute("data-toggle-btn")
                        break;
                    case "MULTI_BTN":
                        value = elm.getAttribute("data-multi-btn-value")
                        break;
                    case "STRING":
                        value = elm.value;
                        if (required && elm.value.length === 0) {
                            canSave = false;
                            elm.setAttribute("class", "red");
                        } else {
                            elm.setAttribute("class", "");
                        }
                        break;
                    case "NUMBER":
                        value = elm.value;
                        if (required && elm.value.length === 0) {
                            canSave = false;
                            elm.setAttribute("class", "red");
                        } else {
                            elm.setAttribute("class", "");
                        }
                        if (colDat !== undefined) {
                            if (colDat.min !== undefined && value < colDat.min) {
                                value = colDat.min
                                elm.value = colDat.min
                            } else if (colDat.max !== undefined && value > colDat.max) {
                                value = colDat.max
                                elm.value = colDat.max
                            }
                        }
                        break;
                    case "LIST":
                        updateMap = false;
                        console.log("LIST: ", colDat);
                        var listValues = [];
                        const listEntries = document.querySelectorAll("[data-settings-list='" + id + "']");
                        console.log(listEntries);
                        listEntries.forEach(tr => {
                            var trValue = [];
                            Array.from(tr.cells).forEach((cell) => {
                                if (cell.getAttribute("data-settings-col") !== null) {
                                    trValue.push(cell.innerHTML);
                                }
                            })
                            const extra = tr.getAttribute("data-settings-list-extra");
                            listValues.push({values: trValue, extra: extra !== null ? extra : ""});
                        })
                        console.log(listValues);
                        resultMap[id] = {
                            type,
                            id,
                            realId: colDat.realId,
                            values: listValues,
                            title: colDat.title,
                            singleInput: colDat.singleInput,
                            disableRemove: colDat.disableRemove,
                            disableInput: colDat.disableInput,
                            extra: colDat.extra || ""
                        }
                        console.log("LIST_RESULT: ", resultMap[id]);

                        // canSave = false;
                        break;
                    default:
                        value = elm.value
                        break;
                }

                if (colDat !== undefined) {
                    if (updateMap) {
                        resultMap[id] = {
                            type,
                            id,
                            value,
                            label: colDat.label,
                            small: colDat.small,
                            extra: colDat.extra || ""
                        }
                    }
                } else {
                    console.warn("Couldn't save '" + id + "'! Data not found!")
                }
            });
            if (!canSave) {
                setTimeout(() => {
                    saveBTN.html("Failed! Please check marked inputs!");
                    saveBTN.attr("class", "btn btn-danger");
                    saveBTN.attr("disabled", false);
                }, 500)
                return;
            }
            $.post("/settings", {
                settingsID,
                resultMap: JSON.stringify(resultMap)
            }, result => {
                console.log(result);
                if (result.type === "OK") {
                    setTimeout(() => {
                        saveBTN.html("Saved!");
                        saveBTN.attr("class", "btn btn-success");
                    }, 500)
                    if (settingsMap.autoReload) {
                        settings.loadSettings(() => {
                            settings.updateUI();
                        });
                    }
                } else {
                    setTimeout(() => {
                        saveBTN.html("Failed!");
                        saveBTN.attr("class", "btn btn-danger");
                        saveBTN.attr("disabled", false);
                    }, 500)
                }
            })
        }
    }

    function registerCommands() {
        if (!botData.devMode) return;
        addLoading("REG_CMDS")
        const btn = $("#regCMDs");
        btn.attr("disabled", true);
        btn.attr("class","btn btn-secondary btn-xl mb-1")
        $.post("/dev", {action: "RG_CMDS"}, (result) => {
            setTimeout(() => {
                btn.attr("class","btn btn-success btn-xl mb-1")
                btn.attr("disabled", false);
                removeLoading("REG_CMDS")
            }, 250)
        });
    }

    function registerCommandsGlobal() {
        if (!botData.devMode) return;
        addLoading("REG_CMDS_G")
        const btn = $("#regGCMDs");
        btn.attr("disabled", true);
        btn.attr("class","btn btn-secondary btn-xl mb-1")
        $.post("/dev", {action: "RG_CMDS_G"}, (result) => {
            setTimeout(() => {
                btn.attr("class","btn btn-success btn-xl mb-1")
                btn.attr("disabled", false);
                removeLoading("REG_CMDS_G")
            }, 250)
        });
    }

    function reloadAllCommands() {
        if (!botData.devMode) return;
        addLoading("RELOAD_CMDS")
        const btn = $("#relCMDs")
        btn.attr("disabled", true);
        btn.attr("class","btn btn-secondary btn-xl mb-1")
        $.post("/dev", {action: "RL_CMDS"}, (result) => {
            setTimeout(() => {
                btn.attr("disabled", false);
                btn.attr("class","btn btn-success btn-xl mb-1")
                removeLoading("RELOAD_CMDS")
            }, 250)
        });
    }

    initSettings();
</script>