.context {
    padding: 1px 10px;
}
.context.show {
    z-index: 1000;
    position: absolute;
    opacity: 0.8;
    background-color: #333;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: block;
    margin: 0;
    list-style: none;
    transition: opacity 0.3s;
}
.context ul {
    margin: 0;
    padding: 0;
}
.context ul li a {
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0;
}
.context a {

}
.context.show:hover {
    opacity: 1;
}
.context.show a{
    color: #0c88d2;
    cursor: pointer;
    text-decoration: none;
}

.context.hide {
    display: none;
}

.context.show li {
    width: 100%;
    list-style: none;
}

.context.show a {
    border: 0 !important;
    text-decoration: none;
}

.context.show a:hover {
}