@charset "UTF-8";
:root {
    --dots-color-primary: #ffffff;
    --dots-color-secondary: rgba(255, 255, 255, 0.2);
}
/*!
 * three-dots - v0.3.2
 * CSS loading animations made with single element
 * https://nzbin.github.io/three-dots/
 * https://codepen.io/nzbin/pen/GGrXbp
 *
 * Copyright (c) 2018 nzbin
 * Released under MIT License
 */

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--dots-color-primary);
    color: var(--dots-color-primary);
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot-flashing::before, .dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}
.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--dots-color-primary);
    color: var(--dots-color-primary);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}
.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--dots-color-primary);
    color: var(--dots-color-primary);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}

@keyframes dot-flashing {
    0% {
        background-color: var(--dots-color-primary);
    }
    50%, 100% {
        background-color: var(--dots-color-secondary);
    }
}
/**
 * ==============================================
 * Dot Floating
 * ==============================================
 */
.dot-floating {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--dots-color-primary);
    color: var(--dots-color-primary);
    animation: dot-floating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}
.dot-floating::before, .dot-floating::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}
.dot-floating::before {
    left: -12px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--dots-color-primary);
    color: var(--dots-color-primary);
    animation: dot-floating-before 3s infinite ease-in-out;
}
.dot-floating::after {
    left: -24px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--dots-color-primary);
    color: var(--dots-color-primary);
    animation: dot-floating-after 3s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes dot-floating {
    0% {
        left: calc(-50% - 5px);
    }
    75% {
        left: calc(50% + 105px);
    }
    100% {
        left: calc(50% + 105px);
    }
}
@keyframes dot-floating-before {
    0% {
        left: -50px;
    }
    50% {
        left: -12px;
    }
    75% {
        left: -50px;
    }
    100% {
        left: -50px;
    }
}
@keyframes dot-floating-after {
    0% {
        left: -100px;
    }
    50% {
        left: -24px;
    }
    75% {
        left: -100px;
    }
    100% {
        left: -100px;
    }
}