/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

:root {
  --sidebar-bg: #f4f4f4;
  --side-border: #000;
  --item-border: rgba(0,0,0,0.3);
  --small-color: grey;
  --hr-color: #808080;
  --header-border-color: #838383;
  --header-color: #7d7d7d;
  --footer-border-color: #838383;
  --button-color: #0c88d2;
  --text-area-bg: #ffffff;
  --text-area-color: #00000;
}
html[data-theme="dark"] {
  --sidebar-bg: #3b3b3b;
  --side-border: #40abf3;
  --item-border: rgba(0,0,0,0.3);
  --small-color: #8f8f8f;
  --hr-color: #f2f2f2;
  --header-border-color: #40abf3;
  --header-color: #ffffff;
  --footer-border-color: #40abf3;
  --button-color: #0c88d2;
  --text-area-bg: rgba(255, 255, 255, 0.1);
  --text-area-color: #ffffff;
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


/*

SIDEBAR JS - BOOTSTRAP v4 VERSION

*/

/* The side navigation menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 15000; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: var(--sidebar-bg);
  border-left: solid 1px var(--side-border);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1em; /* Place content 60px from the top */
  padding-left: 0;
  padding-right: 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  box-shadow: 0 0 10px grey;

  overflow-y: auto;
}
.sidebar.open {
  width: 30em;
  max-width: 30em;
}




/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 3px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}


}
@media screen and (max-width: 600px){
  .sidebar.open {
    width: 100%;
  }

}

.sidebar .sidebar--item .sidebar--form textarea{
  outline: none !important;
  resize: none !important;
  overflow: auto !important;
  width: 100% !important;
  height: 15em !important;
  border-radius: 2px !important;
  background-color: var(--text-area-bg);
  color: var(--text-area-color);
  border: 1px solid var(--item-border) !important;
}



/* CHECKBOX */

.sidebar .sidebar--item .sidebar--form .checkbox label {
  border: none !important;
}

/* CHECKBOX END */
/* FILE INPUT */

.sidebar .sidebar--item .sidebar--form input[type="file"] {

}
.sidebar .sidebar--item .sidebar--form label {
  display: inline-block;
  cursor: pointer;
}




/* FILE INPUT END */






.sidebar .sidebar--item small, .sidebar .sidebar--footer .item small {
  color: var(--small-color);
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}
.sidebar .sidebar--item h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.sidebar .sidebar--item p {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.sidebar .sidebar--item .btn a, .sidebar .sidebar--item .btn button {
  cursor: pointer;
}
.sidebar .sidebar--item .btn a:hover, .sidebar .sidebar--item .btn button:hover {
  font-size: 14px;
}

.sidebar .sidebar--item a, .sidebar .sidebar--item button{
  font-size: 14px;
  cursor: pointer;
}


.sidebar .sidebar--item hr {
  border: none;
  border-top: solid 1px var(--hr-color);
  margin: 2px
}

.sidebar--btnLine {
  display: inline-flex !important;
  align-self: stretch;
  width: 100%;
}
.sidebar--btnLine a, .sidebar--btnLine button {
  flex-grow: 1;
}

.sidebar .sidebar--item {
  padding-left: 1em;
  padding-right: 1em;
  width: 27em;
}

.sidebar .sidebar--header {
  border-bottom: solid 1px var(--header-border-color);
}
.sidebar .sidebar--header h3 {
  padding-left: 1em;
  color: var(--header-color);
}
.sidebar .sidebar--header a {
  color: var(--header-color);
}
.sidebar .sidebar--footer {
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: solid 1px var(--footer-border-color);
}
.sidebar .sidebar--footer .item {
  display: inline-flex !important;
  justify-content: center;
  width: 100%;
}



.sidebar .sidebar--footer .item  a, .sidebar .sidebar--footer .item  button {
  cursor: pointer;
  flex-grow: 1;
  display: inline-flex !important;
  justify-content: center;
}
.sidebar .sidebar--footer .item  a:hover, .sidebar .sidebar--footer .item  button:hover {
  color: var(--button-color);
}