* {
    font-family: Arial, sans-serif;
}
hr {
    /*border-color: #6d6d6d;*/
    width: calc(100% - 10px);
}
:root {
    --bg-color: #f1f1f1;
    --bg-color-secondary: #f1f1f1;
    --text-color: #ffffff;
    --shadow: rgba(0, 0, 0, 0.2);
    --delay: .5s;
    --timing: 1s;

    background-color: var(--bg-color);
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 40vh 0;
    color: #ffffff;
}

small {
color: rgba(255,255,255,0.3);
}
html[data-theme="dark"] {
    --bg-color: #333333;
    --bg-color-secondary: #3b3b3b;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.bg-nav {
    background-color: #40abf3;
}
a {
    color: #40abf3;
}
a:hover {
    color: #63bcfa;
}

.box {
    background-color: var(--bg-color-secondary);
    box-shadow: -1px 1px 3px var(--shadow);
    padding-left: 1em;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 1em;
    margin-right: 1em;
}
.btn-xl {
    width: 100%;
}
.hover {
    transition: background-color 0.1s ease;
}
.hover:hover {
    background-color: rgba(255,255,255, 0.1);
}
.row-selected {
    background-color: rgba(255,255,255, 0.2);
}

.alert {
    border: #ff0000 solid 1px;
    background-color: rgba(255, 0, 0, 0.1);
    color: #ff0000;
    padding: 1em;
    border-radius: 2px;
}

.loadIndicator {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.247);
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-decoration: none;
    z-index: 100000;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

/*
NAV BAR
*/
.navTitle {
    font-weight: bold;
    font-size: 32px;
    margin: 15px 1px 1px;
    display: inline-block;
    cursor: pointer;
}

.navLink {
    float: left;
}

.navLink ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navLink ul li{
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    padding: 20px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
.navLink ul li:hover{
    background-color: #545454;
}

.navLink.right {
    float: right;
}

.box.nav {
    display: inline-block;
    padding-left: 1em;
    padding-bottom: 0;
    padding-top: 0.5em;
    position: relative;
    border-bottom: #40abf3 solid 3px;
}

.box.nav.small {
    border-bottom: #6ab8f5 solid 3px;
}

.navTitle.small {
    font-weight: bold;
    font-size: 24px;
    margin: 15px 1px 1px;
    display: inline-block;
    cursor: pointer;
}

.navLink.small {
    float: left;
}

.navLink.small ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navLink.small ul li{
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}
.navLink.small ul li:hover{
    background-color: #545454;
}

.navLink.small.right {
    float: right;
}

/**
NAV LOADING
*/
@-webkit-keyframes h-move {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 5rem);
    }
    100% {
        left: 0;
    }
}
@keyframes h-move {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 5rem);
    }
    100% {
        left: 0;
    }
}

.box.nav .loading {
    position: absolute;
    width: 5rem;
    height: 2px;
    background: rgb(64,171,243);
    background: linear-gradient(90deg, rgba(64,171,243,1) 0%, rgb(201, 222, 241) 50%, rgba(64,171,243,1) 100%);
    transition: all 3s linear;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    bottom: -2px;
    left: 0;
    -webkit-animation-name: h-move;
    animation-name: h-move;
}


/*
LOG
*/

.log {
    background-color: rgba(255, 255, 255, 0.1);
    max-height: 35em;
    min-height: 35em;
    overflow: auto;
    padding-bottom: 1em;
}
select:focus {
    border-radius: 0 !important;
}

select {
    padding-left: 5px;
    height: 40px;
    border: none;
    border-bottom: #545454 solid 1px;
    color: #ffffff;
    outline: none;
    background: transparent;
}
select:focus, select.input:focus {
    background-color: #3b3b3b;
    border-bottom: #40abf3 solid 1px;
}
select option, select.input option {
    color: #fff;
    background-color: #3b3b3b;
    border: none;
}
select option:hover, select.input option:hover {
    color: #fff;
    background-color: #4f4f4f;
    border: none;
}


input[type="text"], select.input, input[type="password"], input[type="number"]{
    padding-left: 5px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: #545454 solid 1px;
    color: #ffffff;
    outline: none;
}
input[type="text"].red, input[type="number"].red, select.input.red, input[type="password"].red, select.red{
    border: none;
    border-bottom: #c91616 solid 1px;
    color: #ffffff;
    outline: none;
}

input[type="text"]:disabled, input[type="number"]:disabled, select.input:disabled, input[type="password"]:disabled, select:disabled{
    border: none;
    border-bottom: #c91616 solid 1px;
    color: #ffffff;
    outline: none;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: #40abf3 solid 1px;
    color: #ffffff;
    outline: none;
}


.command {
    word-wrap: break-word;
    background-color: rgba(255,255,255,0.1);
    padding-top: 1em;
    margin-bottom: 1em;
    padding-left: 10px;
    max-width: 100%;
}
#commands {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 42em;
}

/**
PERMISSIONS
*/
.entryList {
    max-height: 80vh;
    min-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.entry {
    background-color: rgba(255,255,255,0.05);
    padding: 5px;
    margin-bottom: 5px;
}
.entry a.opener, a.collapseOpener, .collapseOpener h5 {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.innerEntry {
    padding: 0 10px 10px 10px;
}
.innerEntry tbody {
    max-height: 10em;
}

/*
MATERIAL-ICONS
*/
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    font-size: 20px !important;
}
.inline-icon {
    vertical-align: middle;

}
h4 span.material-symbols-outlined.inline-icon {
    vertical-align: initial;
}
.pointer {
    cursor: pointer;
}

/*
NOTIFICATIONS
*/
.notification {
    margin-top: 10px;
    position: relative;
    padding: 15px;
    word-break: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100px;
}
.notification .top-right {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: rgba(255,255,255,0.3);
    font-size: 24px;
    transition: color 0.2s ease;
}
.notification .top-right:hover {
    color: rgba(255,255,255,0.8);
}
.notification .bottom {
    position: absolute;
    bottom: 10px;
}
.notification.yellow small {
    color: #e1d337;
}
.notification.yellow {
    background-color: rgba(225, 211, 55, 0.1);
    border: none;
    border-left: #e1d337 solid 1px;
}

.notification.red small {
    color: #ff0000;
}
.notification.red {
    background-color: rgba(255, 0, 0, 0.1);
    border: none;
    border-left: #ff0000 solid 1px;
}

.notification.green small {
    color: #00ff00;
}
.notification.green {
    background-color: rgba(0, 255, 0, 0.1);
    border: none;
    border-left: #00ff00 solid 1px;
}


.notification.blue small {
    color: #379fe1;
}
.notification.blue {
    background-color: rgba(64, 171, 243, 0.1);
    border: none;
    border-left: #40abf3 solid 1px;
}
#notificationsBox {
    max-height: 30em;
    overflow-y: auto;
}