<style>
    .limitLength {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 40rem;
    }
</style>

<h3>DISCORD MUSIC</h3>
<hr>
<div id="discordMusicPlaying">
    <div style="display: flex;justify-content: center;">
        <div class="dot-flashing"></div>
    </div>
</div>


<script>


    var discordMusic = {
        init() {
            if (!discordManager.hasData()) {
                setHTML("discordMusicPlaying", "The discord bot is Offline!")
                return;
            }
            var html = "";
            html += "<h5>Currently Playing</h5>";
            $.post("/discordMusic", {}, (json) => {
                console.log(json);
                const playingGuilds = json.data;
                const keys = Object.keys(playingGuilds);
                if (keys.length === 0) {
                    html += "<p>No guilds found that are listening to music!</p>"
                    setHTML("discordMusicPlaying", html)
                    return;
                }
                var i = 0;
                keys.every(id => {
                    const guild = discordManager.getGuild(id);
                    const current = playingGuilds[id].current;
                    if (guild === undefined) {
                        console.warn("Guild ID '" + id + "' not found!");
                        return true;
                    }
                    if (current === undefined) {
                        console.warn("Guild ID '" + id + "' is not playing anything!");
                        return true;
                    }
                    i++;
                    html += '<div class="box" style="background-color: #4b4b4b;">';
                    html += '<a class="collapseOpener" onclick="discordMusic.openGuild(this)" data-guild-id="' + id + '" data-bs-toggle="collapse" href="#guildID_' + id + '">';
                    html += '<div class="row">';
                    html += '<div class="col"><h5 class="limitLength">» ' + guild.getName() + ' - ' + id + '</h5></div>';
                    html += '<div class="col"><h5 class="limitLength" id="' + id + '_title">' + current.title + '</h5></div>';
                    html += '</div></a>';
                    html += '<div class="collapse" data-opened="0" id="guildID_' + id + '"><hr>';
                    html += '<div style="display: flex;justify-content: center;"><div class="dot-flashing"></div></div>';
                    html += '</div>';
                    return true;
                })
                if (i === 0) {
                    html += "<p>No guilds found that are listening to music!</p>"
                    setHTML("discordMusicPlaying", html)
                    return;
                }
                registerNavigatorListener("DM_list",()=>{
                    removeNavigatorListener("DM_list");
                    const keys = Object.keys(this.timeouts);
                    if (keys.length>0){
                        keys.forEach(id=>{
                            clearInterval(this.timeouts[id].id);
                        })
                        console.log("Cleared "+keys.length+" intervals!")
                    }
                })
                setHTML("discordMusicPlaying", html)
            });
        },
        timeouts: {},
        openGuild(btn) {
            const id = btn.getAttribute("data-guild-id");
            const div = $("#guildID_" + id)
            const opened = div.attr("data-opened");
            if (opened === "1") {
                //closing
                div.attr("data-opened", "0");
                if (this.timeouts[id] !== undefined)
                    clearInterval(this.timeouts[id].id);
                delete this.timeouts[id]
                return;
            }
            //opening
            this.loadGuild(id, true);
            this.timeouts[id] = {
                id: undefined,
                isBuild: false
            };
            this.timeouts[id].id = setInterval(() => {
                this.loadGuild(id);
            }, 1000 * 5)
        },
        loadGuild(id, animate) {
            const div = $("#guildID_" + id)
            div.attr("data-opened", "1");
            if (animate) setHTML("guildID_" + id, '<hr><div style="display: flex;justify-content: center;"><div class="dot-flashing"></div></div>')
            $.post("/discordMusic/" + id, {
                action: "get"
            }, (json) => {
                // console.log(json);
                this.updateGuild(id, json.data, true)
            })
        },
        updateGuild(id, data, delay) {
            var html = "<hr>";
            if (data.current === undefined) {
                setHTML(id + "_title", "-")
                html += '<h5>This Guild is currently not listening to any music!</h5>'
                if (delay) {
                    setTimeout(() => {
                        setHTML("guildID_" + id, html)
                    }, 500)
                } else {
                    setHTML("guildID_" + id, html)
                }
                return;
            }
            setHTML(id + "_title", data.current.title)
            if (this.timeouts[id]===undefined||!this.timeouts[id].isBuild) {
                this.timeouts[id].isBuild = true;
                html += '<div class="row">'
                html += '<div class="col">';
                html += '<h5>Currently Playing:</h5>'
                html += `<i id="${id}_title">${data.current.title}</i> <i id="${id}_progress">(${discordMusic.convertMS(data.current.progress)} / ${discordMusic.convertMS(data.current.duration)})</i><br>`;
                html += `<small  id="${id}_raw_title">${data.current.rawTitle}</small><br>`;
                html += `Stream URL: <a  id="${id}_url" target="_blank" href="${data.current.url}">${data.current.url}</a><br>`;
                html += '</div>';

                html += '<div class="col">';
                html += '<h5>Controls:</h5>'
                html += '<button id="' + id + '_backBTN" style="color: #ffffff;" class="playerControl_' + id + ' btn btn-info material-symbols-outlined inline-icon" onclick="discordMusic.back(\'' + id + '\', this)">skip_previous</button>&nbsp;'
                html += '<button id="' + id + '_pauseBTN" style="color: #ffffff;" class="playerControl_' + id + ' btn btn-info material-symbols-outlined inline-icon" onclick="discordMusic.pause(\'' + id + '\', this)">' + (data.current.isPaused ? 'play_arrow' : 'pause') + '</button>&nbsp;'
                html += '<button id="' + id + '_stopBTN" style="color: #ffffff;" class="playerControl_' + id + ' btn btn-danger material-symbols-outlined inline-icon" onclick="discordMusic.stop(\'' + id + '\', this)">stop</button>&nbsp;'
                html += '<button id="' + id + '_skipBTN" style="color: #ffffff;" class="playerControl_' + id + ' btn btn-info material-symbols-outlined inline-icon" onclick="discordMusic.skip(\'' + id + '\', this)">skip_next</button><br><br>';
                html += '<label for="volume_' + id + '">Volume</label><br><input type="range" class="playerControl_' + id + '" oninput="discordMusic.updateVolumePrev(this, \'' + id + '\')" onchange="discordMusic.setVolume(this,\'' + id + '\')" min="0" max="100" step="1" id="volume_' + id + '" value="' + data.current.volume + '"><br><small id="small_volume_' + id + '">' + data.current.volume + '</small>'
                html += '<br><label for="loop_' + id + '">Loop Mode/Autoplay</label><br>'
                html += '<select class="playerControl_' + id + '" id="loop_' + id + '" onchange="discordMusic.setMode(this,\'' + id + '\')">'
                html += '<option value="0" ' + (data.current.mode === 0 ? 'selected' : '') + '>Disabled</option>'
                html += '<option value="1" ' + (data.current.mode === 1 ? 'selected' : '') + '>Loop Track</option>'
                html += '<option value="2" ' + (data.current.mode === 2 ? 'selected' : '') + '>Loop Queue</option>'
                html += '<option value="3" ' + (data.current.mode === 3 ? 'selected' : '') + '>Autoplay</option>'
                html += '</select>'
                html += '</div>';
                html += '';

                if (delay) {
                    setTimeout(() => {
                        setHTML("guildID_" + id, html)
                    }, 500)
                } else {
                    setHTML("guildID_" + id, html)
                }
                return;
            }
            setHTML(id + "_title", data.current.title)
            setHTML(id + "_raw_title", data.current.rawTitle)
            setHTML(id + "_progress", "("+discordMusic.convertMS(data.current.progress) + " / " + discordMusic.convertMS(data.current.duration)+")");
            setHTML(id + "_url",data.current.url)
            setAttribute(id + "_url","href",data.current.url)
            const sel = $("#playerControl_"+id);
            if (!sel.is(":focus")){
                sel.val(data.current.mode);
            }
            const pauseBTN = $("#"+id+"_pauseBTN");
            pauseBTN.attr("class", "playerControl_" + id + " btn btn-info material-symbols-outlined inline-icon")
            if (data.current.isPaused){
                pauseBTN.html('play_arrow');
            }else{
                pauseBTN.html('pause');
            }
            const volRange = $("#volume_"+id);
            if (!volRange.is(":focus")){
                volRange.val(data.current.volume);
                setHTML("small_volume_"+id,data.current.volume);
            }
        },
        convertMS(ms) {
            var str = "";
            const seconds = Math.floor(ms / 1000);
            var sec = seconds % 60;
            var min = Math.floor(seconds / 60);
            var hours = Math.floor(min / 60);
            min = min % 60;
            if (min < 10) {
                min = "0" + min
            }
            if (sec < 10) {
                sec = "0" + sec
            }
            str += hours + ":" + min + ":" + sec;
            return str;
        },
        updateVolumePrev(range, id) {
            range = $(range);
            $("#small_volume_" + id).html(range.val());
        },
        setMode(select, id) {
            select = $(select);
            select.attr("disabled", true);
            $.post("/discordMusic/" + id, {
                action: "loop",
                mode: select.val()
            }, (json) => {
                console.log(json);
                setTimeout(() => {
                    select.attr("disabled", false)
                }, 250)
            })
        },
        setVolume(range, id) {
            range = $(range);
            range.attr("disabled", true)
            $("#small_volume_" + id).html(range.val());
            $.post("/discordMusic/" + id, {
                action: "volume",
                volume: range.val()
            }, (json) => {
                console.log(json);
                setTimeout(() => {
                    range.attr("disabled", false)
                }, 250)
            })
        },
        back(id, btn) {
            btn = $(btn);
            btn.attr("disabled", true)
            btn.attr("class", "btn btn-info")
            btn.html('<span class="dot-flashing" style="margin-left: 10px; margin-right: 10px"></span>');
            $.post("/discordMusic/" + id, {
                action: "back"
            }, (json) => {
                console.log(json);
                setTimeout(() => {
                    btn.attr("disabled", false)
                    btn.attr("class", "playerControl_" + id + " btn btn-info material-symbols-outlined inline-icon")
                    btn.html('skip_previous');
                }, 250)
            })
        },
        skip(id, btn) {
            btn = $(btn);
            btn.attr("disabled", true)
            btn.attr("class", "btn btn-info")
            btn.html('<span class="dot-flashing" style="margin-left: 10px; margin-right: 10px"></span>');
            $.post("/discordMusic/" + id, {
                action: "skip"
            }, (json) => {
                console.log(json);
                setTimeout(() => {
                    btn.attr("disabled", false)
                    btn.attr("class", "playerControl_" + id + " btn btn-info material-symbols-outlined inline-icon")
                    btn.html('skip_next');
                }, 250)
            })
        },
        stop(id, btn) {
            btn = $(btn);
            btn.attr("disabled", true)
            btn.attr("class", "btn btn-danger")
            btn.html('<span class="dot-flashing" style="margin-left: 10px; margin-right: 10px"></span>');
            $.post("/discordMusic/" + id, {
                action: "stop"
            }, (json) => {
                console.log(json);
                setTimeout(() => {
                    $(".playerControl_" + id).attr("disabled", true)
                    btn.attr("class", "playerControl_" + id + " btn btn-info material-symbols-outlined inline-icon")
                    btn.html('stop');
                }, 250)
            })
        },
        pause(id, btn) {
            btn = $(btn);
            btn.attr("disabled", true)
            btn.attr("class", "btn btn-info")
            btn.html('<span class="dot-flashing" style="margin-left: 10px; margin-right: 10px"></span>');
            $.post("/discordMusic/" + id, {
                action: "pause"
            }, (json) => {
                console.log(json);
                setTimeout(() => {
                    btn.attr("disabled", false)
                    btn.attr("class", "playerControl_" + id + " btn btn-info material-symbols-outlined inline-icon")
                    if (json.data === "RESUMED") {
                        btn.html('pause');
                    } else {
                        btn.html('play_arrow');
                    }

                }, 250)
            })
        }
    }

    discordMusic.init();

</script>
