<!--<button class="btn btn-info" onclick="loadModuleSite('/playlistEditor')">Playlist Editor</button>-->
<style>
    .draggable {
        cursor: move;
        user-select: none;
    }

    .placeholder {
        background-color: #edf2f7;
        border: 2px dashed #cbd5e0;
    }

    .clone-list {
        border-top: 1px solid #ccc;
    }

    .clone-table {
        border-collapse: collapse;
        border: none;
    }

    .clone-table th,
    .clone-table td {
        border: 1px solid #ccc;
        border-top: none;
        padding: 0.5rem;
    }

    .dragging {
        background: #fff;
        border-top: 1px solid #ccc;
        z-index: 999;
    }
</style>
<div class="row" style="margin-bottom: 20px">
    <div class="col">
        <h4>Playlist Editor</h4>
        <hr>
        <label for="guildSelect">Select Guild</label>
        <select id="guildSelect" onchange="editor.loadGuildPlaylists(this)" style="width: 100%">
            <option value="GLOBAL">GLOBAL</option>
            <option value="ID">GUILD ID</option>
        </select>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row" id="lists" style="display: none">
    <div class="col">
        <h4>Editor</h4>
        <hr>
        <table class="table table-hover table-striped table-dark" id="table">
            <thead>
            <tr>
                <th scope="col" style="width: 20px">#</th>
                <th scope="col">Title</th>
                <th scope="col">URL</th>
                <th scope="col" style="width: 10%">Action</th>
            </tr>
            </thead>
            <tbody id="plEditorBody">
            <tr>
                <th scope="row"><span class="material-symbols-outlined">drag_handle</span></th>
                <td>SUPER DUPER TITLE</td>
                <td>SUPER DUPER URL</td>
                <td>
                    <button class="btn btn-outline-danger btn-sm" onclick="editor.removeEntry(this)">Remove</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><span class="material-symbols-outlined">drag_handle</span></th>
                <td>SUPER DUPER TITLE</td>
                <td>SUPER DUPER URL</td>
                <td>
                    <button class="btn btn-outline-danger btn-sm" onclick="editor.removeEntry(this)">Remove</button>
                </td>
            </tr>
            <tr>
                <th scope="row"><span class="material-symbols-outlined">drag_handle</span></th>
                <td>SUPER DUPER TITLE</td>
                <td>SUPER DUPER URL</td>
                <td>
                    <button class="btn btn-outline-danger btn-sm" onclick="editor.removeEntry(this)">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row" id="editorControls" style="display: none;">
            <div class="col">
                <input type="text" id="newTile" style="width: 100%" placeholder="TITLE">
            </div>
            <div class="col">
                <input type="text" id="newURL" style="width: 100%" placeholder="URL">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-info" onclick="editor.createEntry(this)">Add</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-success" onclick="editor.savePlaylist(this)">Save Playlist</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h4>Playlists</h4>
        <hr>
        <table class="table table-hover table-striped table-dark">
<!--            <caption>*When loading this Playlist next time in Discord, it may take a while!</caption>-->
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" style="width: 55%">Name</th>
                <th scope="col" style="width: 10%">Songs</th>
<!--                <th scope="col" style="width: 10%">*Need Update</th>-->
                <th scope="col" style="width: 25%">Actions</th>
            </tr>
            </thead>
            <tbody id="plsBody">
            <tr>
                <th scope="row">1</th>
                <td>Party List</td>
                <td>23</td>
                <td>false</td>
                <td>
                    <button class="btn btn-outline-danger btn-sm">DELETE</button>
                    <button class="btn btn-info btn-sm">EDIT</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Party List</td>
                <td>23</td>
                <td>false</td>
                <td>
                    <button class="btn btn-outline-danger btn-sm">DELETE</button>
                    <button class="btn btn-info btn-sm">EDIT</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Party List</td>
                <td>23</td>
                <td>false</td>
                <td>
                    <button class="btn btn-outline-danger btn-sm">DELETE</button>
                    <button class="btn btn-info btn-sm">EDIT</button>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <div class="row">
            <div class="col">
                <input type="text" id="newPlName" style="width: 100%" placeholder="Name">
            </div>
            <div class="col-sm-2">
                <button class="btn btn-info" onclick="editor.createPlaylist(this)">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="sidebar" id="sideBar"></div>

<script>
    var editor = {
        loadedGuild: undefined,
        sideBar: new SideBuilder("sideBar"),
        testSideBar(){
            this.sideBar.clear();
            this.sideBar.enableCloseBTN(true);
            this.sideBar.setTitle("SideBar Title");
            this.sideBar.add(new TextAreaModule().setTitle("TextArea").setText("Some text").setSmall("Some Small Text"))

            this.sideBar.add(new HrModule());
            this.sideBar.add(new TextModule().setText("separator (see below or above this text)").setTitle("hr").setSmall("HrModule"));

            this.sideBar.add(new HrModule());
            this.sideBar.add(new TextFieldModule("textID").setTitle("TextField").setText("some text").setSmall("TextFieldModule"));
            this.sideBar.add(new TextFieldModule("passwordID").setType("password").setTitle("PasswordField").setText("some text").setSmall("TextFieldModule"));
            // this.sideBar.add(new TextFieldModule("emailID").setType("email").setTitle("EmailField").setText("some text").setSmall("TextFieldModule"));
            this.sideBar.add(new TextFieldModule("numberID").setType("number").setTitle("NumberField").setText("some text").setSmall("TextFieldModule"));

            this.sideBar.add(new HrModule());
            this.sideBar.add(new ButtonModule().setTitle("Button with options").setValue("Click Me Now!").setOptions("onclick=editor.closeSidebar()").setSmall("ButtonModule").setText("Click this button to Close this Sidebar"));
            this.sideBar.add(new ButtonModule().setType("a").setTitle("a with options").setValue("Click Me Now!").setOptions("onclick=editor.closeSidebar()").setSmall("ButtonModule").setText("Click this a to Close this Sidebar"));
            this.sideBar.add('{"moduleID":7,"value1":"1","value2":"2","value3":"3","title":"BTN Row with with 3 a ","subTitle":"subtitle","small":"Module ID: 7"}');
            this.sideBar.add('{"moduleID":7,"value1":"1","value2":"2","value3":"3","type":"button","title":"BTN Row with with 3 buttons","subTitle":"subtitle","small":"Module ID: 7"}');
            this.sideBar.add('{"moduleID":8,"value1":"1","value2":"2","title":"BTN Row with with 2 a ","subTitle":"subtitle","small":"Module ID: 8"}');
            this.sideBar.add('{"moduleID":8,"value1":"1","value2":"2","type":"button","title":"BTN Row with with 2 buttons","subTitle":"subtitle","small":"Module ID: 8"}');
            this.sideBar.add(new HrModule());

            this.sideBar.add('{"moduleID":9,"text":"Write your own Text!","title":"Text","small":"Module ID: 9"}');
            this.sideBar.add(new HrModule());
            this.sideBar.add('{"moduleID":9,"title":"Inputs"}');
            this.sideBar.add('{"moduleID":10,"id":"abc","small":"Module ID: 10", "subTitle":"Checkbox","label":"Label"}');
            this.sideBar.add('{"moduleID":11,"id":"abc","small":"Module ID: 11", "subTitle":"Select","data":"[\'1\',\'2\']"}');
            this.sideBar.add('{"moduleID":12,"id":"abc","small":"Module ID: 12", "subTitle":"File Input", "options":"multiple"}');

            this.sideBar.setFooter(new ButtonRow().addButton({options: "onclick=editor.completeRename(this)", value: "Save"}).addButton({options: "onclick=editor.closeSidebar()", value: "Cancel"}));

            // this.sideBar.setFooter('{"moduleID":3,"value":"Cancel","options":"","value2":"Delete","options2":"onclick=closeSideBar()","value3":"Save","options3":"onclick=closeSideBar()"}');
            this.sideBar.build();

            this.sideBar.open();
        },
        closeSidebar(){
            this.sideBar.close();
        },
        removeEntry(btn) {
            if (btn.parentNode.parentNode !== null) {
                btn.parentNode.parentNode.remove();
            }
        },
        createEntry(btn){
            if (this.selectedList===undefined){
                return;
            }
            const titleInput = $("#newTile");
            const urlInput = $("#newURL");
            const title = titleInput.val().replaceAll(/"/g,"'");
            const url = urlInput.val().replaceAll(/"/g,"'");
            if (title.replaceAll(/ /g,"").length===0||url.replaceAll(/ /g,"").length===0){
                return;
            }
            const table = document.getElementById("plEditorBody");
            var tr = document.createElement("tr");
            tr.setAttribute("data-title",title)
            tr.setAttribute("data-url",url)
            tr.setAttribute("data-pl-row","")
            var html = "";
            html+="<th scope=\"row\"><span class=\"material-symbols-outlined\">drag_handle</span></th>";
            html+="<td>"+title+"</td>";
            html+="<td>"+url+"</td>";
            html+="<td>";
            html+="<button class=\"btn btn-outline-danger btn-sm\" onClick=\"editor.removeEntry(this)\">Remove</button>";
            html+="</td>";
            tr.innerHTML = html;
            table.appendChild(tr);
            addDrag(tr);
            this.editorContextMenu.addTarget(tr);
            titleInput.val("")
            urlInput.val("")
        },
        savePlaylist(btn){
          if (this.selectedList===undefined){
              return;
          }
          if (this.loadedGuild.playlists[this.selectedList]===undefined)return;
          addLoading("SAVE_PL")
            btn = $(btn);
            var name = this.selectedList;
            var tracks = [];
            btn.attr("disabled",true)
            btn.attr("class","btn btn-secondary")
            btn.html("Saving...")
            const rows = document.querySelectorAll("[data-pl-row='']");
            rows.forEach(row=>{
                tracks.push({
                    title: row.getAttribute("data-title"),
                    url: row.getAttribute("data-url"),
                })
            })
            $.post("/playList/"+this.loadedGuild.id,{
                playlist: name,
                action: "UPDATE",
                tracks: JSON.stringify(tracks)
            },(result)=>{
                console.log(result);
                if (result.type==="OK"){
                    this.loadedGuild.playlists[name] = result.playList;
                    this.loadPlaylistsList();
                    btn.attr("class","btn btn-success")
                    btn.html("Saved!")
                    btn.attr("disabled",false)
                }else{
                    btn.attr("class","btn btn-danger")
                    btn.html("Saving failed!")
                    btn.attr("disabled",false)
                }
                removeLoading("SAVE_PL");
            }).catch(()=>{
                btn.attr("class","btn btn-danger")
                btn.html("Saving failed!")
                btn.attr("disabled",false)
                removeLoading("SAVE_PL");
            });

        },
        loadGuildSelector() {
            if (!discordManager.hasData()) {
                setHTML("guildSelect", "<option value='INVALID'>Bot Offline! Please start the discord bot!</option>")
                return;
            }
            var html = "";
            const keys = Object.keys(discordManager.getGuilds());
            html += "<option value='INVALID' selected>Select Guild</option>";
            html += "<option value='GLOBAL'>GLOBAL</option>";
            keys.forEach(id => {
                const guild = discordManager.getGuild(id);
                html += "<option value='" + guild.getId() + "'>" + guild.getName() + " - " + guild.getId() + "</option>";
            })

            setHTML("guildSelect", html);
        },
        loadGuildPlaylists(select) {
            this.selectedList = undefined;
            const value = select.value;
            const eSel = $(select);
            if (value === "INVALID") {
                $("#lists").hide();
                console.warn("Invalid Guild!")
                return;
            }
            eSel.attr("disabled", true);
            addLoading("PL_LOAD_GUILD")
            $.get("/playlist/" + value, (result) => {
                console.log(result);
                if (result.type === "ERR") {
                    $("#lists").hide();
                } else {
                    this.loadedGuild = {
                        id: result.guild,
                        playlists: result.playlists
                    }
                    $("#lists").show();
                    this.updateLists();
                }
                eSel.attr("disabled", false);
                removeLoading("PL_LOAD_GUILD")
            }).catch(() => {
                removeLoading("PL_LOAD_GUILD")
                eSel.attr("disabled", false);
                $("#lists").hide();
            });
        },
        updateLists() {
            this.loadPlaylistsList();
            this.loadEditor();
        },
        deletePlaylist(btn){
            const originalBTN = btn;
            btn = $(btn);
            const name = btn.attr("data-pl-name");
            if (name===undefined||name.replaceAll(/ /g,"").length===0){
                return
            }
            if (btn.attr("data-step")==="0"){
                btn.attr("data-step","1")
                btn.html("Sure?")
                return;
            }
            btn.attr("disabled",true)
            btn.attr("class","btn btn-outline-secondary btn-sm")
            btn.html("Deleting...")
            addLoading("DELETE_PL");
            $.post("/playList/"+this.loadedGuild.id,{
                playlist: name,
                action: "DELETE"
            },(result)=>{
                if (result.type==="OK"){
                    delete this.loadedGuild.playlists[name];
                    if (Object.keys(this.loadedGuild.playlists).length===0){
                        this.loadPlaylistsList();
                    }else{
                        originalBTN.parentNode.parentNode.remove();
                    }
                    this.loadEditor();
                }else{
                    btn.attr("class","btn btn-outline-danger btn-sm")
                    btn.html("Deleting failed!")
                    btn.attr("disabled",false)
                }
                removeLoading("DELETE_PL");
            }).catch(()=>{
                btn.attr("class","btn btn-outline-danger btn-sm")
                btn.html("Deleting failed!")
                btn.attr("disabled",false)
                removeLoading("DELETE_PL");
            });
        },
        createPlaylist(btn){
            btn = $(btn);
            const input = $("#newPlName");
            const name = input.val();
            if (name===undefined||name.replaceAll(/ /g,"").length===0){
                return
            }
            btn.attr("disabled",true)
            btn.attr("class","btn btn-secondary")
            btn.html("Creating...")
            addLoading("CREATE_PL");
            $.post("/playList/"+this.loadedGuild.id,{
                playlist: name,
                action: "CREATE"
            },(result)=>{
                if (result.type==="OK"){
                    this.loadedGuild.playlists[name] = result.playList;
                    this.loadPlaylistsList();
                    btn.attr("class","btn btn-success")
                    btn.html("Created!")
                    btn.attr("disabled",false)
                    input.val("");
                }else{
                    btn.attr("class","btn btn-danger")
                    btn.html("Creating failed!")
                    btn.attr("disabled",false)
                }
                removeLoading("CREATE_PL");
            }).catch(()=>{
                btn.attr("class","btn btn-danger")
                btn.html("Creating failed!")
                btn.attr("disabled",false)
                removeLoading("CREATE_PL");
            });
        },
        editPlaylist(btn){
            btn = $(btn);
            const name = btn.attr("data-pl-name");
            if (name===undefined||name.replaceAll(/ /g,"").length===0){
                return
            }
            const playlist = this.loadedGuild.playlists[name]
            if (playlist===undefined)return;
            document.querySelectorAll("[data-edit-btn]").forEach(elm=>{
                elm.setAttribute("class","btn btn-info btn-sm")
            })
            btn.attr("class","btn btn-success btn-sm")
            this.selectedList = name;
            this.loadEditor();
        },
        contextMenu: undefined,
        editorContextMenu: undefined,
        loadPlaylistsList(){
            if (this.loadedGuild===undefined)return;
            const playlistNames = Object.keys(this.loadedGuild.playlists)
            var html = "";
            if (playlistNames.length===0){
                html+="<tr>";
                html+="<th scope=\"row\">#</th>";
                html+="<td colspan='4'>No Playlist found!</td>";
                html+="</tr>";
                setHTML("plsBody",html)
                return;
            }

            var i = 0;
            playlistNames.forEach(name=>{
                i++;
                const playlist = this.loadedGuild.playlists[name];
                html+="<tr data-pl-name='"+name+"'>";
                html+="<th scope=\"row\">"+i+"</th>";
                html+="<td>"+name+"</td>";
                html+="<td>"+playlist.simple.length+"</td>";
                // var bool = false;
                // if (playlist.advanced!==undefined&&playlist.advanced.updateTracks!==undefined)
                //     bool = playlist.advanced.updateTracks;
                // html+="<td>"+bool.toString()+"</td>";
                html+="<td>";
                html+="<button class=\"btn btn-outline-danger btn-sm\" data-pl-name='"+name+"' data-step='0' onclick='editor.deletePlaylist(this)'>DELETE</button>";
                if (this.selectedList===name){
                    html+="<button class=\"btn btn-success btn-sm\" data-edit-btn data-pl-name='"+name+"' onclick='editor.editPlaylist(this)'>EDIT</button>";
                }else{
                    html+="<button class=\"btn btn-info btn-sm\" data-edit-btn data-pl-name='"+name+"' onclick='editor.editPlaylist(this)'>EDIT</button>";
                }

                html+="</td>";
                html+="</tr>";
            })

            setHTML("plsBody",html)

            this.contextMenu = new ContextMenu("copyContext",document.querySelectorAll("[data-pl-name]"))
            this.contextMenu.setBuilder((target, menuElm, contextObject)=>{
                html = "";
                const plName = target.getAttribute("data-pl-name");
                const pl = this.loadedGuild.playlists[plName];
                if (pl===undefined){
                    html="<a style='color: #c91616'>Invalid Playlist</a>"
                    return html;
                }
                this.sideBar.close(true);
                html += "<ul>";
                html += "<li><a onclick='editor.startCopyToServer(\""+plName+"\")'>Copy Playlist to another Server</a></li>";
                html += "<li><a onclick='editor.startCopyPlaylist(\""+plName+"\")'>Copy Playlist</a></li>";
                html += "<li><a onclick='editor.startRenamePlaylist(\""+plName+"\")'>Rename Playlist</a></li>";
                html += "<ul>";
                return html;
            })
        },
        actions: {
            DELETE: "DELETE",
            CREATE: "CREATE",
            UPDATE: "UPDATE",
            RENAME: "RENAME",
            COPY: "COPY",
            COPY_SERVER: "COPY_SERVER"
        },
        startRenamePlaylist(plName){
            const playList = this.loadedGuild.playlists[plName];
            if (playList===undefined)return;
            this.sideBar.clear()
            this.sideBar.setTitle("Rename '"+plName+"'");
            this.sideBar.setData(plName);
            var small = "";
            if (this.selectedList===plName){
                small = "*This playlist is currently selected! Please make sure to save this playlist before continuing!"
            }
            this.sideBar.add(new TextFieldModule("newPLName").setText("New Name").setOptions("data-edit-pl='"+plName+"'").setPlaceholder("New Name").setSmall(small));
            this.sideBar.setFooter(new ButtonRow().addButton({options: "onclick=editor.completeRename(this)", value: "Rename"}).addButton({options: "onclick=editor.closeSidebar()", value: "Cancel"}));
            this.sideBar.build();
            this.sideBar.open();
        },
        completeRename(btn){
            btn = $(btn);
            btn.attr("disabled",true);
            btn.attr("class","btn btn-outline-secondary")
            btn.html("Saving...");
            const inputName = $("#newPLName");
            const newName = inputName.val();
            const plName = inputName.attr("data-edit-pl");
            if (this.loadedGuild.playlists[plName]===undefined){
                btn.attr("disabled",false);
                btn.attr("class","btn btn-outline-danger")
                btn.html("Saving failed! (Invalid Playlist!)");
                return;
            }
            if (newName.replaceAll(/ /g,"").length===0){
                btn.attr("disabled",false);
                btn.attr("class","btn btn-outline-danger")
                btn.html("Saving failed! (Name invalid!)");
                return;
            }
            this.renamePlaylist(plName,newName,(result)=>{
                if (result.type==="OK"){
                    this.sideBar.close();
                }else{
                    btn.attr("disabled",false);
                    btn.attr("class","btn btn-outline-danger")
                    btn.html("Saving failed! ("+result.data+")");
                    return;
                }
            })
        },
        startCopyPlaylist(plName){
            const playList = this.loadedGuild.playlists[plName];
            if (playList===undefined)return;
            this.sideBar.clear()
            this.sideBar.setTitle("Copy '"+plName+"'");
            this.sideBar.setData(plName);
            var small = "";
            if (this.selectedList===plName){
                small = "*This playlist is currently selected! Please make sure to save this playlist before continuing!"
            }
            this.sideBar.add(new TextFieldModule("copyPLName").setText("Copy to Name").setOptions("data-edit-pl='"+plName+"'").setPlaceholder("Name").setSmall(small));
            this.sideBar.setFooter(new ButtonRow().addButton({options: "onclick=editor.completeCopy(this)", value: "Copy"}).addButton({options: "onclick=editor.closeSidebar()", value: "Cancel"}));
            this.sideBar.build();
            this.sideBar.open();
        },
        completeCopy(btn){
            btn = $(btn);
            btn.attr("disabled",true);
            btn.attr("class","btn btn-outline-secondary")
            btn.html("Saving...");
            const inputName = $("#copyPLName");
            const destName = inputName.val();
            const plName = inputName.attr("data-edit-pl");
            if (this.loadedGuild.playlists[plName]===undefined){
                btn.attr("disabled",false);
                btn.attr("class","btn btn-outline-danger")
                btn.html("Saving failed! (Invalid Playlist!)");
                return;
            }
            if (destName.replaceAll(/ /g,"").length===0){
                btn.attr("disabled",false);
                btn.attr("class","btn btn-outline-danger")
                btn.html("Saving failed! (Name invalid!)");
                return;
            }
            this.copyPlaylist(plName,destName,(result)=>{
                if (result.type==="OK"){
                    this.sideBar.close();
                }else{
                    btn.attr("disabled",false);
                    btn.attr("class","btn btn-outline-danger")
                    btn.html("Saving failed! ("+result.data+")");
                    return;
                }
            })
        },
        startCopyToServer(plName){
            const playList = this.loadedGuild.playlists[plName];
            if (playList===undefined)return;
            if (!discordManager.hasData())return;
            this.sideBar.clear()
            this.sideBar.setTitle("Copy '"+plName+"'");
            this.sideBar.setData(plName);
            var small = "";
            if (this.selectedList===plName){
                small = "*This playlist is currently selected! Please make sure to save this playlist before continuing!"
            }
            const selectValues = [];
            const guilds = Object.keys(discordManager.getGuilds());
            if (this.loadedGuild.id!=="GLOBAL")selectValues.push({value: "GLOBAL", name: "GLOBAL"});
            guilds.forEach(id=>{
                if (id!==this.loadedGuild.id){
                    selectValues.push({value: id, name: discordManager.getGuild(id).getName()+" - "+id});
                }
            })
            if (guilds.length===0){
                selectValues.push({value: "INVALID", name: "No Server found!"})
            }
            this.sideBar.add(new SelectModule("copyToGuild").setText("Copy to Guild").setOptions("data-edit-pl='"+plName+"'").setSelectValues(selectValues).setSmall(small).setSelected(this.loadedGuild.id));
            this.sideBar.setFooter(new ButtonRow().addButton({options: "onclick=editor.completeGuildCopy(this)", value: "Copy to Guild"}).addButton({options: "onclick=editor.closeSidebar()", value: "Cancel"}));
            this.sideBar.build();
            this.sideBar.open();
        },
        completeGuildCopy(btn){
            btn = $(btn);
            btn.attr("disabled",true);
            btn.attr("class","btn btn-outline-secondary")
            btn.html("Saving...");
            const inputName = $("#copyToGuild");
            const destGuild = inputName.val();
            console.log(destGuild);
            const plName = inputName.attr("data-edit-pl");
            if (this.loadedGuild.playlists[plName]===undefined){
                btn.attr("disabled",false);
                btn.attr("class","btn btn-outline-danger")
                btn.html("Saving failed! (Invalid Playlist!)");
                return;
            }
            if (discordManager.getGuild(destGuild)===undefined&&destGuild!=="GLOBAL"){
                btn.attr("disabled",false);
                btn.attr("class","btn btn-outline-danger")
                btn.html("Saving failed! (Guild invalid!)");
                return;
            }
            this.copyToServer(plName,destGuild,(result)=>{
                if (result.type==="OK"){
                    this.sideBar.close();
                }else{
                    btn.attr("disabled",false);
                    btn.attr("class","btn btn-outline-danger")
                    btn.html("Saving failed! ("+result.data+")");
                    return;
                }
            })
        },
        copyPlaylist(plName, destName,cb){
            const playList = this.loadedGuild.playlists[plName];
            if (playList===undefined)return;
            $.post("/playlist/"+this.loadedGuild.id,{
                action: this.actions.COPY,
                playlist: plName,
                newName: destName
            },(result)=>{
                console.log(result);
                if (result.type==="OK"){
                    this.loadedGuild.playlists[destName] = result.playList;
                    this.updateLists();
                }
                if (cb)cb(result);
            })
        },
        copyToServer(plName, destGuild, cb){
            const playList = this.loadedGuild.playlists[plName];
            if (playList===undefined)return;
            $.post("/playlist/"+this.loadedGuild.id,{
                action: this.actions.COPY_SERVER,
                playlist: plName,
                newName: destGuild
            },(result)=>{
                console.log(result);
                if (cb)cb(result);
            })
        },
        renamePlaylist(plName, newName,cb){
            const playList = this.loadedGuild.playlists[plName];
            if (playList===undefined)return;
            $.post("/playlist/"+this.loadedGuild.id,{
                action: this.actions.RENAME,
                playlist: plName,
                newName
            },(result)=>{
                console.log(result);
                if (result.type==="OK"){
                    this.loadedGuild.playlists[newName] = result.playList;
                    delete this.loadedGuild.playlists[plName];
                    if (this.selectedList === plName)
                        this.selectedList = newName;
                    this.updateLists();
                }
                if (cb)cb(result);
            })
        },
        selectedList: undefined,
        loadEditor() {
            //load list
            var html = "";
            if (this.selectedList === undefined||this.loadedGuild.playlists[this.selectedList]===undefined) {
                html+="<tr>";
                html+="<th scope=\"row\">#</th>";
                html+="<td colspan='3'>No Playlist Selected!</td>";
                html+="</tr>";
                setHTML("plEditorBody",html)
                $("#editorControls").hide();
                return;
            }
            const playList = this.loadedGuild.playlists[this.selectedList];
            if (playList.simple.length===0){
                setHTML("plEditorBody",html)
                $("#editorControls").show();
                return;
            }
            playList.simple.forEach(row=>{
                html+='<tr data-pl-row data-title="'+row.title+'" data-url="'+row.url+'">';
                html+="<th scope=\"row\"><span class=\"material-symbols-outlined\">drag_handle</span></th>";
                html+="<td>"+row.title+"</td>";
                html+="<td>"+row.url+"</td>";
                html+="<td>";
                html+="<button class=\"btn btn-outline-danger btn-sm\" onClick=\"editor.removeEntry(this)\">Remove</button>";
                html+="</td>";
                html+="</tr>";
            })
            setHTML("plEditorBody",html)
            this.editorContextMenu = new ContextMenu("editorContext",document.querySelectorAll("[data-pl-row]"))
            this.editorContextMenu.setBuilder((target, menuElm, contextMenu)=>{
                html = "";
                if (this.loadedGuild===undefined||this.selectedList===undefined||this.loadedGuild.playlists[this.selectedList]===undefined){
                    html="<a style='color: #c91616'>Invalid Playlist</a>"
                    return html;
                }
                html += "<ul>";
                this.sideBar.close(true);
                this.sideBar.clear();
                this.sideBar.setData(target);
                html += "<li><a onclick='editor.startEditRow()'>Edit Row</a></li>";
                html += "<ul>";
                return html;
            })
            $("#editorControls").show();
            //then
            initDrag();
        },
        startEditRow(){
            const row = this.sideBar.getData();
            if (row===null||row===undefined)return;
            const title = row.getAttribute("data-title")
            const url = row.getAttribute("data-url")
            this.sideBar.setTitle("Edit row");
            this.sideBar.add(new TextFieldModule("rnRowTitle").setText("Title").setPlaceholder("Title").setValue(title));
            this.sideBar.add(new TextFieldModule("rnRowURL").setText("URL").setPlaceholder("URL").setValue(url));
            this.sideBar.setFooter(new ButtonRow().addButton({options: "onclick=editor.completeEditRow(this)", value: "Save"}).addButton({options: "onclick=editor.closeSidebar()", value: "Cancel"}));
            this.sideBar.build();
            this.sideBar.open();
        },
        completeEditRow(btn){
            btn = $(btn);
            btn.attr("disabled",true);
            btn.attr("class","btn btn-outline-secondary")
            btn.html("Saving...");

            const inputTitle = $("#rnRowTitle");
            const title = inputTitle.val().replaceAll(/"/g,"'");
            if (title.replaceAll(/ /g,"").length===0){
                btn.attr("disabled",false);
                btn.attr("class","btn btn-outline-danger")
                btn.html("Saving failed! (Title invalid)");
                return;
            }

            const inputURL = $("#rnRowURL");
            const url = inputURL.val().replaceAll(/"/g,"'");
            if (url.replaceAll(/ /g,"").length===0){
                btn.attr("disabled",false);
                btn.attr("class","btn btn-outline-danger")
                btn.html("Saving failed! (URL invalid)");
                return;
            }

            const elm = this.sideBar.getData();
            if (elm===undefined||elm===null){
                btn.attr("disabled",true);
                btn.attr("class","btn btn-outline-danger")
                btn.html("Failed to save! (Entry not found)");
                return;
            }
            var html = "";
            html+="<th scope=\"row\"><span class=\"material-symbols-outlined\">drag_handle</span></th>";
            html+="<td>"+title+"</td>";
            html+="<td>"+url+"</td>";
            html+="<td>";
            html+="<button class=\"btn btn-outline-danger btn-sm\" onClick=\"editor.removeEntry(this)\">Remove</button>";
            html+="</td>";
            elm.setAttribute("data-title",title)
            elm.setAttribute("data-url",url)
            elm.innerHTML = html;
            addDrag(elm);
            this.sideBar.close();
        }
    }
</script>

<script>
    var table = null;

    var draggingEle;
    var draggingRowIndex;
    var placeholder;
    var list;
    var isDraggingStarted = false;

    // The current position of mouse relative to the dragging element
    var x = 0;
    var y = 0;

    // Swap two nodes
    function swap(nodeA, nodeB) {
        const parentA = nodeA.parentNode;
        const siblingA = nodeA.nextSibling === nodeB ? nodeA : nodeA.nextSibling;

        // Move nodeA to before the nodeB
        nodeB.parentNode.insertBefore(nodeA, nodeB);

        // Move nodeB to before the sibling of nodeA
        parentA.insertBefore(nodeB, siblingA);
    }

    // Check if nodeA is above nodeB
    function isAbove(nodeA, nodeB) {
        // Get the bounding rectangle of nodes
        const rectA = nodeA.getBoundingClientRect();
        const rectB = nodeB.getBoundingClientRect();

        return rectA.top + rectA.height / 2 < rectB.top + rectB.height / 2;
    }

    function cloneTable() {
        const rect = table.getBoundingClientRect();
        const width = parseInt(window.getComputedStyle(table).width);

        list = document.createElement('div');
        list.setAttribute("class", "clone-list table table-hover table-striped table-dark")
        // list.style.position = 'absolute';
        // list.style.left = rect.left + 'px';
        // list.style.top = rect.top + 'px';
        table.parentNode.insertBefore(list, table);

        // Hide the original table
        table.style.display = 'none';

        table.querySelectorAll('tr').forEach(function (row) {
            // Create a new table from given row
            const item = document.createElement('div');
            item.classList.add('draggable');

            const newTable = document.createElement('table');
            newTable.setAttribute('class', 'clone-table');
            newTable.style.width = width + 'px';

            const newRow = document.createElement('tr');
            const cells = [].slice.call(row.children);
            cells.forEach(function (cell) {
                const newCell = cell.cloneNode(true);
                newCell.style.width = parseInt(window.getComputedStyle(cell).width) + 'px';
                newRow.appendChild(newCell);
            });

            newTable.appendChild(newRow);
            item.appendChild(newTable);
            list.appendChild(item);
        });
    }

    function mouseDownHandler(e) {
        // Get the original row
        if (e.buttons!==1)return;
        var originalRow = e.target.parentNode;
        if (originalRow.nodeName === "TH") {
            originalRow = originalRow.parentNode;
        }
        draggingRowIndex = [].slice.call(table.querySelectorAll('tr')).indexOf(originalRow);

        // Determine the mouse position
        x = e.clientX;
        y = e.clientY;

        // Attach the listeners to document
        document.addEventListener('mousemove', mouseMoveHandler);
        document.addEventListener('mouseup', mouseUpHandler);
    }

    function mouseMoveHandler(e) {
        if (!isDraggingStarted) {
            isDraggingStarted = true;

            cloneTable();
            draggingEle = [].slice.call(list.children)[draggingRowIndex];
            if (draggingEle === undefined) return;
            draggingEle.classList.add('dragging');

            // Let the placeholder take the height of dragging element
            // So the next element won't move up
            placeholder = document.createElement('div');
            placeholder.classList.add('placeholder');
            draggingEle.parentNode.insertBefore(placeholder, draggingEle.nextSibling);
            placeholder.style.height = draggingEle.offsetHeight + 'px';
        }
        if (draggingEle === undefined) return;
        // Set position for dragging element
        draggingEle.style.position = 'absolute';
        draggingEle.style.top = (draggingEle.offsetTop + e.clientY - y) + 'px';
        draggingEle.style.left = (draggingEle.offsetLeft + e.clientX - x) + 'px';

        // Reassign the position of mouse
        x = e.clientX;
        y = e.clientY;

        // The current order
        // prevEle
        // draggingEle
        // placeholder
        // nextEle
        const prevEle = draggingEle.previousElementSibling;
        const nextEle = placeholder.nextElementSibling;

        // The dragging element is above the previous element
        // User moves the dragging element to the top
        // We don't allow to drop above the header
        // (which doesn't have previousElementSibling)
        if (prevEle && prevEle.previousElementSibling && isAbove(draggingEle, prevEle)) {
            // The current order    -> The new order
            // prevEle              -> placeholder
            // draggingEle          -> draggingEle
            // placeholder          -> prevEle
            swap(placeholder, draggingEle);
            swap(placeholder, prevEle);
            return;
        }

        // The dragging element is below the next element
        // User moves the dragging element to the bottom
        if (nextEle && isAbove(nextEle, draggingEle)) {
            // The current order    -> The new order
            // draggingEle          -> nextEle
            // placeholder          -> placeholder
            // nextEle              -> draggingEle
            swap(nextEle, placeholder);
            swap(nextEle, draggingEle);
        }
    }

    function mouseUpHandler() {
        // Remove the placeholder
        placeholder && placeholder.parentNode.removeChild(placeholder);

        draggingEle.classList.remove('dragging');
        draggingEle.style.removeProperty('top');
        draggingEle.style.removeProperty('left');
        draggingEle.style.removeProperty('position');

        // Get the end index
        const endRowIndex = [].slice.call(list.children).indexOf(draggingEle);

        isDraggingStarted = false;

        // Remove the list element
        list.parentNode.removeChild(list);

        // Move the dragged row to endRowIndex
        let rows = [].slice.call(table.querySelectorAll('tr'));
        draggingRowIndex > endRowIndex
            ? rows[endRowIndex].parentNode.insertBefore(rows[draggingRowIndex], rows[endRowIndex])
            : rows[endRowIndex].parentNode.insertBefore(
                rows[draggingRowIndex],
                rows[endRowIndex].nextSibling
            );

        // Bring back the table
        table.style.removeProperty('display');

        // Remove the handlers of mousemove and mouseup
        document.removeEventListener('mousemove', mouseMoveHandler);
        document.removeEventListener('mouseup', mouseUpHandler);
    }

    function initDrag() {
        table = document.getElementById('table');
        if (table === null) return;
        table.querySelectorAll('tr').forEach(function (row, index) {
            // Ignore the header
            // We don't want user to change the order of header
            if (index === 0) {
                return;
            }
            const firstCell = row.firstElementChild;
            firstCell.setAttribute("class", "draggable");
            firstCell.addEventListener('mousedown', mouseDownHandler);
        });
    }

    function addDrag(trElm) {
        const firstCell = trElm.firstElementChild;
        firstCell.setAttribute("class", "draggable");
        firstCell.addEventListener('mousedown', mouseDownHandler);
    }

    function removeDrag(trElm) {
        if (trElm !== undefined) {
            const firstCell = trElm.firstElementChild;
            firstCell.setAttribute("class", "");
            firstCell.removeEventListener('mousedown');
            return;
        }
        if (table===null)return;
        table.querySelectorAll('tr').forEach(function (row, index) {
            // Ignore the header
            // We don't want user to change the order of header
            if (index === 0) {
                return;
            }
            const firstCell = row.firstElementChild;
            firstCell.setAttribute("class", "");
            firstCell.removeEventListener('mousedown');
        });
    }

    editor.loadGuildSelector();


</script>