<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} » Impressum</title>
</head>
<body>
<h1>Impressum</h1>
<p></p>
<h3>Impressum-Anbieter</h3>
<h4>Angaben gem&auml;&szlig; &sect; 5 TMG:</h4>
<p>Keno Schulz</p>
<p>Ahornstra&szlig;e 18</p>
<p>15827 Blankenfelde-Mahlow</p>
<p>Deutschland</p>
<h4>Kontakt</h4>
<p>E-Mail: admin@hostings4u.eu</p>
<p>Telefon: +4915221674281</p>
<h4>Verantwortlich f&uuml;r den Inhalt nach &sect; 55 Abs. 2 RStV:</h4>
<p>Keno Schulz</p>
<p><i>(Missbrauch strafbar)</i></p>
<hr>
<h3>Impressum-Geltungsbereich</h3>
<h4>Dieses Impressum gilt f&uuml;r:</h4>
<p><a href="https://cloudy.hostings4u.eu">cloudy.hostings4u.eu Website</a></p>
<hr>
<h3>Impressum-Haftungsauschluss</h3>
<h4>Haftung f&uuml;r Inhalte</h4>
<p>Die Inhalte unserer Seiten wurden mit gr&ouml;&szlig;ter Sorgfalt erstellt. F&uuml;r die Richtigkeit, Vollst&auml;ndigkeit
    und Aktualit&auml;t der Inhalte k&ouml;nnen wir jedoch keine Gew&auml;hr &uuml;bernehmen. Als Diensteanbieter sind
    wir gem&auml;&szlig; &sect; 7 Abs.1 TMG f&uuml;r eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
    verantwortlich. Nach &sect; &sect; 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, &uuml;bermittelte
    oder gespeicherte fremde Informationen zu &uuml;berwachen oder nach Umst&auml;nden zu forschen, die auf eine
    rechtswidrige T&auml;tigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen
    nach den allgemeinen Gesetzen bleiben hiervon unber&uuml;hrt. Eine diesbez&uuml;gliche Haftung ist jedoch erst ab
    dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung m&ouml;glich. Bei Bekanntwerden von entsprechenden
    Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
<h4>Haftung f&uuml;r Links</h4>
<p>Unser Angebot enth&auml;lt Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
    k&ouml;nnen wir f&uuml;r diese fremden Inhalte auch keine Gew&auml;hr &uuml;bernehmen. F&uuml;r die Inhalte der
    verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten
    wurden zum Zeitpunkt der Verlinkung auf m&ouml;gliche Rechtsverst&ouml;&szlig;e &uuml;berpr&uuml;ft. Rechtswidrige
    Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten
    Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
    Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
<h4>Urheberrecht</h4>
<p>Die durch die Seitenbetreiber erstellten bzw. verwendeten Inhalte und Werke auf diesen Seiten unterliegen dem
    deutschen Urheberrecht. Die Vervielf&auml;ltigung, Bearbeitung, Verbreitung und jede Art der Verwertung au&szlig;erhalb
    der Grenzen des Urheberrechtes bed&uuml;rfen der Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und
    Kopien dieser Seite sind nur f&uuml;r den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf
    dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden
    Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden,
    bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte
    umgehend entfernen.</p>
<hr>
<h3>Datenschutzerkl&auml;rung</h3>

<p>Wir freuen uns sehr &uuml;ber Ihr Interesse an unserem Unternehmen. Datenschutz hat einen besonders hohen Stellenwert
    f&uuml;r die Gesch&auml;ftsleitung der mc-keyplugin.eu. Eine Nutzung der Internetseiten der mc-keyplugin.eu ist
    grunds&auml;tzlich ohne jede Angabe personenbezogener Daten m&ouml;glich. Sofern eine betroffene Person besondere
    Services unseres Unternehmens &uuml;ber unsere Internetseite in Anspruch nehmen m&ouml;chte, k&ouml;nnte jedoch eine
    Verarbeitung personenbezogener Daten erforderlich werden. Ist die Verarbeitung personenbezogener Daten erforderlich
    und besteht f&uuml;r eine solche Verarbeitung keine gesetzliche Grundlage, holen wir generell eine Einwilligung der
    betroffenen Person ein.</p>

<p>Die Verarbeitung personenbezogener Daten, beispielsweise des Namens, der Anschrift, E-Mail-Adresse oder Telefonnummer
    einer betroffenen Person, erfolgt stets im Einklang mit der Datenschutz-Grundverordnung und in &uuml;bereinstimmung
    mit den f&uuml;r die mc-keyplugin.eu geltenden landesspezifischen Datenschutzbestimmungen. Mittels dieser
    Datenschutzerkl&auml;rung m&ouml;chte unser Unternehmen die &ouml;ffentlichkeit &uuml;ber Art, Umfang und Zweck der
    von uns erhobenen, genutzten und verarbeiteten personenbezogenen Daten informieren. Ferner werden betroffene
    Personen mittels dieser Datenschutzerkl&auml;rung &uuml;ber die ihnen zustehenden Rechte aufgekl&auml;rt.</p>

<p>Die mc-keyplugin.eu hat als f&uuml;r die Verarbeitung Verantwortlicher zahlreiche technische und organisatorische Ma&szlig;nahmen
    umgesetzt, um einen m&ouml;glichst l&uuml;ckenlosen Schutz der &uuml;ber diese Internetseite verarbeiteten
    personenbezogenen Daten sicherzustellen. Dennoch k&ouml;nnen Internetbasierte Daten&uuml;bertragungen grunds&auml;tzlich
    Sicherheitsl&uuml;cken aufweisen, sodass ein absoluter Schutz nicht gew&auml;hrleistet werden kann. Aus diesem Grund
    steht es jeder betroffenen Person frei, personenbezogene Daten auch auf alternativen Wegen, beispielsweise
    telefonisch, an uns zu &uuml;bermitteln.</p>

<h4>1. Begriffsbestimmungen</h4>
<p>Die Datenschutzerkl&auml;rung der mc-keyplugin.eu beruht auf den Begrifflichkeiten, die durch den Europ&auml;ischen
    Richtlinien- und Verordnungsgeber beim Erlass der Datenschutz-Grundverordnung (DS-GVO) verwendet wurden. Unsere
    Datenschutzerkl&auml;rung soll sowohl f&uuml;r die &ouml;ffentlichkeit als auch f&uuml;r unsere Kunden und Gesch&auml;ftspartner
    einfach lesbar und verst&auml;ndlich sein. Um dies zu gew&auml;hrleisten, m&ouml;chten wir vorab die verwendeten
    Begrifflichkeiten erl&auml;utern.</p>

<p>Wir verwenden in dieser Datenschutzerkl&auml;rung unter anderem die folgenden Begriffe:</p>

<ul style="list-style: none">
    <li><h4>a) personenbezogene Daten</h4>
        <p>Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare nat&uuml;rliche
            Person (im Folgenden „betroffene Person“) beziehen. Als identifizierbar wird eine nat&uuml;rliche Person
            angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu
            einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen
            Merkmalen, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen,
            kulturellen oder sozialen Identit&auml;t dieser nat&uuml;rlichen Person sind, identifiziert werden kann.</p>
    </li>
    <li><h4>b) betroffene Person</h4>
        <p>Betroffene Person ist jede identifizierte oder identifizierbare nat&uuml;rliche Person, deren
            personenbezogene Daten von dem f&uuml;r die Verarbeitung Verantwortlichen verarbeitet werden.</p>
    </li>
    <li><h4>c) Verarbeitung</h4>
        <p>Verarbeitung ist jeder mit oder ohne Hilfe automatisierter Verfahren ausgef&uuml;hrte Vorgang oder jede
            solche Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das Erheben, das Erfassen, die
            Organisation, das Ordnen, die Speicherung, die Anpassung oder Ver&auml;nderung, das Auslesen, das Abfragen,
            die Verwendung, die Offenlegung durch &uuml;bermittlung, Verbreitung oder eine andere Form der
            Bereitstellung, den Abgleich oder die Verkn&uuml;pfung, die Einschr&auml;nkung, das L&ouml;schen oder die
            Vernichtung.</p>
    </li>
    <li><h4>d) Einschr&auml;nkung der Verarbeitung</h4>
        <p>Einschr&auml;nkung der Verarbeitung ist die Markierung gespeicherter personenbezogener Daten mit dem Ziel,
            ihre k&uuml;nftige Verarbeitung einzuschr&auml;nken.</p>
    </li>
    <li><h4>e) Profiling</h4>
        <p>Profiling ist jede Art der automatisierten Verarbeitung personenbezogener Daten, die darin besteht, dass
            diese personenbezogenen Daten verwendet werden, um bestimmte pers&ouml;nliche Aspekte, die sich auf eine nat&uuml;rliche
            Person beziehen, zu bewerten, insbesondere, um Aspekte bez&uuml;glich Arbeitsleistung, wirtschaftlicher
            Lage, Gesundheit, pers&ouml;nlicher Vorlieben, Interessen, Zuverl&auml;ssigkeit, Verhalten, Aufenthaltsort
            oder Ortswechsel dieser nat&uuml;rlichen Person zu analysieren oder vorherzusagen.</p>
    </li>
    <li><h4>f) Pseudonymisierung</h4>
        <p>Pseudonymisierung ist die Verarbeitung personenbezogener Daten in einer Weise, auf welche die
            personenbezogenen Daten ohne Hinzuziehung zus&auml;tzlicher Informationen nicht mehr einer spezifischen
            betroffenen Person zugeordnet werden k&ouml;nnen, sofern diese zus&auml;tzlichen Informationen gesondert
            aufbewahrt werden und technischen und organisatorischen Ma&szlig;nahmen unterliegen, die gew&auml;hrleisten,
            dass die personenbezogenen Daten nicht einer identifizierten oder identifizierbaren nat&uuml;rlichen Person
            zugewiesen werden.</p>
    </li>
    <li><h4>g) Verantwortlicher oder f&uuml;r die Verarbeitung Verantwortlicher</h4>
        <p>Verantwortlicher oder f&uuml;r die Verarbeitung Verantwortlicher ist die nat&uuml;rliche oder juristische
            Person, Beh&ouml;rde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit anderen &uuml;ber die
            Zwecke und Mittel der Verarbeitung von personenbezogenen Daten entscheidet. Sind die Zwecke und Mittel
            dieser Verarbeitung durch das Unionsrecht oder das Recht der Mitgliedstaaten vorgegeben, so kann der
            Verantwortliche beziehungsweise k&ouml;nnen die bestimmten Kriterien seiner Benennung nach dem Unionsrecht
            oder dem Recht der Mitgliedstaaten vorgesehen werden.</p>
    </li>
    <li><h4>h) Auftragsverarbeiter</h4>
        <p>Auftragsverarbeiter ist eine nat&uuml;rliche oder juristische Person, Beh&ouml;rde, Einrichtung oder andere
            Stelle, die personenbezogene Daten im Auftrag des Verantwortlichen verarbeitet.</p>
    </li>
    <li><h4>i) Empf&auml;nger</h4>
        <p>Empf&auml;nger ist eine nat&uuml;rliche oder juristische Person, Beh&ouml;rde, Einrichtung oder andere
            Stelle, der personenbezogene Daten offengelegt werden, unabh&auml;ngig davon, ob es sich bei ihr um einen
            Dritten handelt oder nicht. Beh&ouml;rden, die im Rahmen eines bestimmten Untersuchungsauftrags nach dem
            Unionsrecht oder dem Recht der Mitgliedstaaten m&ouml;glicherweise personenbezogene Daten erhalten, gelten
            jedoch nicht als Empf&auml;nger.</p>
    </li>
    <li><h4>j) Dritter</h4>
        <p>Dritter ist eine nat&uuml;rliche oder juristische Person, Beh&ouml;rde, Einrichtung oder andere Stelle au&szlig;er
            der betroffenen Person, dem Verantwortlichen, dem Auftragsverarbeiter und den Personen, die unter der
            unmittelbaren Verantwortung des Verantwortlichen oder des Auftragsverarbeiters befugt sind, die
            personenbezogenen Daten zu verarbeiten.</p>
    </li>
    <li><h4>k) Einwilligung</h4>
        <p>Einwilligung ist jede von der betroffenen Person freiwillig f&uuml;r den bestimmten Fall in informierter
            Weise und unmissverst&auml;ndlich abgegebene Willensbekundung in Form einer Erkl&auml;rung oder einer
            sonstigen eindeutigen best&auml;tigenden Handlung, mit der die betroffene Person zu verstehen gibt, dass sie
            mit der Verarbeitung der sie betreffenden personenbezogenen Daten einverstanden ist.</p>
    </li>
</ul>

<h4>2. Name und Anschrift des f&uuml;r die Verarbeitung Verantwortlichen</h4>
<p>Verantwortlicher im Sinne der Datenschutz-Grundverordnung, sonstiger in den Mitgliedstaaten der Europ&auml;ischen
    Union geltenden Datenschutzgesetze und anderer Bestimmungen mit datenschutzrechtlichem Charakter ist die:</p>

<p>mc-keyplugin.eu</p>
<p>Ahornstra&szlig;e 18</p>
<p>15827 Blankenfelde-Mahlow</p>
<p>Deutschland</p>
<p>Tel.: +4915221674281</p>
<p>E-Mail: admin@deinplugin.eu</p>
<p>Website: mc-keyplugin.eu</p>

<h4>3. Cookies</h4>
<p>Die Internetseiten der mc-keyplugin.eu verwenden Cookies. Cookies sind Textdateien, welche &uuml;ber einen
    Internetbrowser auf einem Computersystem abgelegt und gespeichert werden.</p>

<p>Zahlreiche Internetseiten und Server verwenden Cookies. Viele Cookies enthalten eine sogenannte Cookie-ID. Eine
    Cookie-ID ist eine eindeutige Kennung des Cookies. Sie besteht aus einer Zeichenfolge, durch welche Internetseiten
    und Server dem konkreten Internetbrowser zugeordnet werden k&ouml;nnen, in dem das Cookie gespeichert wurde. Dies
    erm&ouml;glicht es den besuchten Internetseiten und Servern, den individuellen Browser der betroffenen Person von
    anderen Internetbrowsern, die andere Cookies enthalten, zu unterscheiden. Ein bestimmter Internetbrowser kann &uuml;ber
    die eindeutige Cookie-ID wiedererkannt und identifiziert werden.</p>

<p>Durch den Einsatz von Cookies kann die mc-keyplugin.eu den Nutzern dieser Internetseite nutzerfreundlichere Services
    bereitstellen, die ohne die Cookie-Setzung nicht m&ouml;glich w&auml;ren.</p>

<p>Mittels eines Cookies k&ouml;nnen die Informationen und Angebote auf unserer Internetseite im Sinne des Benutzers
    optimiert werden. Cookies erm&ouml;glichen uns, wie bereits erw&auml;hnt, die Benutzer unserer Internetseite
    wiederzuerkennen. Zweck dieser Wiedererkennung ist es, den Nutzern die Verwendung unserer Internetseite zu
    erleichtern. Der Benutzer einer Internetseite, die Cookies verwendet, muss beispielsweise nicht bei jedem Besuch der
    Internetseite erneut seine Zugangsdaten eingeben, weil dies von der Internetseite und dem auf dem Computersystem des
    Benutzers abgelegten Cookie &uuml;bernommen wird. Ein weiteres Beispiel ist das Cookie eines Warenkorbes im
    Online-Shop. Der Online-Shop merkt sich die Artikel, die ein Kunde in den virtuellen Warenkorb gelegt hat, &uuml;ber
    ein Cookie.</p>

<p>Die betroffene Person kann die Setzung von Cookies durch unsere Internetseite jederzeit mittels einer entsprechenden
    Einstellung des genutzten Internetbrowsers verhindern und damit der Setzung von Cookies dauerhaft widersprechen.
    Ferner k&ouml;nnen bereits gesetzte Cookies jederzeit &uuml;ber einen Internetbrowser oder andere Softwareprogramme
    gel&ouml;scht werden. Dies ist in allen g&auml;ngigen Internetbrowsern m&ouml;glich. Deaktiviert die betroffene
    Person die Setzung von Cookies in dem genutzten Internetbrowser, sind unter Umst&auml;nden nicht alle Funktionen
    unserer Internetseite vollumf&auml;nglich nutzbar.</p>

<h4>4. Erfassung von allgemeinen Daten und Informationen</h4>
<p>Die Internetseite der mc-keyplugin.eu erfasst mit jedem Aufruf der Internetseite durch eine betroffene Person oder
    ein automatisiertes System eine Reihe von allgemeinen Daten und Informationen. Diese allgemeinen Daten und
    Informationen werden in den Logfiles des Servers gespeichert. Erfasst werden k&ouml;nnen die (1) verwendeten
    Browsertypen und Versionen, (2) das vom zugreifenden System verwendete Betriebssystem, (3) die Internetseite, von
    welcher ein zugreifendes System auf unsere Internetseite gelangt (sogenannte Referrer), (4) die Unterwebseiten,
    welche &uuml;ber ein zugreifendes System auf unserer Internetseite angesteuert werden, (5) das Datum und die Uhrzeit
    eines Zugriffs auf die Internetseite, (6) eine Internet-Protokoll-Adresse (IP-Adresse), (7) der
    Internet-Service-Provider des zugreifenden Systems und (8) sonstige &auml;hnliche Daten und Informationen, die der
    Gefahrenabwehr im Falle von Angriffen auf unsere informationstechnologischen Systeme dienen.</p>

<p>Bei der Nutzung dieser allgemeinen Daten und Informationen zieht die mc-keyplugin.eu keine R&uuml;ckschl&uuml;sse auf
    die betroffene Person. Diese Informationen werden vielmehr ben&ouml;tigt, um (1) die Inhalte unserer Internetseite
    korrekt auszuliefern, (2) die Inhalte unserer Internetseite sowie die Werbung f&uuml;r diese zu optimieren, (3) die
    dauerhafte Funktionsf&auml;higkeit unserer informationstechnologischen Systeme und der Technik unserer Internetseite
    zu gew&auml;hrleisten sowie (4) um Strafverfolgungsbeh&ouml;rden im Falle eines Cyberangriffes die zur
    Strafverfolgung notwendigen Informationen bereitzustellen. Diese anonym erhobenen Daten und Informationen werden
    durch die mc-keyplugin.eu daher einerseits statistisch und ferner mit dem Ziel ausgewertet, den Datenschutz und die
    Datensicherheit in unserem Unternehmen zu erh&ouml;hen, um letztlich ein optimales Schutzniveau f&uuml;r die von uns
    verarbeiteten personenbezogenen Daten sicherzustellen. Die anonymen Daten der Server-Logfiles werden getrennt von
    allen durch eine betroffene Person angegebenen personenbezogenen Daten gespeichert.</p>

<h4>5. Registrierung auf unserer Internetseite</h4>
<p>Die betroffene Person hat die M&ouml;glichkeit, sich auf der Internetseite des f&uuml;r die Verarbeitung
    Verantwortlichen unter Angabe von personenbezogenen Daten zu registrieren. Welche personenbezogenen Daten dabei an
    den f&uuml;r die Verarbeitung Verantwortlichen &uuml;bermittelt werden, ergibt sich aus der jeweiligen Eingabemaske,
    die f&uuml;r die Registrierung verwendet wird. Die von der betroffenen Person eingegebenen personenbezogenen Daten
    werden ausschlie&szlig;lich f&uuml;r die interne Verwendung bei dem f&uuml;r die Verarbeitung Verantwortlichen und f&uuml;r
    eigene Zwecke erhoben und gespeichert. Der f&uuml;r die Verarbeitung Verantwortliche kann die Weitergabe an einen
    oder mehrere Auftragsverarbeiter, beispielsweise einen Paketdienstleister, veranlassen, der die personenbezogenen
    Daten ebenfalls ausschlie&szlig;lich f&uuml;r eine interne Verwendung, die dem f&uuml;r die Verarbeitung
    Verantwortlichen zuzurechnen ist, nutzt.</p>

<p>Durch eine Registrierung auf der Internetseite des f&uuml;r die Verarbeitung Verantwortlichen wird ferner die vom
    Internet-Service-Provider (ISP) der betroffenen Person vergebene IP-Adresse, das Datum sowie die Uhrzeit der
    Registrierung gespeichert. Die Speicherung dieser Daten erfolgt vor dem Hintergrund, dass nur so der Missbrauch
    unserer Dienste verhindert werden kann, und diese Daten im Bedarfsfall erm&ouml;glichen, begangene Straftaten
    aufzukl&auml;ren. Insofern ist die Speicherung dieser Daten zur Absicherung des f&uuml;r die Verarbeitung
    Verantwortlichen erforderlich. Eine Weitergabe dieser Daten an Dritte erfolgt grunds&auml;tzlich nicht, sofern keine
    gesetzliche Pflicht zur Weitergabe besteht oder die Weitergabe der Strafverfolgung dient.</p>

<p>Die Registrierung der betroffenen Person unter freiwilliger Angabe personenbezogener Daten dient dem f&uuml;r die
    Verarbeitung Verantwortlichen dazu, der betroffenen Person Inhalte oder Leistungen anzubieten, die aufgrund der
    Natur der Sache nur registrierten Benutzern angeboten werden k&ouml;nnen. Registrierten Personen steht die M&ouml;glichkeit
    frei, die bei der Registrierung angegebenen personenbezogenen Daten jederzeit abzu&auml;ndern oder vollst&auml;ndig
    aus dem Datenbestand des f&uuml;r die Verarbeitung Verantwortlichen l&ouml;schen zu lassen.</p>

<p>Der f&uuml;r die Verarbeitung Verantwortliche erteilt jeder betroffenen Person jederzeit auf Anfrage Auskunft dar&uuml;ber,
    welche personenbezogenen Daten &uuml;ber die betroffene Person gespeichert sind. Ferner berichtigt oder l&ouml;scht
    der f&uuml;r die Verarbeitung Verantwortliche personenbezogene Daten auf Wunsch oder Hinweis der betroffenen Person,
    soweit dem keine gesetzlichen Aufbewahrungspflichten entgegenstehen. Die Gesamtheit der Mitarbeiter des f&uuml;r die
    Verarbeitung Verantwortlichen stehen der betroffenen Person in diesem Zusammenhang als Ansprechpartner zur Verf&uuml;gung.</p>

<h4>6. Routinem&auml;&szlig;ige L&ouml;schung und Sperrung von personenbezogenen Daten</h4>
<p>Der f&uuml;r die Verarbeitung Verantwortliche verarbeitet und speichert personenbezogene Daten der betroffenen Person
    nur f&uuml;r den Zeitraum, der zur Erreichung des Speicherungszwecks erforderlich ist oder sofern dies durch den
    Europ&auml;ischen Richtlinien- und Verordnungsgeber oder einen anderen Gesetzgeber in Gesetzen oder Vorschriften,
    welchen der f&uuml;r die Verarbeitung Verantwortliche unterliegt, vorgesehen wurde.</p>

<p>Entf&auml;llt der Speicherungszweck oder l&auml;uft eine vom Europ&auml;ischen Richtlinien- und Verordnungsgeber oder
    einem anderen zust&auml;ndigen Gesetzgeber vorgeschriebene Speicherfrist ab, werden die personenbezogenen Daten
    routinem&auml;&szlig;ig und entsprechend den gesetzlichen Vorschriften gesperrt oder gel&ouml;scht.</p>

<h4>7. Rechte der betroffenen Person</h4>
<ul style="list-style: none;">
    <li><h4>a) Recht auf Best&auml;tigung</h4>
        <p>Jede betroffene Person hat das vom Europ&auml;ischen Richtlinien- und Verordnungsgeber einger&auml;umte
            Recht, von dem f&uuml;r die Verarbeitung Verantwortlichen eine Best&auml;tigung dar&uuml;ber zu verlangen,
            ob sie betreffende personenbezogene Daten verarbeitet werden. M&ouml;chte eine betroffene Person dieses Best&auml;tigungsrecht
            in Anspruch nehmen, kann sie sich hierzu jederzeit an einen Mitarbeiter des f&uuml;r die Verarbeitung
            Verantwortlichen wenden.</p>
    </li>
    <li><h4>b) Recht auf Auskunft</h4>
        <p>Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das vom Europ&auml;ischen
            Richtlinien- und Verordnungsgeber gew&auml;hrte Recht, jederzeit von dem f&uuml;r die Verarbeitung
            Verantwortlichen unentgeltliche Auskunft &uuml;ber die zu seiner Person gespeicherten personenbezogenen
            Daten und eine Kopie dieser Auskunft zu erhalten. Ferner hat der Europ&auml;ische Richtlinien- und
            Verordnungsgeber der betroffenen Person Auskunft &uuml;ber folgende Informationen zugestanden:</p>

        <ul style="list-style: none;">
            <li>die Verarbeitungszwecke</li>
            <li>die Kategorien personenbezogener Daten, die verarbeitet werden</li>
            <li>die Empf&auml;nger oder Kategorien von Empf&auml;ngern, gegen&uuml;ber denen die personenbezogenen Daten
                offengelegt worden sind oder noch offengelegt werden, insbesondere bei Empf&auml;ngern in Drittl&auml;ndern
                oder bei internationalen Organisationen
            </li>
            <li>falls m&ouml;glich die geplante Dauer, f&uuml;r die die personenbezogenen Daten gespeichert werden,
                oder, falls dies nicht m&ouml;glich ist, die Kriterien f&uuml;r die Festlegung dieser Dauer
            </li>
            <li>das Bestehen eines Rechts auf Berichtigung oder L&ouml;schung der sie betreffenden personenbezogenen
                Daten oder auf Einschr&auml;nkung der Verarbeitung durch den Verantwortlichen oder eines
                Widerspruchsrechts gegen diese Verarbeitung
            </li>
            <li>das Bestehen eines Beschwerderechts bei einer Aufsichtsbeh&ouml;rde</li>
            <li>wenn die personenbezogenen Daten nicht bei der betroffenen Person erhoben werden: Alle verf&uuml;gbaren
                Informationen &uuml;ber die Herkunft der Daten
            </li>
            <li>das Bestehen einer automatisierten Entscheidungsfindung einschlie&szlig;lich Profiling gem&auml;&szlig;
                Artikel 22 Abs.1 und 4 DS-GVO und — zumindest in diesen F&auml;llen — aussagekr&auml;ftige Informationen
                &uuml;ber die involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen einer derartigen
                Verarbeitung f&uuml;r die betroffene Person
            </li>

        </ul>
        <p>Ferner steht der betroffenen Person ein Auskunftsrecht dar&uuml;ber zu, ob personenbezogene Daten an ein
            Drittland oder an eine internationale Organisation &uuml;bermittelt wurden. Sofern dies der Fall ist, so
            steht der betroffenen Person im &uuml;brigen das Recht zu, Auskunft &uuml;ber die geeigneten Garantien im
            Zusammenhang mit der &uuml;bermittlung zu erhalten.</p>

        <p>M&ouml;chte eine betroffene Person dieses Auskunftsrecht in Anspruch nehmen, kann sie sich hierzu jederzeit
            an einen Mitarbeiter des f&uuml;r die Verarbeitung Verantwortlichen wenden.</p>
    </li>
    <li><h4>c) Recht auf Berichtigung</h4>
        <p>Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das vom Europ&auml;ischen
            Richtlinien- und Verordnungsgeber gew&auml;hrte Recht, die unverz&uuml;gliche Berichtigung sie betreffender
            unrichtiger personenbezogener Daten zu verlangen. Ferner steht der betroffenen Person das Recht zu, unter
            Ber&uuml;cksichtigung der Zwecke der Verarbeitung, die Vervollst&auml;ndigung unvollst&auml;ndiger
            personenbezogener Daten — auch mittels einer erg&auml;nzenden Erkl&auml;rung — zu verlangen.</p>

        <p>M&ouml;chte eine betroffene Person dieses Berichtigungsrecht in Anspruch nehmen, kann sie sich hierzu
            jederzeit an einen Mitarbeiter des f&uuml;r die Verarbeitung Verantwortlichen wenden.</p></li>
    <li>
        <h4>d) Recht auf L&ouml;schung (Recht auf Vergessen werden)</h4>
        <p>Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das vom Europ&auml;ischen
            Richtlinien- und Verordnungsgeber gew&auml;hrte Recht, von dem Verantwortlichen zu verlangen, dass die sie
            betreffenden personenbezogenen Daten unverz&uuml;glich gel&ouml;scht werden, sofern einer der folgenden Gr&uuml;nde
            zutrifft und soweit die Verarbeitung nicht erforderlich ist:</p>

        <ul style="list-style: none;">
            <li>Die personenbezogenen Daten wurden f&uuml;r solche Zwecke erhoben oder auf sonstige Weise verarbeitet, f&uuml;r
                welche sie nicht mehr notwendig sind.
            </li>
            <li>Die betroffene Person widerruft ihre Einwilligung, auf die sich die Verarbeitung gem&auml;&szlig; Art. 6
                Abs. 1 Buchstabe a DS-GVO oder Art. 9 Abs. 2 Buchstabe a DS-GVO st&uuml;tzte, und es fehlt an einer
                anderweitigen Rechtsgrundlage f&uuml;r die Verarbeitung.
            </li>
            <li>Die betroffene Person legt gem&auml;&szlig; Art. 21 Abs. 1 DS-GVO Widerspruch gegen die Verarbeitung
                ein, und es liegen keine vorrangigen berechtigten Gr&uuml;nde f&uuml;r die Verarbeitung vor, oder die
                betroffene Person legt gem&auml;&szlig; Art. 21 Abs. 2 DS-GVO Widerspruch gegen die Verarbeitung ein.
            </li>
            <li>Die personenbezogenen Daten wurden unrechtm&auml;&szlig;ig verarbeitet.</li>
            <li>Die L&ouml;schung der personenbezogenen Daten ist zur Erf&uuml;llung einer rechtlichen Verpflichtung
                nach dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem der Verantwortliche
                unterliegt.
            </li>
            <li>Die personenbezogenen Daten wurden in Bezug auf angebotene Dienste der Informationsgesellschaft gem&auml;&szlig;
                Art. 8 Abs. 1 DS-GVO erhoben.
            </li>

        </ul>
        <p>Sofern einer der oben genannten Gr&uuml;nde zutrifft und eine betroffene Person die L&ouml;schung von
            personenbezogenen Daten, die bei der mc-keyplugin.eu gespeichert sind, veranlassen m&ouml;chte, kann sie
            sich hierzu jederzeit an einen Mitarbeiter des f&uuml;r die Verarbeitung Verantwortlichen wenden. Der
            Mitarbeiter der mc-keyplugin.eu wird veranlassen, dass dem L&ouml;schverlangen unverz&uuml;glich
            nachgekommen wird.</p>

        <p>Wurden die personenbezogenen Daten von der mc-keyplugin.eu &ouml;ffentlich gemacht und ist unser Unternehmen
            als Verantwortlicher gem&auml;&szlig; Art. 17 Abs. 1 DS-GVO zur L&ouml;schung der personenbezogenen Daten
            verpflichtet, so trifft die mc-keyplugin.eu unter Ber&uuml;cksichtigung der verf&uuml;gbaren Technologie und
            der Implementierungskosten angemessene Ma&szlig;nahmen, auch technischer Art, um andere f&uuml;r die
            Datenverarbeitung Verantwortliche, welche die ver&ouml;ffentlichten personenbezogenen Daten verarbeiten, dar&uuml;ber
            in Kenntnis zu setzen, dass die betroffene Person von diesen anderen f&uuml;r die Datenverarbeitung
            Verantwortlichen die L&ouml;schung s&auml;mtlicher Links zu diesen personenbezogenen Daten oder von Kopien
            oder Replikationen dieser personenbezogenen Daten verlangt hat, soweit die Verarbeitung nicht erforderlich
            ist. Der Mitarbeiter der mc-keyplugin.eu wird im Einzelfall das Notwendige veranlassen.</p>
    </li>
    <li><h4>e) Recht auf Einschr&auml;nkung der Verarbeitung</h4>
        <p>Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das vom Europ&auml;ischen
            Richtlinien- und Verordnungsgeber gew&auml;hrte Recht, von dem Verantwortlichen die Einschr&auml;nkung der
            Verarbeitung zu verlangen, wenn eine der folgenden Voraussetzungen gegeben ist:</p>

        <ul style="list-style: none;">
            <li>Die Richtigkeit der personenbezogenen Daten wird von der betroffenen Person bestritten, und zwar f&uuml;r
                eine Dauer, die es dem Verantwortlichen erm&ouml;glicht, die Richtigkeit der personenbezogenen Daten zu
                &uuml;berpr&uuml;fen.
            </li>
            <li>Die Verarbeitung ist unrechtm&auml;&szlig;ig, die betroffene Person lehnt die L&ouml;schung der
                personenbezogenen Daten ab und verlangt stattdessen die Einschr&auml;nkung der Nutzung der
                personenbezogenen Daten.
            </li>
            <li>Der Verantwortliche ben&ouml;tigt die personenbezogenen Daten f&uuml;r die Zwecke der Verarbeitung nicht
                l&auml;nger, die betroffene Person ben&ouml;tigt sie jedoch zur Geltendmachung, Aus&uuml;bung oder
                Verteidigung von Rechtsanspr&uuml;chen.
            </li>
            <li>Die betroffene Person hat Widerspruch gegen die Verarbeitung gem. Art. 21 Abs. 1 DS-GVO eingelegt und es
                steht noch nicht fest, ob die berechtigten Gr&uuml;nde des Verantwortlichen gegen&uuml;ber denen der
                betroffenen Person &uuml;berwiegen.
            </li>

        </ul>
        <p>Sofern eine der oben genannten Voraussetzungen gegeben ist und eine betroffene Person die Einschr&auml;nkung
            von personenbezogenen Daten, die bei der mc-keyplugin.eu gespeichert sind, verlangen m&ouml;chte, kann sie
            sich hierzu jederzeit an einen Mitarbeiter des f&uuml;r die Verarbeitung Verantwortlichen wenden. Der
            Mitarbeiter der mc-keyplugin.eu wird die Einschr&auml;nkung der Verarbeitung veranlassen.</p>
    </li>
    <li><h4>f) Recht auf Daten&uuml;bertragbarkeit</h4>
        <p>Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das vom Europ&auml;ischen
            Richtlinien- und Verordnungsgeber gew&auml;hrte Recht, die sie betreffenden personenbezogenen Daten, welche
            durch die betroffene Person einem Verantwortlichen bereitgestellt wurden, in einem strukturierten, g&auml;ngigen
            und maschinenlesbaren Format zu erhalten. Sie hat au&szlig;erdem das Recht, diese Daten einem anderen
            Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt
            wurden, zu &uuml;bermitteln, sofern die Verarbeitung auf der Einwilligung gem&auml;&szlig; Art. 6 Abs. 1
            Buchstabe a DS-GVO oder Art. 9 Abs. 2 Buchstabe a DS-GVO oder auf einem Vertrag gem&auml;&szlig; Art. 6 Abs.
            1 Buchstabe b DS-GVO beruht und die Verarbeitung mithilfe automatisierter Verfahren erfolgt, sofern die
            Verarbeitung nicht f&uuml;r die Wahrnehmung einer Aufgabe erforderlich ist, die im &ouml;ffentlichen
            Interesse liegt oder in Aus&uuml;bung &ouml;ffentlicher Gewalt erfolgt, welche dem Verantwortlichen &uuml;bertragen
            wurde.</p>

        <p>Ferner hat die betroffene Person bei der Aus&uuml;bung ihres Rechts auf Daten&uuml;bertragbarkeit gem&auml;&szlig;
            Art. 20 Abs. 1 DS-GVO das Recht, zu erwirken, dass die personenbezogenen Daten direkt von einem
            Verantwortlichen an einen anderen Verantwortlichen &uuml;bermittelt werden, soweit dies technisch machbar
            ist und sofern hiervon nicht die Rechte und Freiheiten anderer Personen beeintr&auml;chtigt werden.</p>

        <p>Zur Geltendmachung des Rechts auf Daten&uuml;bertragbarkeit kann sich die betroffene Person jederzeit an
            einen Mitarbeiter der mc-keyplugin.eu wenden.</p>

    </li>
    <li>
        <h4>g) Recht auf Widerspruch</h4>
        <p>Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das vom Europ&auml;ischen
            Richtlinien- und Verordnungsgeber gew&auml;hrte Recht, aus Gr&uuml;nden, die sich aus ihrer besonderen
            Situation ergeben, jederzeit gegen die Verarbeitung sie betreffender personenbezogener Daten, die aufgrund
            von Art. 6 Abs. 1 Buchstaben e oder f DS-GVO erfolgt, Widerspruch einzulegen. Dies gilt auch f&uuml;r ein
            auf diese Bestimmungen gest&uuml;tztes Profiling.</p>

        <p>Die mc-keyplugin.eu verarbeitet die personenbezogenen Daten im Falle des Widerspruchs nicht mehr, es sei
            denn, wir k&ouml;nnen zwingende schutzw&uuml;rdige Gr&uuml;nde f&uuml;r die Verarbeitung nachweisen, die den
            Interessen, Rechten und Freiheiten der betroffenen Person &uuml;berwiegen, oder die Verarbeitung dient der
            Geltendmachung, Aus&uuml;bung oder Verteidigung von Rechtsanspr&uuml;chen.</p>

        <p>Verarbeitet die mc-keyplugin.eu personenbezogene Daten, um Direktwerbung zu betreiben, so hat die betroffene
            Person das Recht, jederzeit Widerspruch gegen die Verarbeitung der personenbezogenen Daten zum Zwecke
            derartiger Werbung einzulegen. Dies gilt auch f&uuml;r das Profiling, soweit es mit solcher Direktwerbung in
            Verbindung steht. Widerspricht die betroffene Person gegen&uuml;ber der mc-keyplugin.eu der Verarbeitung f&uuml;r
            Zwecke der Direktwerbung, so wird die mc-keyplugin.eu die personenbezogenen Daten nicht mehr f&uuml;r diese
            Zwecke verarbeiten.</p>

        <p>Zudem hat die betroffene Person das Recht, aus Gr&uuml;nden, die sich aus ihrer besonderen Situation ergeben,
            gegen die sie betreffende Verarbeitung personenbezogener Daten, die bei der mc-keyplugin.eu zu
            wissenschaftlichen oder historischen Forschungszwecken oder zu statistischen Zwecken gem&auml;&szlig; Art.
            89 Abs. 1 DS-GVO erfolgen, Widerspruch einzulegen, es sei denn, eine solche Verarbeitung ist zur Erf&uuml;llung
            einer im &ouml;ffentlichen Interesse liegenden Aufgabe erforderlich.</p>

        <p>Zur Aus&uuml;bung des Rechts auf Widerspruch kann sich die betroffene Person direkt jeden Mitarbeiter der
            mc-keyplugin.eu oder einen anderen Mitarbeiter wenden. Der betroffenen Person steht es ferner frei, im
            Zusammenhang mit der Nutzung von Diensten der Informationsgesellschaft, ungeachtet der Richtlinie
            2002/58/EG, ihr Widerspruchsrecht mittels automatisierter Verfahren auszu&uuml;ben, bei denen technische
            Spezifikationen verwendet werden.</p>
    </li>
    <li><h4>h) Automatisierte Entscheidungen im Einzelfall einschlie&szlig;lich Profiling</h4>
        <p>Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das vom Europ&auml;ischen
            Richtlinien- und Verordnungsgeber gew&auml;hrte Recht, nicht einer ausschlie&szlig;lich auf einer
            automatisierten Verarbeitung — einschlie&szlig;lich Profiling — beruhenden Entscheidung unterworfen zu
            werden, die ihr gegen&uuml;ber rechtliche Wirkung entfaltet oder sie in &auml;hnlicher Weise erheblich
            beeintr&auml;chtigt, sofern die Entscheidung (1) nicht f&uuml;r den Abschluss oder die Erf&uuml;llung eines
            Vertrags zwischen der betroffenen Person und dem Verantwortlichen erforderlich ist, oder (2) aufgrund von
            Rechtsvorschriften der Union oder der Mitgliedstaaten, denen der Verantwortliche unterliegt, zul&auml;ssig
            ist und diese Rechtsvorschriften angemessene Ma&szlig;nahmen zur Wahrung der Rechte und Freiheiten sowie der
            berechtigten Interessen der betroffenen Person enthalten oder (3) mit ausdr&uuml;cklicher Einwilligung der
            betroffenen Person erfolgt.</p>

        <p>Ist die Entscheidung (1) f&uuml;r den Abschluss oder die Erf&uuml;llung eines Vertrags zwischen der
            betroffenen Person und dem Verantwortlichen erforderlich oder (2) erfolgt sie mit ausdr&uuml;cklicher
            Einwilligung der betroffenen Person, trifft die mc-keyplugin.eu angemessene Ma&szlig;nahmen, um die Rechte
            und Freiheiten sowie die berechtigten Interessen der betroffenen Person zu wahren, wozu mindestens das Recht
            auf Erwirkung des Eingreifens einer Person seitens des Verantwortlichen, auf Darlegung des eigenen
            Standpunkts und auf Anfechtung der Entscheidung geh&ouml;rt.</p>

        <p>M&ouml;chte die betroffene Person Rechte mit Bezug auf automatisierte Entscheidungen geltend machen, kann sie
            sich hierzu jederzeit an einen Mitarbeiter des f&uuml;r die Verarbeitung Verantwortlichen wenden.</p>

    </li>
    <li><h4>i) Recht auf Widerruf einer datenschutzrechtlichen Einwilligung</h4>
        <p>Jede von der Verarbeitung personenbezogener Daten betroffene Person hat das vom Europ&auml;ischen
            Richtlinien- und Verordnungsgeber gew&auml;hrte Recht, eine Einwilligung zur Verarbeitung personenbezogener
            Daten jederzeit zu widerrufen.</p>

        <p>M&ouml;chte die betroffene Person ihr Recht auf Widerruf einer Einwilligung geltend machen, kann sie sich
            hierzu jederzeit an einen Mitarbeiter des f&uuml;r die Verarbeitung Verantwortlichen wenden.</p>

    </li>
</ul>
<h4>8. Rechtsgrundlage der Verarbeitung</h4>
<p>Art. 6 I lit. a DS-GVO dient unserem Unternehmen als Rechtsgrundlage f&uuml;r Verarbeitungsvorg&auml;nge, bei denen
    wir eine Einwilligung f&uuml;r einen bestimmten Verarbeitungszweck einholen. Ist die Verarbeitung personenbezogener
    Daten zur Erf&uuml;llung eines Vertrags, dessen Vertragspartei die betroffene Person ist, erforderlich, wie dies
    beispielsweise bei Verarbeitungsvorg&auml;ngen der Fall ist, die f&uuml;r eine Lieferung von Waren oder die
    Erbringung einer sonstigen Leistung oder Gegenleistung notwendig sind, so beruht die Verarbeitung auf Art. 6 I lit.
    b DS-GVO. Gleiches gilt f&uuml;r solche Verarbeitungsvorg&auml;nge die zur Durchf&uuml;hrung vorvertraglicher Ma&szlig;nahmen
    erforderlich sind, etwa in F&auml;llen von Anfragen zur unseren Produkten oder Leistungen. Unterliegt unser
    Unternehmen einer rechtlichen Verpflichtung durch welche eine Verarbeitung von personenbezogenen Daten erforderlich
    wird, wie beispielsweise zur Erf&uuml;llung steuerlicher Pflichten, so basiert die Verarbeitung auf Art. 6 I lit. c
    DS-GVO. In seltenen F&auml;llen k&ouml;nnte die Verarbeitung von personenbezogenen Daten erforderlich werden, um
    lebenswichtige Interessen der betroffenen Person oder einer anderen nat&uuml;rlichen Person zu sch&uuml;tzen. Dies w&auml;re
    beispielsweise der Fall, wenn ein Besucher in unserem Betrieb verletzt werden w&uuml;rde und daraufhin sein Name,
    sein Alter, seine Krankenkassendaten oder sonstige lebenswichtige Informationen an einen Arzt, ein Krankenhaus oder
    sonstige Dritte weitergegeben werden m&uuml;ssten. Dann w&uuml;rde die Verarbeitung auf Art. 6 I lit. d DS-GVO
    beruhen.
    Letztlich k&ouml;nnten Verarbeitungsvorg&auml;nge auf Art. 6 I lit. f DS-GVO beruhen. Auf dieser Rechtsgrundlage
    basieren Verarbeitungsvorg&auml;nge, die von keiner der vorgenannten Rechtsgrundlagen erfasst werden, wenn die
    Verarbeitung zur Wahrung eines berechtigten Interesses unseres Unternehmens oder eines Dritten erforderlich ist,
    sofern die Interessen, Grundrechte und Grundfreiheiten des Betroffenen nicht &uuml;berwiegen. Solche
    Verarbeitungsvorg&auml;nge sind uns insbesondere deshalb gestattet, weil sie durch den Europ&auml;ischen Gesetzgeber
    besonders erw&auml;hnt wurden. Er vertrat insoweit die Auffassung, dass ein berechtigtes Interesse anzunehmen sein k&ouml;nnte,
    wenn die betroffene Person ein Kunde des Verantwortlichen ist (Erw&auml;gungsgrund 47 Satz 2 DS-GVO).
</p>

<h4>9. Berechtigte Interessen an der Verarbeitung, die von dem Verantwortlichen oder einem Dritten verfolgt werden</h4>
<p>Basiert die Verarbeitung personenbezogener Daten auf Artikel 6 I lit. f DS-GVO ist unser berechtigtes Interesse die
    Durchf&uuml;hrung unserer Gesch&auml;ftst&auml;tigkeit zugunsten des Wohlergehens all unserer Mitarbeiter und
    unserer Anteilseigner.</p>

<h4>10. Dauer, f&uuml;r die die personenbezogenen Daten gespeichert werden</h4>
<p>Das Kriterium f&uuml;r die Dauer der Speicherung von personenbezogenen Daten ist die jeweilige gesetzliche
    Aufbewahrungsfrist. Nach Ablauf der Frist werden die entsprechenden Daten routinem&auml;&szlig;ig gel&ouml;scht,
    sofern sie nicht mehr zur Vertragserf&uuml;llung oder Vertragsanbahnung erforderlich sind.</p>

<h4>11. Gesetzliche oder vertragliche Vorschriften zur Bereitstellung der personenbezogenen Daten; Erforderlichkeit f&uuml;r
    den Vertragsabschluss; Verpflichtung der betroffenen Person, die personenbezogenen Daten bereitzustellen; m&ouml;gliche
    Folgen der Nichtbereitstellung</h4>
<p>Wir kl&auml;ren Sie dar&uuml;ber auf, dass die Bereitstellung personenbezogener Daten zum Teil gesetzlich
    vorgeschrieben ist (z.B. Steuervorschriften) oder sich auch aus vertraglichen Regelungen (z.B. Angaben zum
    Vertragspartner) ergeben kann.
    Mitunter kann es zu einem Vertragsschluss erforderlich sein, dass eine betroffene Person uns personenbezogene Daten
    zur Verf&uuml;gung stellt, die in der Folge durch uns verarbeitet werden m&uuml;ssen. Die betroffene Person ist
    beispielsweise verpflichtet uns personenbezogene Daten bereitzustellen, wenn unser Unternehmen mit ihr einen Vertrag
    abschlie&szlig;t. Eine Nichtbereitstellung der personenbezogenen Daten h&auml;tte zur Folge, dass der Vertrag mit
    dem Betroffenen nicht geschlossen werden k&ouml;nnte.
    Vor einer Bereitstellung personenbezogener Daten durch den Betroffenen muss sich der Betroffene an einen unserer
    Mitarbeiter wenden. Unser Mitarbeiter kl&auml;rt den Betroffenen einzelfallbezogen dar&uuml;ber auf, ob die
    Bereitstellung der personenbezogenen Daten gesetzlich oder vertraglich vorgeschrieben oder f&uuml;r den
    Vertragsabschluss erforderlich ist, ob eine Verpflichtung besteht, die personenbezogenen Daten bereitzustellen, und
    welche Folgen die Nichtbereitstellung der personenbezogenen Daten h&auml;tte.
</p>

<h4>12. Bestehen einer automatisierten Entscheidungsfindung</h4>
<p>Als verantwortungsbewusstes Unternehmen verzichten wir auf eine automatische Entscheidungsfindung oder ein
    Profiling.</p>

<p>Diese Datenschutzerkl&auml;rung wurde durch den Datenschutzerkl&auml;rungs-Generator der DGD Deutsche Gesellschaft f&uuml;r
    Datenschutz GmbH, die als <a
            href="https://dg-datenschutz.de/datenschutz-dienstleistungen/externer-datenschutzbeauftragter/"
            rel="nofollow">Externer Datenschutzbeauftragter Berlin</a> t&auml;tig ist, in Kooperation mit den <a
            href="https://www.wbs-law.de/" rel="nofollow">Datenschutz (DSGVO) Anw&auml;lten der Kanzlei WILDE BEUGER
        SOLMECKE | Rechtsanw&auml;lte</a> erstellt.
</p>

<hr>
<h3>Impressum-Auskunft & Quellen</h3>
<h4>Auskunft</h4>
<p>Nach dem Bundesdatenschutzgesetz haben Sie ein Recht auf unentgeltliche Auskunft &uuml;ber Ihre gespeicherten Daten
    sowie ggf. ein Recht auf Berichtigung, Sperrung oder L&ouml;schung dieser Daten. Fragen k&ouml;nnen Sie z.B. &uuml;ber
    die folgende E-Mail-Adresse stellen: ( info@deinplugin.eu )</p>
<h4>Quellen</h4>
<p>www.muster-vorlagen.net</p>
<p><a href="https://dsgvo-muster-datenschutzerklaerung.dg-datenschutz.de/">dsgvo-muster-datenschutzerklaerung.dg-datenschutz.de/</a>
</p>
<p>Google Material Icons</p>
<p>Impressum entwickelt von CRUGG</p>
<p>(Website entwickelt von Unbemerkt)</p>

</body>
</html>