<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} » Imprint</title>
</head>
<body>
    » Your imprint here «<br>
    <small>Rename this file to imprint.html</small>
</body>
</html>