<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/loading-dots.css" rel="stylesheet">
    <link href="/css/sidebar.css" rel="stylesheet">
    <link href="/css/contextMenu.css" rel="stylesheet">
    <link href="/img/bot_icon.png" rel="icon">
    <link rel="icon" type="image/png" href="/img/bot_icon.png">
    <meta name="robots" content="noindex">
    <title id="title" data-title="{{title}}">{{title}} » Loading...</title>
</head>
<body>
<div id="overlay">
    <div style="display: flex;justify-content: center;">
        <div class="dot-flashing"></div>
    </div>
    <br>
    <div style="display: flex;justify-content: center;">
        <ul id="overlay_text" style="list-style: none; padding: 0; color: #818181">
        </ul>
    </div>
</div>
<div class="d-flex">
    <div class="container-fluid"
         style="background-color: transparent; padding-top: 1em; padding-left: 2em; padding-right: 1em">
        <div class="row">
            <div class="col box nav text-center">
                <div class="navLink">
                    <ul>
                        <li data-nav="home">Home</li>
                        <li data-nav="settings">Settings</li>
                        <li data-nav="modules">Modules</li>
                    </ul>
                </div>

                <span class="navTitle" data-nav="home">{{title}}</span>
                <div class="navLink right">
                    <ul>
                        <li data-nav="console">Console</li>
                        <li data-nav="permissions">Permissions</li>
                        <li data-nav="account">Account</li>
                        <li onclick="window.location.href = '/logout'">Logout</li>
                    </ul>
                </div>
                <div class="loading loadIndicatorElement"></div>
            </div>
        </div>
        <div id="contentLoading">
            <div style="display: flex;justify-content: center;">
                <div class="dot-flashing"></div>
            </div>
        </div>
        <div id="content" style="display: none"></div>
        <div id="error_container" style="display: none">
            <div class="row">
                <div class="col box" style="padding-top: 20px; padding-bottom: 20px;">
                    <h4>Error</h4>
                    <hr>
                    <div class="row">
                        <div class="col">
                            An Critical error occurred!<br>
                            <div id="error_reasonDiv" style="display: none">Reason: <i id="error_reason">LOADING...</i><br></div>
                            <small>Press F12 for more information</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="loadIndicator loadIndicatorElement">-->
    <!--        <span class="material-symbols-outlined">sync</span>-->
    <!--    </div>-->
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/UTILS.js"></script>
<script src="/js/overlay.js"></script>
<script src="/js/loadingIndicator.js"></script>
<script src="/js/shortcut.js"></script>
<script src="/js/Notifications.js"></script>
<!-- Sidebar -->
<script src="/js/sideBar/SideBuilder.js"></script>
<script src="/js/sideBar/modules/ButtonModule.js"></script>
<script src="/js/sideBar/modules/ButtonRow.js"></script>
<script src="/js/sideBar/modules/CheckboxModule.js"></script>
<script src="/js/sideBar/modules/CustomModule.js"></script>
<script src="/js/sideBar/modules/FileInputModule.js"></script>
<script src="/js/sideBar/modules/HrModule.js"></script>
<script src="/js/sideBar/modules/SelectModule.js"></script>
<script src="/js/sideBar/modules/TextAreaModule.js"></script>
<script src="/js/sideBar/modules/TextFieldModule.js"></script>
<script src="/js/sideBar/modules/TextModule.js"></script>
<!-- Sidebar END-->
<script src="/js/discord/DiscordGuild.js"></script>
<script src="/js/discord/DiscordManager.js"></script>
<script src="/js/PermissionManager.js"></script>
<script src="/js/PermissionGroup.js"></script>
<script src="/js/PermissionUser.js"></script>
<script src="/js/navigator.js"></script>
<script src="/js/dataManager.js"></script>
<script src="/js/contextMenu.js"></script>
<script>
    if (issetCookie("TOKEN")) {
        var elm = document.createElement("link");
        elm.href = "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
        elm.rel = "stylesheet";
        document.getElementsByTagName("head")[0].appendChild(elm);
    }
</script>
</body>
</html>