<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/loading-dots.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/bot_icon.png">
    <title id="title" data-title="{{title}}">{{title}} » Login</title>
    <meta name="robots" content="noindex">
</head>
<body>
<div class="d-flex">
    <div class="container-fluid"
         style="background-color: transparent; padding-top: 1em; padding-left: 2em; padding-right: 1em">
        <div class="row">
            <div class="col box nav text-center">
                <span class="navTitle" data-nav="home">{{title}}</span>
            </div>
        </div>
        <div id="content">
            <div class="row">
                <div class="col box" style="padding-top: 20px; padding-bottom: 20px;">
                    <h4>Login</h4>
                    <div class="row">
                        <div class="col">
                            <input type="text" id="uname" style="width: 100%" placeholder="Username">
                        </div>
                        <div class="col">
                            <input type="password" style="width: 100%" id="password" placeholder="Password">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-info mb-1" id="loginBTN" onclick="login()">Login</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="margin-bottom: 0;">This site uses only functional cookies and fonts hosted by Google, you accept that by logging in.
                            We use Cloudflare to provide you a better and safe experience!</p>
                            <small><a href="/imprint">Imprint</a></small>
                        </div>
                    </div>
                    <div class="row" style="">
                        <div class="col" id="bs_alertBox"
                             style="border: #ff0000 1px solid; background-color: rgba(255,0,0,0.1); display: none;padding-top: 5px">
                            Test
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/UTILS.js"></script>
<script src="/js/shortcut.js"></script>
<script>
    var canLogin = true;
    function login(){
        if (!canLogin)return;
        const alertBox = $("#bs_alertBox");
        const loginBTN = $("#loginBTN");
        alertBox.hide();
        const unameInput = $("#uname");
        const uname = unameInput.val().toLowerCase().replaceAll(/ /g,"_")
        unameInput.val(uname);
        const pwInput = $("#password");
        const password = pwInput.val();
        if (uname.length===0||password.length===0){
            canLogin = true;
            return;
        }
        loginBTN.html('<span class="dot-flashing" style="margin-left: 10px; margin-right: 10px"></span>');
        loginBTN.attr("disabled",true);
        canLogin = false;
        $.post("/login",{username: uname, password: password},(result)=>{
            if (result.type==="ERR"){
                alertBox.html(result.data);
                alertBox.fadeIn(1000);
                setTimeout(()=>{
                    canLogin = true;
                    loginBTN.attr("disabled",false);
                    loginBTN.html('Login');
                },500)
                return;
            }
            //login ok
            setTimeout(()=>{
                setCookie("TOKEN",result.data,3);
                window.location.href = '/';
            },250)
        });
    }

    function init(){
        shortcut.add("Enter", function () {
            if ($("#uname").is(":focus")||$("#password").is(":focus")) {
                login();
            }
        });
    }
    init();
</script>
</body>
</html>